body{
	font-family: "微软雅黑"!important;
}
.bg{
	background-color: #f5f5f5;
}
.bg_grey{
	background-color: #f0f0f0;
}
.lbtn{
	width: 100%;
	cursor: pointer;
}
.item_infohtml{
	font-size: 10px;
}
img{
	max-width: 100%;
	height: auto;
}
.btn_blue{
	color: #1face3!important;
	border: 1px solid #1face3;
}
.btn_black{
	color: #666!important;
	border: 1px solid #666;
}
.btn_active{
	background-color: #1face3!important;
	color: #fff!important;
}
.btn_disabled{
	background-color: #d9d9d9;
	color: #999;
}
.color_blue{
	color: #1face3!important;
}
.color_grey{
	color: #666!important;
}
.bg_blue{
	background-color: #1face3!important;
}
.color_white{
	color: #fff!important;
}
.m-saas-wrap,
.navbar_bottom_fix,.navbar_bottom_fix2{
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
}
.navbar_bottom_fix .btn_default{
	/*width: 100%;*/
}
.bb{
	border-bottom: .50rem solid #f0f0f0;
}
.bt{
	border-top: .50rem solid #f0f0f0;
}
.bb1{
	border-bottom: 1px solid #e0e0e0;
}
.bt1{
	border-top: 1px solid #e0e0e0;
}
.color_active{
	color: #1face3!important;
}
.mb50{
	margin-bottom: 50px;
}
.main-wrapper{

}


/*头部导航栏*/
.m_header{
	background-color: #fff;
	width: 100%;
	position: inherit;
	top: 0;
	height: 44px;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
    z-index: 20;
}
.m_header_bar{
	background-color: #fff;
	height: 44px;
	border-bottom: 1px solid #ccc;
	color: #666;
}

.m_header_bar .word,
.m_header_bar_blue .word{
	width: 50px;
	font-size: 17px;
}
.m_header_bar .word{
	color: #666;
}
.m_header_bar_blue .word{
	color: #fff;
}
.m_header_bar_blue .m_header_title,
.m_header_bar_blue .headerbar_r span{
	color: #fff;
}
.m_header_title{
	text-align: center;
	font-size: 18px;
	line-height: 44px;
	height: 44px;
	color: #333;
	font-weight: bold;
}
.m_icon_share,
.m_icon_shopcart{
	right: 0;
	top: 0;
}
.icon span{
	background: url(../images/saas_icon.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}
.head_info .into span{
	top: 0;
	bottom: 0;
	margin: auto;
	right: 15px;
}
.into span{
	background-position: 0 -77px;
	position: absolute;
	height: 16px;
	width: 10px;
	background-size: 160px 160px;
	right: 0;
	top: 18px;
}
.m_icon_goback,
.m_icon_goback_white{
	position: absolute;
	width: 35px;
	height: 44px;
	z-index: 1;
}
.m_icon_goback_white span,
.m_icon_goback span{
	height: 23px;
	line-height: 23px;
	background-size: 130px 130px;
	margin: 12px 0 0 15px;
	padding-left: 16px;
	font-size: 17px;
}
.m_icon_goback_white span{
	background-position: 0 -29px;
}
.m_icon_goback span{
	background-position: 0 0;
}
.code_img{
	padding: 0 .40rem;
	vertical-align: middle;
}
.headerbar_r{
	position: absolute;
	top: 0;
	right: 15px;
	height: 44px;
	line-height: 44px;
}
.headerbar_r span{
	height: 44px;
	font-size: 17px;
}
/*底部导航栏*/
.navbar_bottom_fix{
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.nav_bottom_wrap{
	height: 50px;
	overflow: hidden;
	background-color: #fff;
	color: #666;
	border-top: 1px solid #ccc;
}
.nav_bottom{
	width: 25%;
}
.nav_bottom span{
	width: 25%;
	font-size: 10px;
	color: #666;
}
.nav_bottom img{
	height: 28px;
	display: block;
	margin: 4px auto -2px;
}
.m_saas_icon span{
	background: url("../images/m_saas_icon.png") no-repeat;
	display: inline-block;
	cursor: pointer;
}
.navbar_bottom{
	text-align: center;
	float: left;
}
/*主体*/
.menu_list{
	background-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
}
/*注册*/
.input_default,
.m_saas_input{
	width: 100%;
	font-size: 17px;
	color: #999;
}
.input_default{
	padding: 15px 0 15px 3px;
}
.m_saas_input{
	padding: 17px  0 17px 3px;
}
.m_saas_input_code{
	width: 70%;
	padding: 17px  0 17px 3px;
	font-size: 17px;
	color: #999;
}
.btn_default{
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.btn_wrap{
	margin-top: 65px;
}
.zhuce_wrap{
	margin-top: 15px;
}
.input_item{
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.code{
	text-align: center;
	height: 54px;
	line-height: 54px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 17px;
}
.code_con{
	border-left: 1px solid #ccc;
	padding: 0 .60rem;
	color: #666;
}
.tips{
	font-size: 15px;
	line-height: 40px;
}
/*注册错误提示--已去掉*/
.zhuce_error p{
	height: 30px;
	line-height: 30px;
	color: #f23030;
	font-size: 14px;
}
/*登录*/
.saas_logo{
	text-align: center;
    height:140px;
    width:100%;
    position:relative;
}
.saas_logo img{
	max-height:140px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    right:0;
    margin:auto;
}
.login_con{
	margin-top: 44px;
}
.login_con_box{
	margin-top: 4rem;
}
.login_username{
	background: url('../images/m_saas_username.png') 10px 15px no-repeat;
	background-size: 22px 22px;
}
.login_username .m_saas_input,
.login_password .m_saas_input{
	padding-left: 4rem;
	width: 88%;
}
.login_password{
	background: url('../images/m_saas_password.png') 10px 15px no-repeat;
	background-size: 22px 22px;
	margin-top: 1.60rem;
}
.autologin{
	margin-top: 1.40rem;
	font-size: 17px;
	color: #999;
}
/*个人中心*/

.head_info{
	position: relative;
	text-align: center;
	height: 125px;
}
.head_bg{
	position: absolute;
	z-index: -1;
}
.head_bg img{
	vertical-align: middle;
	width: 100%;
	height: 125px;
}
.head_img{
	padding-top: 12px;
	padding-bottom: 12px;
}
.head_img img{
	width: 70px;
}
.in_item{
	height: 50px;
	line-height: 50px;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	display: -webkit-box;
	display: -moz-box;
	position: relative;
}
.my_item_img{
	width: 28px;
	line-height: 50px;
	display: table-cell;
}
.my_item_img img{
	vertical-align: middle;
}
.my_item .item_info{
	width: 96%;
}
.item_info{
	vertical-align: middle;
	width: 100%;
	margin-left: .60rem;
}
.item_info .my_text{
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	color: #333;
}
.item_info .renzheng{
	font-size: 16px;
	vertical-align: middle;
	margin-right: 45px;
    color:#f04545;
}
.myname{
	color: #fff;
}
/*修改个人信息*/
.revise_info .head_info{
	height: 102px;
}
.revise_info .m_saas_input,
.revise_info .input_default{
	width: 70%;
}
.revise_info .label_text{
	font-size: 17px;
	display: inline-block;
	width: 27%;
}
.input_active{
	color: #666;
}
.revise_info .in_item{
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
}
/*企业认证*/
.business_license .thumbnail{
	width: 20%;
	vertical-align: middle;
}
.business_license{
	padding: 1rem 0;
	position: relative;
}
.text{
	font-size: 17px;
	color: #333;
}
.business_license .text{
	vertical-align: middle;
	margin-left: 8%;
}
.business_license .into span{
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.m_icon_phone span{
	background-position: -10px -60px;
	width: 23px;
	height: 23px;
	background-size: 120px 120px;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 16px;
}
/*首页*/
.index_banner_img{
	vertical-align: middle;
	width: 100%;
}
.item3{
	width: 33.333%;
	float: left;
	text-align: center;
	padding: 1.50rem 0;
	box-sizing: border-box;
}
.item3 img{
	display: block;
	margin: 0 auto;
	width: 44%;
}
.item3 span{
	color: #666;
	margin-top: 1rem;
	display: inline-block;
}
.content{
	overflow: hidden;
}
/*用户协议*/
.agreement .menu_list{
	margin-top: 10px;
}
.agreement{
	color: #333;
}
.agreement h1{
	font-size: 15px;
	line-height: 36px;
}
.agreement h2{
	font-size: 14px;
	font-weight: normal;
	line-height: 35px;
}
.agreement p{
	font-size: 12px;
	line-height: 22px;
}
/*反馈*/
.icon_add span{
	background-position: -43px -68px;
	position: absolute;
	height: 22px;
	width: 22px;
	background-size: 140px 140px;
	right: 0;
	top: 13px;
}
.feedback_tabs{
	overflow: hidden;
}
.feedback .menu_list{
	margin-top: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
}
.feedback_tabs li{
	width: 50%;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border-bottom: 3px solid #e0e0e0;
}
.feedback_tabs li a{
	color: #666;
}
.feedback_tabs li a:hover{
	text-decoration: none;
}
.feedback_tabs .active{
	border-bottom: 3px solid #1face3;
}
.feedback_tabs .active a{
	color: #1face3;
}
.feedback_item{
	 font-size: 17px;
    padding: 2px 0 2px;
}
.feedback_item p{
	display: inline-block;
}
.feedback_con{   color: #666; padding: 15px 15px 22px;}
.feedback_con .btn_default{  margin: 18px 10% 0;
    width: 80%;
    height: 40px;
	line-height: 40px;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



.per_num {
    position: absolute;
    right: 18px;
    font-style: normal;
    top: 1px;
    color:#666666;
    font-size: 17px;
}
      .menu_title {
    font-size: 17px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 100%;
        }
.menu_title .margin {
    margin-left: 15px;
    margin-right: 15px;
}
    .btn_w50{
    display: inline-block;
    float: left;
    width: 50%;
    }
.btn_white{
            color: #1face3!important;
            background-color: #fff!important;
        }
.bor_s_1 {
    border: 1px solid #1face3;
}

.bg_f0f0f0{background-color: #f0f0f0; }
.cl_b_botom {border-bottom: none !important;}

.info_header_img{

    text-align: center;
    margin: 12px 22%;
    overflow: hidden;
    height: 76px;
    vertical-align: middle;
}
.info_name{
    vertical-align: top;
    padding-left: 15px;
    font-size: 17px;
    color: #666666;
    overflow: hidden;
    height: 76px;
    line-height: 76px;
}

.juese_item{
    width: 33.333%;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    float: left;
    color: #999;
}
.item_box span{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-position: 0 -169px;
    vertical-align: middle;
}
.item_box_sel span{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-position: -14px -169px;
    vertical-align: middle;
}
.mb70 {
    margin-bottom: 70px;
}
a .departl_b {
color:black;
}
.sy_c_s{
    padding: 6px 0 6px 3px;
    border: 1px solid #e0e0e0;
}
.black_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
        display: none;
}
.feedback_add {
    position: fixed;
    top: 44px;
    right: 6px;
    z-index: 1041;
    display: none;
}
.feedback_add img{
    height: 55px;
} 
.ptop_10{
padding-top: 10px;
}
.pbt_10{
padding-bottom: 10px;
}
.b_botom_1 {
    border-bottom: 1px solid #e0e0e0;
}
.black_z{background:#7f7f7f;opacity: 0.5;}
.feedback_type{ padding:0 7px;   z-index: 1041; position:absolute;top:25%;    left: 15px;
    right: 15px;
    top: 25%; 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
        display: none;
}
.feedback_type .title{font-size: 18px;height: 50px;line-height: 50px;text-align: center;border-bottom: 1px solid #e0e0e0;}
.feedback_type .item{height: 50px;line-height: 50px;font-size: 17px;color:#666666;border-bottom: 1px solid #e0e0e0;    padding:0 7px;}
.feedback_type .item_box span{
    width: 21px;
    height: 21px;
    margin-right: 5px;
    background-position: -21px -183px;
    vertical-align: middle;
}
.feedback_type .item_box_sel span{
    width: 21px;
    height: 21px;
    margin-right: 5px;
    background-position: 0 -183px;
    vertical-align: middle;
}
.feedback_type .close1{
       width: 26px;
    height: 26px;
    background-position: -42px -183px;
    float: right;
    margin-top: 12px;
}
.feedback_type .btn_default{
    margin: 15px 5% 21px;
}
.feedback_type .btn_default,.feedbackdetial .time{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.systeminfo .menu_list .item {
    height:75px;
}
.systeminfo .menu_list .item img {
        height: 50px;
    margin-top: 12.5px;
   display: inline-block;
}
.systeminfo .menu_list .item .right {
    border-bottom: 1px solid #e0e0e0; 
        margin-left: 60px;
}
.systeminfo .menu_list .item .right .title {
    height:49px;
    line-height:49px;
    font-size:18px;
    color:black;
}
.systeminfo .menu_list .item .right .info {
    height:25px;
    line-height:25px;
    font-size:15px;
    color:#999999;
}
    .systeminfo .menu_list .item .right i {
    /*float:right;
      color:#999999;
        font-size:15px;
            font-style: normal;*/



    color: #999999;
    position: absolute;
    font-size: 15px;
    font-style: normal;

    top: 12px;
    right: -8px;
    }
.s_info span{
    background-position: -72px -199px;
    width: 50px;
    height: 50px;
    margin-top: 12.5px;
    position: absolute;
}
.g_g_info span{
    width: 50px;
    height: 50px;
    background-position: -123px -199px;
    margin-top: 12.5px;
    position: absolute;
}
.g_g_info_new span{
    width: 50px;
    height: 50px;
    background-position: -177px -199px;
    margin-top: 12.5px;
    position: absolute;
}
.abount_logo{height: 180px;text-align: center;font-size: 17px;}
.abount_logo img{margin-top:33px;height: 90px;}
.c_6{color:#666666;}
.abount .list{
    background-color: #fff;
    padding: 0 15px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 17px;
    color:block;
}
.abount .item:first-child{border-top:none;}
.abount .item{height: 50px;line-height: 50px;overflow: hidden;border-top: 1px solid #e0e0e0;    position: relative;}
.abount .new_version{float: right;color: #999999;margin-right: 20px;}
.abount .new_version .new{    vertical-align: middle;
    height: 16px;
    margin-right: 6px;}
.abount_footer{
        position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
}
.abount_footer p{margin-bottom: 10px;}

.feedbackdetial{margin: 0 15px;}
.feedbackdetial .time{margin: 10px auto 15px;color:#ffffff;background-color: #cecece;width: 130px;text-align: center;}
.feedbackdetial .left{margin-bottom: 20px;}
.feedbackdetial .message{    position: relative;display: table; border: 1px solid #cccccc; background-color: #ffffff; padding: 10px 2.5% 13px;      word-break: break-all;  width: 67%;}
.feedbackdetial .right{ margin-bottom: 20px;}
.feedbackdetial .h_img{  width: 10.5%;}
.feedbackdetial .left .h_img{margin-right: 3.5%;}
.feedbackdetial .right .h_img{margin-left: 3.5%;}
.clear{clear: both;}
.c_9{color:#999999;}
.f_l{float: left;}
.f_r{float: right;}
 
.feedbackdetial span{
  display: inline-block;
    cursor: pointer;
    position: absolute;
    height: 16px;
    width: 10px;
}
.feedbackdetial .left span{
    background: url(../images/jt_icon.png) no-repeat;
    background-size: 10px 16px;
    top: 8px;
    left: -7px;
}
.feedbackdetial .right span{
    background: url(../images/jt_icon2.png) no-repeat;
    background-size: 10px 16px;
    top: 8px;
    right: -7px;
}
.navbar_bottom_fix2{
	position: fixed;
	bottom: 50px;
	left: 0;
	right: 0;
}
.mb100 {
    margin-bottom: 100px;
}
 
.depart_info .l_name{
	font-size: 17px;
	display: inline-block;
	width: 70%;
}
.depart_info .in_item{
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
}
.wb_ww{
word-break: break-all;
word-wrap: break-word;
}

/***pc  *****/
.pc-img {margin: 12px 10%;
}
.pc-content {
    margin: 10px 10%;
}
.pc-gl{
color:#2c2b2b;
font-size:20px;
}
.ta-ct {
    text-align: center;
}
.cl-b2{
color:#b2b2b2;
}
.pc-line {
    margin:15px 0;
  border-top:1px solid #a9a9a9;
}
.mt3 {
margin-top: 3px;
}
.mt10 {
margin-top: 10px;
}
.pc-jslist{
color:#5c5c5c;
font-size:15px;
margin: 0 auto;
    width: 200px;
}
 
.pc-jslist li {
position:relative;
    margin-bottom: 5px;
}
.pc-jslist li span {
   margin-left:30px;
}
.pc-icon i{
    position: absolute;
    background: url(../images/pc-icon.png) no-repeat;
    display: inline-block;
    cursor: pointer;
    height:20px;
    width:25px;
    left:0px;
    bottom:0px;
    position: absolute;
        background-size: 25px 172px;
}
.pc-icon i.ic1{
    background-position: 0 0px;
}
.pc-icon i.ic2{
    background-position: 0 -28px;
}
.pc-icon i.ic3{
    background-position: 0 -59px;
}
.pc-icon i.ic4{
    background-position: 0 -93px;
}
.pc-icon i.ic5{
    background-position: 0 -124px;
}
.pc-icon i.ic6{
    background-position: 0 -155px;
}

.feedback_con{
	padding-left: 15px;
	padding-right: 15px;
}
.feedback_con .btn_default{
	height: 40px;
	line-height: 40px;
}
/*优惠券*/
.coupon_item{
	margin-top: 10px;
	height: 153px;
}
.coupon_item .delivery,
.coupon_item .coupon_info{
	border-radius: 6px;
	position: relative;
	padding-left: 10px;
	color: #fff;
}
.coupon_overdue{
	background :#ccc url("../images/overdue.png") 250px center no-repeat;
	border-radius: 6px;
	background-size: 109px 98px;
}
.coupon_available .delivery,
.coupon_available .coupon_info{
	background-color: #ee4466;
}
.coupon_item .delivery::after{
	right: -8px;
	top: 44px;
}
.coupon_item .delivery::before{
	top: 44px;
	left: -8px;
}
.coupon_item .delivery::after,
.coupon_item .delivery::before{
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
}
.coupon_item .delivery{
	height: 52px;
	border-bottom: 1px dotted #fff;
}
.coupon_item .coupon_info{
	height: 101px;
}
.delivery .title_normal{
	color: #fff;
	line-height: 52px;
	font-size: 15px;
	font-weight: normal;
}
.coupon_info .coupon_term{
	position: absolute;
	right: 10px;
	top: 7px;
}
.delivery .getdate,
.coupon_info .coupon_reason{
	position: absolute;
	right: 10px;
	top: 0;
}
.coupon_term{
	text-align: right;
	font-size: 15px;
}
.coupon_term .end{
	display: inline-block;
}
.coupon_term .start,
.coupon_term .end{
	font-size: 14px;
}
.coupon_info .top,
.coupon_info .bottom{
	position: relative;
	font-size: 15px;
}
.coupon_info .top{
	height: 65px;
}
.coupon_info .bottom{
	height: 36px;
	line-height: 36px;
}
.coupon_cash{
	font-size: 50px;
}
.coupon_money{
	font-size: 20px;
}
/*邀请*/
.invitation{
	margin-top: 25px;
	font-size: 16px;
	text-align: center;
}
.invitation_img img{
	width: 70%;
	display: block;
	margin: 0 auto;
}
.invitation_text p{
	font-size: 17px;
	line-height: 25px;
}
.invitation_rule{
	margin-top: 15px;
}
.invitation_rule a{
	color: #1face3;
}
.invitation .btn_wrap{
	margin-top: 44px;
}
.invitation_code{
	padding-top: 10px;
	padding-bottom: 20px;
}
/*查看充值记录*/
.rec_h3{height: 50px;background: #f0f0f0;}
.rec_li h3{ font-weight:500;line-height: 50px; font-size: 16px;padding-left: 15px;}
.rec_li ul li .in{ border-bottom: 1px solid #e0e0e0;height: 60px;}
.rec_li ul li span,.rec_li ul li i,.rec_li ul li .my{display: block;float: left;  font-style: normal; display: block;}
.rec_li ul li span{color: #909090; width: 80px; margin-top: 10px; font-size: 15px;}
.rec_li ul li .my{margin-top: 5px;}
.rec_li ul li i{float: right; line-height: 60px; color: #666666; font-size: 15px;}
.rec_li ul li b,.rec_li ul strong{font-weight: normal; display: block;}
.rec_li ul li b{color: #333333; font-size: 20px;}
.rec_li ul strong{color: #666666; font-size: 15px;}
.rec_li ul li:last-child .in{border-bottom: none;}

.buy_i_sp3{float: right;}
.buy_i_sp2{float: right;}
/*购买应用*/
.adm{background: #fff;  width: 100%;}
.adm .in{position: relative; padding: 15px 0; height: 100px; box-sizing:border-box;}
.adm ul li{position: relative;}
.adm img{width: 60px; height: 60px; display: block;  position: absolute; left: 0px;}
.adm a{display: block;  margin-left: 78px; color: #666; font-size: 17px; padding-top: 6px;}
.adm p{display: block; margin-left: 78px; font-size: 15px; color: #999;padding-top: 3px;}
.edi{background:#fff; margin-top: 5px;}
.edi .edi_sp{width: 100%; display: block; color: #333; padding: 10px 0 0 0;}
.edi ul li{width: 31%; height: 40px; float: left; text-align: center; line-height: 38px; color: #666;margin-right: 8px; border: 2px solid #cccccc; margin-top: 10px; cursor: pointer; font-size: 15px;}
.edi ul{margin: 0 1px;overflow: auto;}
.edi ul li:nth-child(3){margin-right: 0px;}
.edi ul li.on{background: url(../images/m_51.png)no-repeat bottom right; border:2px solid #1face3;}
.edi_text{box-sizing:border-box;width: 100%; border:1px solid #e0e0e0; background: #f0f0f0; padding: 4%; margin-top: 10px;}
.edi_text span{padding-bottom: 5px; display: block; color: #333;}
.edi_text p{text-indent: 30px; line-height: 22px; color: #666; font-size: 15px;}
.purchase_application .application{
	padding: 20px 0 0 0; 
}
.space{
	margin-left: 15px;
	margin-right: 15px;
}
.buy .in{
	position: relative;
}
.price{
	font-size: 16px;
	color: #f04545;
	margin-left: 20px;
}
.buy_t{padding-top: 15px;background: #fff;overflow: auto;}
.buy_p{background: #fff;padding-bottom: 15px;}

.buy_t li,.buy_t input{width: 17px; height: 17px; background: url(../images/m_6.png) no-repeat center center; display: block; float:  left;cursor: pointer;}
.buy_t input{opacity: 0;}
.buy_t li{margin-top: 3px; margin-left: 20px; margin-right: 5px;}
.buy_t li.on{ background: url(../images/m_7.png) no-repeat center center}
.buy_t i{float: left; font-style: normal; font-size: 15px;}
.buy_t span{float: left;}
.buy_i{padding-top: 15px; background: #fff; width: 100%; height: 36px;padding-bottom: 15px;}
.buy_i_sp{float: left; height: 34px; line-height: 34px;}
.select{ width:184px; height:34px; margin:0 auto; font-family:"Microsoft Yahei"; font-size:16px; background:#fff; position:relative; border: 1px solid #cccccc; float: left; margin-left: 20px;}
.select span{ content:""; width:10px; height:10px; border-left:1px solid #ccc;border-bottom:1px solid #ccc; position:absolute;  top:11px; right:12px; transform:rotate(-45deg); transition:transform 0.3s ease-out,top 0.3 ease-out; cursor:pointer; }
.select p{ padding:0 15px; line-height:34px; cursor:pointer; text-indent: 5px; font-size: 15px;}

.select ul{ list-style-type:none; background:#fff; width:100%; overflow-y:auto; position:absolute; top:34px; left:0; max-height:0; transition: max-height 0.3s ease-out;z-index: 99;}
.select li{ padding:0 15px; line-height:34px; cursor:pointer;}
.select li:hover{ background:#e0e0e0;}
.select li.selected{ background:#39f; color:#fff; font-size: 15px;}

@-webkit-keyframes alide-down{
	0%{ transform:scale(1,0);}
	25%{ transform:scale(1,1.2);}
	50%{ transform:scale(1,0.85);}
	75%{ transform:scale(1,1.05);}
	100%{ transform:scale(1,1);}	
}
.select.open ul{ max-height:250px; transform-origin:50% 0; -webkit-animation:alide-down 0.5s ease-in; transition: max-height 0.2s ease-out;border-bottom: 1px solid #f5f5f5;z-index:99;
}
.select.open span{ transform:rotate(-225deg); top:18px; transition:all 0.3 ease-in;}

.buy_b{height: 45px; background: #fff; margin-top: 5px; display: block; color:#333; }
.buy_b .buy_i_sp{line-height: 44px; font-size: 17px; color: #666;}
.buy_b .buy_i_sp i{ font-size:22px; color:#c7c7cc;}
.buy_i_sp2{float: right; height:54px; line-height:54px; font-size:22px;}
.buy_su{background: #fff; margin-top: 5px; height: 55px; padding-bottom: 10px;}
.buy_su_sp{line-height: 54px;font-size: 16px;}
.buy_su_sp b{font-size:16px;color: #f04545; font-weight: normal; padding: 0 2px 0 5px;}
.buy_su .btn-default{background: #1face3; color: #fff; width: 100px; float: right; font-size: 16px;margin-top: 8px; height: 40px;}

.in{width: 92%; margin: 0 auto;}
/*交易详情*/
.amo{background: #fff;}
.amo span{color: #f04545; display: block; padding: 10px 0; font-size: 15px;}
.amo b{color: #333333; font-size: 60px; padding-bottom: 20px; display: block; font-weight: normal;}
.pay{ background:#fff; border-top: 5px solid #f0f0f0;}
.pay_t{overflow: auto;}
.pay_t img{width: 66%; display: block; margin: 0 auto; padding: 10px 0;}
.pay_t ul li{width: 33%; float: left;  padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;}
.pay_t ul li b,.pay_t ul li span{display: block; text-align: center; font-weight: normal; font-size: 16px; padding: 3px 0;}
.pay_t ul li b{color: #1face3; font-size: 14px;}
.pay_t ul li span{color: #909090; font-size: 12px;}
.pay .pay_li{height: 50px; line-height: 50px;border-bottom: 1px solid #e0e0e0; }
.pay .pay_li span{width: 120px;display: block; float: left;font-size: 16px;}
.pay .pay_li b{float: left; color: #1face3; font-weight: normal;font-size: 16px;}
/*意见反馈*/
.fee{background: #fff;position: relative;}
.fee_b{margin-top: 0px; border-top: 1px solid #cccccc;}
.fee_sub{width: 100%; text-align: center; line-height: 42px; height: 42px; color: #fff; background: #1face3; border-radius: 3px; border: none; font-size: 18px;}
.fee_1{margin-top: 5px;}
.fee_1 input{ font-size:16px;width: 100%; border: none; height: 42px; line-height: 42px; margin: 0 auto;padding: 0 4% 0; outline:none;}
.fee_2{margin-top: 5px;}
.fee_2 textarea{font-size:16px;width: 100%; border: none; height: 100px; line-height: 32px;  margin: 0 auto; padding: 0 4% 0; outline:none;}
/*应用详情*/
.adm_det .in{height: 135px;}
.det_inp{width: 100%; margin-top: 15px;}
.det_inp .btn-default{float: right;background: #1face3; color: #fff; width: 100px; font-size: 16px;margin-top: 0px; margin-left: 20px; height: 40px;}
.det_inp .btn1{background: #fff; border: 1px solid #1face3; color:#1face3; }
.det_inp .btn1:hover{background: #1face3; color: #fff; border: none;}
.det_inp .btn1:nth-child(3){margin-left: 0px;}
@media screen and (max-width:340px) {
.det_inp .btn1{width: 80px;}
.det_inp .btn1:nth-child(2){margin-left: 5px;}
}

.dat{background: #fff; margin-top: 5px; height: 75px;}
.dat ul li{width: 25%; float: left; position: relative; margin-top: 22px;}
.dat ul li span{font-size: 15px; text-align: center;display: block; color: #666;}
.dat ul li b{font-weight: normal; font-size: 15px; display:block;text-align: center; color: #1a1a1a;}
.dat ul li b strong{color: #ff4747; font-weight: normal;}
.dat ul li i{width: 1px; height: 20px; display: block; background: #e7e7e7; position: absolute; right: 0px; top: 6px;}
.dat ul li:nth-child(4) i{display: none;}
.sum{margin-top: 5px;background: #fff;}
.sum_text{padding: 10px 0;}
.sum_text b,.nfu_bo b{display: block;color: #333333;font-size: 16px; padding: 5px 0;}
.sum_text p,.sum_text span,.nfu_bo span,.nfu ul li{color: #666666; line-height: 22px;}
.sum_text p{text-indent: 30px; font-size: 15px;}
.sum_text span{font-size: 15px;}
.nfu{background: #fff; margin-top: 5px;}
.nfu_bo{padding-top: 10px;overflow: auto;}
.nfu_bo b{float: left;}
.nfu_bo span{float: right;font-size: 15px;}
.nfu ul{margin-top: 5px;}
.nfu ul li{font-size: 15px;}
/*应用详情_已开通*/
.ope{background: #fff;}
.det_inp span{display: block;line-height: 40px; height: 40px; font-size: 15px; float: left;}
.det_inp span b{font-size: 20px; font-weight: normal; color: #fb5858; padding: 0 2px;}
.adm_det ul li{overflow:auto;border-bottom: 1px solid #e0e0e0; padding-top: 15px; padding-bottom: 10px;}
.adm_ope .in{height: auto; padding-top: 0px;}
.header ul{width: 220px; height: 34px; margin: 0 auto; border: 1px solid #fff; border-radius: 3px; margin-top: 4px;}
.header ul li{float: left; text-align: center; line-height: 32px; width:109px; cursor: pointer;}
.header ul .ope_li1{color: #fff; font-size: 15px;}
.header ul li.on{background: #fff; color: #1face3;}
/*交易明细*/
.orange{
	color: #fb6b23!important;
}
.tab_head{
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
.tab_head li{
	float: left;
	width: 33.33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.tab_head li a{
	color: #333;
	height: 40px;
	display: inline-block;
	font-size: 16px;
    text-decoration:none;
}
.tab_head .active a{
	color: #1face3;
	border-bottom: 2px solid #1face3;
}
.tab_title{
	padding: 0 1rem;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.tab_title p.name{
	font-size: 14px;
	color: #666;
	float: left;
}
.tab_title .status{
	float: right;
}
.tab_item{

	background-color: #fff;
	overflow: auto;
	margin-top: 10px;
	border-width: 1px 0;
	border-color: #e5e5e5;
	border-style: solid;
}
.tab_con{
	position: relative;
	margin-top: 15px;
	overflow: hidden;
}
.tab_con .text{
	padding: .40rem 1rem;
	font-size: 14px;
	color: #999;
	background-color: #fafafa;
}
.tab_bottom{
	height: 45px;
	line-height: 45px;
	float: right;
	margin-right: 1rem;
}
.tab_bottom .way,
.tab_bottom .total{
	display: inline-block;
	font-size: 14px;
	color: #666;
}
.tab_bottom .total{
	margin-left: 1rem;
}
.tab_con .text p{
	line-height: 20px;
}
.tab_btn{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #e5e5e5;
	text-align: right;
}
.tab_btn .btn_default_s{
	margin-right:1rem;
}
.tab_con .total{
	text-align: right;
	height: 45px;
	line-height: 45px;
	padding: 0 1rem;
}
.green{
	color: #4cc043;
}
#complete .gopay{
	display: none;
}

.btn_default_s {
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 4px;
    width: 6rem;
    display: inline-block;
}

/*弹窗样式*/

.m_header_bar_blue{
	background-color: #1face3;
	height: 44px;
	color: #fff;
}

/*dialog*/
.btn_default:active{
	background-color: #1995c6;
}
.dialog-overlay{
	height: 100%;
	position: fixed;
	left: 0;
	text-align: center;
	top: 0;
	white-space: nowrap;
	width: 100%;
    z-index: 1112;
	display: block;
}
.dialog-overlay,
.dialog-overlay *{
	box-sizing:border-box;
}
.dialog-overlay::before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.dialog-overlay .dialog{
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	background-color: #fff;
	color: #666;
	border-radius: 6px;
}
.dialog-overlay .dialog .dialog-popup-title{
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	color: #333;
	border-bottom: 1px solid #1face3;
	position: relative;
}
.dialog-overlay .dialog-cont{
	min-width: 280px;
	min-height: 134px;
	color: #333;
	padding: 20px 15px;
    max-width: 300px;
}
.dialog-overlay .dialog-cont .name{
	font-size: 15px;
}
.dialog-overlay .dialog-cont .price{
	font-size: 30px;
	line-height: 60px;
}
.dialog-overlay .dialog-cont .pay-way{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.dialog-overlay .dialog-cont .pay-way span{
	height: 42px;
	line-height: 42px;
	font-size: 17px;
}
.dialog-overlay .dialog-cont .btn_box{
	margin-top: 19px;
}
.dialog-overlay .dialog-cont .btn_box .btn_default{
	width: 100%;
	border-radius: 4px;
	display: inline-block;
}
.dialog-overlay .dialog-cont .btn_box .btn_default:active{
	background-color: #1995c6!important;
}
.dialog-overlay .dialog-popup-title .pay-close{
	font-size: 23px;
	font-weight: 500;
	color: #b1b1b1;
	text-shadow:0 1px 0 #fff;
	line-height: 50px;
	position: absolute;
	left: 15px;
	cursor: pointer;
}

/*财务账户*/
.financial_account .account{
	padding-top: 18px;
	padding-bottom: 18px;
}
.account_balance{
	margin-left: 60px;
}
.account_balance .name{
	color: #333;
}
.account_balance .priceNum{
	color: #909090;
}
.account_img{
	position: absolute;
	left: 15px;
	top: 22px;
	vertical-align: middle;
}
.account_balance span{
	display: block;
	font-size: 17px;
	line-height: 27px;
}
.account_img img{
	width: 35px;
}
.systeminfo .menu_list .item .right .title-lit {
    height: 36px;
    line-height: 36px;
    margin-top: 5px;
}
.systeminfo .menu_list .item .right .i-nop {
    top: 40px;
    left: 60px;
    display: block;
}
.systeminfo .menu_list .item .right .info-visi {
    visibility:hidden;
}
.adm_det .li-ovh {
    overflow: hidden !important;
}


.pt{
  padding-top: 10px;
}
.mt25{
  margin-top: 25px;
}
