@charset "UTF-8";
header h2 {
    margin-left: 5%;
    width: 85%;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    font-weight: normal;
}
.footer .save{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.footer .home_a span {
    background-position: 0 -21px;
}
.contentWrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    top: 44px;
}

.passwordWrapper input {
    width: 90%;
    padding: 5px 0;
    font-size: 1em;
}
.passwordWrapper input:first-child {
    margin-top: 10px;
}
.chargeWrapper h3 {
    width: 100%;
    height: 44px;
    padding-left: 5%;
    line-height: 44px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 1.15em;
}
.chargeBox {
    width: 100%;
    height: auto;
    background: #fff;
}
.chargeBox p {
    width: 90%;
    height: 50px;
    margin: 0 5%;
    line-height: 50px;
    color: #666;
    border-bottom: 1px solid #ebebeb;
}
.chargeBox p:last-child {
    border-bottom: 0;
}
.chargeBox p>span {
    display: inline-block;
}
.chargeBox p span:nth-child(1) {
    width: 4em;
    padding: 0 1%;
    height: auto;
    margin-right: 0.5em;
    line-height: 20px;
    margin-top: 5px;
}
.chargeBox p span:nth-child(2) {
    color: #000;
    font-size: 16px;
}
.balanceWrapper {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
}
.balanceWrapper .balanceLogo {
    margin-left: 2%;
    width: 50px;
    height: 50px;
    background: url("../images/money.png") no-repeat;
    background-size: 100%;
    margin-top: 15px;
}
.balanceWrapper .balanceTxt {
    height: 24px;
    margin-top: -15px;
    font-size: 1.15em;
    display: block
}
.balanceWrapper .balance {
    color: #999;
    font-weight: bold;
}
.recharge-wrapper {
    margin-right: 5%;
}
.recharge {
    border: 1px solid #6cc272;
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    color: #6cc272;
    font-size: 1.1em;
    width: 3.5em;
    background: #fff;
    display: inline-block;
    padding: 0 8px;
}
.balanceBox {
    width: 100%;
    height: auto;
    background: #fff;
}
.balanceBox a {
    display: block;
    margin: 0 5%;
    width: 90%;
    height: 55px;
    line-height: 55px;
    color: #333;
    border-bottom: 1px solid #ebebeb;
}
.balanceBox a:last-child{
    border-bottom:0;
}
.balanceBox a span {
    font-size: 1.1em;
    font-weight: 500;
}
.balanceBox .preMore {
    background-position: 0 -238px;
    margin-top: 20px;
}
/*,.integralShow*/
.integralShow {
    width: 100%;
    color: #fff;
    position: relative;
}
.integralWrapper,.integralBox{
    width: 100%;
    height: 11em;
    color: #fff;
    background: #6dc173;
    position: relative;
}
.integralWrapper p {
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 5%;
    position: absolute;
    top: 50%;
}
.integralWrapper p strong {
    font-size: 1.5em;
}
.integralWrapper p:first-child {
    position: absolute;
    top: 30%;
}
.integralBox {
    line-height: 60px;
    height: 60px;
    background: #f5f5f5;
    border-bottom: 1px solid #ebebeb;
}
.integralContent,.integralContent1 {
    line-height: 50px;
    height: 50px;

    overflow:hidden;
}
.integralBox span {
    display: inline-block;
    margin-left: 5%;
    color: #fff;
    line-height: 50px;
}
.integralBox span:nth-child(1) {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}
.integralBox .pxx {
    background: url("../images/money.png") no-repeat center center;
    background-size: 100%;
}
.integralShow {
    /*height: auto;*/
    color: #333;
    background: #fff;
}
.integralShow p {
    margin: 0 1rem;
    /*width: 90%;*/
    height: 60px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}
.integralShow p span {
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
}
.integralShow p:nth-child(1) {
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
}
/*.integralTxt,.integralTime {
    position: absolute;
    left: 0;
    top: 5px;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}*/
.integralShow .integral-item{
    color:#333;
    margin:0 1rem;
    padding-right:55px;
    min-height:60px;
    position: relative;
    border-bottom:1px solid #e1e1e1;
    padding-top:10px;
    padding-bottom:10px;
}
    .integralShow .integral-item .integralTxt {
        font-size:15px;
        width:100%;
        display:block;
    }
    .integralShow .integral-item .integralTime {
        font-size:13px;
        width:100%;
        display:block;
        color:#666;
        font-weight:normal;
        margin-top:5px;

    }
.integralNum {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 1.5em;
    font-weight: 600;
    color: #6dc173;
    margin-top: -15px;
}
/*.integralTime {
    top: 45%;
    font-size: .9em;
    font-weight: normal;
    color: #666;
}*/
.personWrapper {
    height: auto;
    overflow: auto;
}
.personWrapper .topbar_mess {
    top: 30px;
}
.personLogo {
    width: 90%;
    margin: 0 5%;
    position: absolute;
    top: 48%;
}
.personLogo span {
    display: inline-block;
}
.personLogo .logo {
    position: absolute;
    left: 0;
    width: 4em;
    height: 4em;
    border-radius: 50%;
/*     background: url("../images/pro12.jpg") no-repeat;border: 1px solid #e7e7e7; */
    background-size: 100%;
}
.personLogo .logo img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}
.personLogo .tit,.personLogo .tit1 {
    position: absolute;
    left: 70px;
    top: 5px;
}
.personLogo .tit1 {
    top: 18px;
    color:#fff;
}
.personLogo .txt {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 5em;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
.personLogo .edi {
    position: absolute;
    right: 0;
    top: 13px;
    width: 9em;
    padding: 0 5px;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
    text-indent: 1em;
    border-radius: 18px;
    margin-right: -4em;
    background: rgba(255,255,255,0.2);
}
.integralContent1 li {
    height: 24px;
    width: 33.33%;
    margin-top: 15px;
    text-align: center;
    line-height: 24px;
    border-right: 1px solid #fff;
    float:left;
    position: relative;
}
/*.integralContent1 li:first-child {
    margin-left: 2%;
}*/
.integralContent1 li:last-child {
    border-right: 0;
}
.integralContent1 i,
.integralContent1 em{
    display:block;
    width:100%;
    text-align:center;
}
.integralContent1 em{
    margin-top:-12px;
}
.myOrder,.processWrapper {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e7e7e7;
}
.myOrder span {
    display: inline-block;
}
.myOrder span:nth-child(1) {
    width: 25px;
    height: 25px;
    margin-left: 5%;
    margin-top: 12px;
}
.myOrder span:nth-child(2) {
    margin-left: 5%;
}
.myOrder a {
    margin-right: 12%;
    color: #ccc;
}
.myOrder .preMore {
    background-position: 0 -237px;
    margin-top: 18px;
}
@media (min-width: 640px) {
    .myOrder .preMore {
        right: 20%;  
    }
}
.processWrapper {
    height: 5em;
    line-height: 4.5em;
}
.processWrapper a {
    position: relative;
/*     display: inline-block; */
    float: left;
    color: #333;
    width: 25%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
/*.processWrapper a:nth-child(1) {
    margin-left: 5%;
}*/
.processWrapper a i,.processWrapper a span,.processShow a i,.processShow a span {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 50%;
    margin-left: -12px;
}
.processWrapper a span {
    width: 100%;
    left: 50%;
    top: 15px;
    margin-left: -50%;
}
.processWrapper a:nth-child(1) i {
    background-position: 0 -25px;
}
.processWrapper a:nth-child(2) i {
    background-position: -28px -25px;
}
.processWrapper a:nth-child(3) i {
    background-position: -60px -25px;
}
.processWrapper a:nth-child(4) i {
    background-position: -88px -25px;
}
.processWrapper em{
    display: inline-block;
    float: left;
    margin-left: 1.2em;
    margin-top: -.15em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #6cc272;
    
    text-align: center;
}
.processWrapper .proc_num {
    display: inline-block;
    font-weight: normal;
    padding: 0 1px;
    min-width:14px;
    height: 14px;
    line-height:14px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border-radius:7px;
    position:absolute;
    right:-6px;
    top:0;
}
.processShow {
    height: auto;
    overflow: auto;
    padding-bottom: 55px;
}
.processShow a {
    position: relative;
    display: block;
    width: 90%;
    color: #333;
    margin: 0 5%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.processShow a em {
    right: 0;
    background-position: 0 -236px;
    top: 6px;
}
.processShow a i {
    left: 5%;
    top: 5px;
}
.processShow a span {
    left: 3.5em;
    width: auto;
    top: 0;
}
@media (min-width: 640px) {
    .processShow a span {
        left: 5em;
    }
}
.icon-collect {
    background-position: 0 -50px;
}
.icon-evaluate{
    background-position: -24px -50px;
}
.icon-stop{
    background-position: -50px -50px;
}
.icon-set{
    background-position: -73px -50px;
}
.icon-money{
    background-position: -100px -49px;
}
.integralWrapper1 {
    overflow: hidden;
}

.dsn {
    display: none;
}
.dsb {
    display: block;
}
.footer .home_a  span{
    background-size: 22px 217px;
}
.top_mess {
    background-position: 0 -280px;
}
.redDot{
    background: #f76065;
    width: 6px;
    height: 6px;
}
.footer .mine_a {
    background-position: 0 -170px;
    color: #6cc272;
}
.pa-ipt {
    display: block;
    width: 90%;
    height: 45px;
    line-height: 45px;
    margin: 0 5%;
    text-indent: 10px;
    font-size: 1.1em;
    color: #666;
    border-bottom: 1px solid #e7e7e7;
}
.clear-fix {
    content:"";
    display:block;
    clear:both;
}
.balanceWrapper .ovh {
    height: 80px;
    overflow: hidden;
}
.openedShop {
position: absolute;
    line-height: 25px;
    right: 5% !important ;
}
.point_empty {
position: inherit; margin: 30% auto 0;
}
/*0208个人中心-佣金*/
.display-list .list-item{
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    padding:10px 0;
}
.display-list .list-item .list-img{
    width:120px;
    float:left;
    margin-right:5px;
}
.display-list .list-item .text-wrap{
    font-size:14px;
    color:#333;
}
.display-list .list-item .text-wrap .list-line .intro{
    font-size:14px;
    color:#666;
}
.display-list .list-item .text-wrap .list-line {
    line-height:20px;
    color:#957f55;
}
.display-list .list-item .text-wrap .intro.rate{
    color:#ff8a00;
}
.display-list .list-item .text-wrap .list-line .a-link{
    margin-right:5px;
}
.display-list .list-item .text-wrap .pro-intro{
    margin-bottom: 3px;
    font-size: 14px;
    max-height:39px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.height-39{
    height: 39px;
}
.warning-txt{
    background-color:#fcf8e3;
    border-bottom:#fbeed5;
    font-size:15px;
    color:#666;
    padding-top: 10px;
    padding-bottom:10px;
}
.warning-txt .price{
    font-weight:bold;
}
.separate-box {
    overflow:hidden;
    background-color:#f5f5f5;
    font-size:15px;
}
.separate-box ul li{
    float:left;
    width:25%;
    text-align:center;
    position:relative;
}
.separate-box ul li:after{
    content:"";
    display:inline-block;
    width:1px;
    height:20px;
    background-color:#999;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-10px;
}
.separate-box ul li:last-of-type:after{
    display:none;
}
.user-search-wrap{
    background-color:#f5f5f5;
}
.user-search-wrap .s_input{
    width:100%;
    height:30px;
    background-color:#fff;
    border-radius:4px;
    padding-left:30px;
}
.user-search-wrap .ipt_word {
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
    color: #999;
    font-size: 15px;
    width:42px;
}
.user-search-wrap .search_pr{
    position:relative;
    padding-right:50px;
}
.user-search-wrap .search_pr .icon_search{
    position:absolute;
    left:0;
    top:0;
}
.icon-filter{
    background: url('../images/icon-filter.png') right center no-repeat;
    background-size:12px 12px;
}
.calendar-wrap{
    background-color:#f5f5f5;
    text-align:center;
    padding-top:7px;
    padding-bottom:8px;
}
.calendar-wrap .calendar-item{
    background-color:#fff;
    width:135px;
    border-radius:4px;
    display:inline-block;
    font-size:15px;
    color:#333;
}
.calendar-wrap .calendar-item .weui_cell{
    padding:3px 15px;
}
.calendar-wrap .rule{
    vertical-align:sub;
    margin-left:5px;
    margin-right:5px;
}
.calendar-wrap .calendar-item .weui_cell_ft{
    color:#333;
}
.calendar-wrap .calendar-item .weui_cell_ft.with_arrow:after{
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-color: #333;
    height: 8px;
    width: 8px;
    top:-3px;
    border-width: 1px 1px 0 0;
}
.promo-dedicated-code{
background-color:#fff;z-index: 1002;
    position: fixed;
    height: auto;
    width: 290px;
    top:150px;
    border-radius: 4px;
}
.commissionpro  .commi_item{
    margin: 10px 1rem;
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 26px;
}
.color-666{
    color: #666;
}