@model List<YSWL.MALL.Model.Shop.Products.ProductInfo>
<div class="floor">
    @if (Model != null && Model.Count > 0)
    {
        <div class="floor_container">
            <div class="recommendtip">
                <div class="title">
                    <em></em>
                    相关商品
                </div>
            </div>
            <div class="floor_item">
                <div class="pro_container2_list">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="@(ViewBag.BasePath)p/d/@item.ProductId">
                                    <div class="list_item">
                                        <div class="pro_img">
                                            <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T420X420_")" onerror="this.onerror = ''; this.src = '/Content/themes/base/images/404/404_1.png'" />
                                        </div>
                                        <div class="pro_info">
                                            <p class="name">@item.ProductName</p>
                                            <p class="price">￥@item.LowestSalePrice.ToString("F")</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    }
</div>
