@model List<YSWL.MALL.Model.Shop.Products.CategoryInfo> 
@if (Model != null && Model.Count > 0)
{
    <ul class="content_list clearfix">
      @foreach (var item in Model)
      {
        <li class="fl">
          <a href="@(ViewBag.BasePath)p/@item.CategoryId">
                     <img src="@item.ImageUrl" alt="@item.Name">
                           <span>@item.Name</span>
            </a>
        </li>
      }
    </ul>
} 