    <!--START addSuccess-->
<div class="addSuccess">
    <!--<span></span>-->
    <img src="/Areas/MShop/Themes/MC01/Content/images/sharingSucess.png" />
    <span class="addText">加入购物车成功！</span>
</div>
<div class="no-shop">
    <span>商品无货</span>
</div>
<!-- END addSuccess -->