

<span class="si topbar_mess top_mess" onclick="window.location.href = '@(ViewBag.BasePath)u/SysInfo'" >

    
        @if (ViewBag.NoReadCount > 0)
        {
            <i class="hideDot redDot" a="@ViewBag.NoReadCount"></i>
        }
    
</span>
