 <!---上拉加载更多提示-->
<div id="loadingMore" class="dsn" style="width: 100%;margin:10px auto 5px;text-align: center;">
    <img style="width: 20px; float: left;margin-left: 35%;" src="/Areas/MShop/Themes/MC01/Content/images/loading.gif" />
    <span style="margin-top: -2px;float: left;margin-left: 10px;color: #ccc">加载中...</span>
</div>
 <!---上拉加载没有更多提示-->
<div id="noMoreProduct" class="noMoreProduct dsn">没有更多...</div>
 <!---页面内容加载提示-->
<div  id="pageLoading" class="to_loading dsn">
    <img src="/Areas/MShop/Themes/MC01/Content/images/loading.gif" alt="" />
    @*<span>正在加载...</span>*@
</div>

 <!---遮罩loading-->
<div id="bg"></div>
<div class="tot_loading" id="bgloading">
    <img src="/Areas/MShop/Themes/MC01/Content/images/loading.gif" alt="" />
    @*<span>正在加载...</span>*@
</div>

@*<script>
            //显示 loading刷新
             $("#bgloading,#bg").css({
                height:$(window).height(),
                display:'block'
            });
    </script>*@