<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Key" value="eKcPSVEwC/dTgx3uyop48A=="/>
    <add key="IV" value="CPGJZ95gatDfIfnxX8WQUA=="/>
  </appSettings>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="YSWLSqlServer"/>
  <connectionStrings>
    <add name="YSWLSqlServer" connectionString="server=192.168.1.10;database=D00B2B;uid=sa;pwd=1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <!-- Payment Handler -->
      <add verb="*" path="pay/return_url.aspx" type="YSWL.Common.Handler.StealLinkHandler4Flv, YSWL.Common, Version=3.5, Culture=neutral"/>
    </httpHandlers>
    <!--<httpRuntime executionTimeout="90" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>-->
  </system.web>
</configuration>
