@{
    Layout = "~/Areas/CMS/Themes/Default/Views/Shared/_CMSLayout.cshtml";
}
@model YSWL.MALL.ViewModel.CMS.Photo
<script src="/Scripts/jquery/maticsoft.waterfall.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ys56Footer").show();
    });
</script>
<div class="main">
    <!--MainMenu BEGIN-->
    @Html.Action("MainMenu", "Partial")
    <!--MainMenu End-->
 @{Html.RenderPartial("PhotoList", Model);}
 </div>