@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <script src="/Scripts/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery/maticsoft.ajaxupload.js" type="text/javascript"></script>
    <title>YSWL - 移动设备上传图片Demo</title>
    <script type="text/javascript">
        $(function () {
            var button = $('#btnUpload');
            new AjaxUpload(button, {
                action: '/UploadImageDemo.aspx',
                data: {
                    'Type': 'POST'
                },
                name: 'upfile',
                onSubmit: function (file, ext) {
                    $('#msg').text("正在上传, 请稍候...");
                    $('#image').hide();
                    if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)) {
                        this.setData({
                            'info': '文件类型为图片'
                        });
                    } else {
                        $('#msg').text("请上传图片类型");
                        return false;
                    }
                },
                onComplete: function (file, response) {
                    if (response == "-1") {
                        $('#msg').text("上传图片不能大于5M");
                        return;
                    }
                    $('#msg').text("上传成功");
                    $('#image').attr('src', response);
                    $('#image').show();
                }
            });
        });
    </script>
</head>
<body>
    <div>
        <h1>
            YSWL - 移动设备上传图片Demo</h1>
        <hr />
        <br />
        <div id="btnUpload">
            <h3>
                点此上传图片</h3>
        </div>
        <hr />
        <br />
        <h4 id="msg" style="color: red">
        </h4>
        <img id="image" style="display: none" />
    </div>
</body>
</html>
