@model  YSWL.MALL.Model.Settings.Advertisement
            @if (Model != null)
            {
              <a href="@Model.NavigateUrl"  title="@Model.AdvertisementName" target="_blank"><img src="@Model.FileUrl" alt="@Model.AdvertisementName" border="0"  ></a>  
            }

