@model List<YSWL.MALL.Model.Settings.Advertisement>
<div class="loginL">
    <p>
        @if (Model != null&&Model.Count>0)
        {
           
            <a href="@Model[0].NavigateUrl" target="_blank">
                <img src="@Model[0].FileUrl" width="492" height="394" />
            </a>
            
        }
    </p>
</div>
