<a href="@(ViewBag.Basepath)Account/Login" class="nav-lk login">
  [登录]
</a>
<a href="@(ViewBag.Basepath)Account/Register" class="nav-lk login">
    [注册]
</a>
<script type="text/javascript">
    $('#welcomeTxt').show();
</script>