@model List<YSWL.MALL.Model.Shop.Products.HotKeyword>
 @if (Model != null && Model.Count > 0)
 {

     foreach (var item in Model)
     {
             <dd><a href="@(ViewBag.BasePath)search/@ViewBag.Cid/0/default/0-0/@item.Keywords">@item.Keywords </a></dd>
     }
     

 }
