<a href="@(ViewBag.Basepath)UserCenter" class="nav-lk login">
    <span class="icon icon-user"></span>
    <span class="username">@ViewBag.loginnickname</span>
</a>
<a href="@(ViewBag.Basepath)Account/Logout" class="nav-lk link-logout">退出</a>