@{
    Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_BaseLayout.cshtml";
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string type = Request.RequestContext.RouteData.Values["type"] != null ? Request.RequestContext.RouteData.Values["type"].ToString() : "rec";
}
@model YSWL.MALL.ViewModel.Shop.ProductListModel
<script src="~/Scripts/jquery/maticsoft.img.min.js"></script>
<div class="activity bgc">
    <div class="a-remmendNew">
        @Html.Action("AD", "Partial", new { AdvPositionId = 112, ViewName = "_RecAD" })
        <div class="activity-con wrap">
            <div class="a-hd">
                <div class="title">
                    @switch (type)
                    {
                        case "rec":
                            <h1>推荐商品</h1><span></span>
                            break;
                        case "hot":
                            <h1>畅销商品</h1><span></span>
                            break;
                        case "cheap":
                            <h1>今日热卖</h1><span></span>
                            break;
                        case "new":
                            <h1>新品推荐</h1><span></span>
                            break;
                        case "irec":
                            <h1>分类首页推荐</h1><span></span>
                            break;
                        default:
                            <h1>推荐商品</h1><span></span>
                            break;
                    }
                </div>
            </div>
            <div class="a-bd" id="tab_a">
                @Html.Action("CategoryList", "Partial", new { Cid = 0,Top = 0, ViewName = "/Areas/Shop/Themes/PC01/Views/Recommend/_CateList.cshtml" })
                <div id="ProductListDiv">
                    @{Html.RenderPartial("_ProductList", Model);}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/MvcPager-1.8.js" type="text/javascript"></script>