@{
    Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "修改密码";
}
<link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
<link href="/Areas/MShop/Themes/MC01/Content/Css/user.css" rel="stylesheet" />
<script src="/Areas/MShop/Themes/MC01/Content/Scripts/UserCenter/updatepassword.js"></script>
<header class="fixed_header main_wrapper">
@Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_Back.cshtml")
    
    <h2>修改密码</h2>
</header>
<!--END HEADER-->
<div class="top"></div>
<div class="passwordWrapper main_wrapper">
    <div class="new_ipt">
        <div class="pa-ipt">
            <input name="txtPwd" id="txtPwd" type="password" placeholder="请输入原密码"/>
        </div>
    </div>
    <div class="new_ipt">
        <div class="pa-ipt">
            <input name="txtNewPwd" id="txtNewPwd" type="password" placeholder="请输入新密码"/>
        </div>
    </div>
    <div class="new_ipt">
        <div class="pa-ipt">
            <input id="txtConfirmPwd" name="txtConfirmPwd" type="password" placeholder="确认密码"/>
        </div>
    </div>
</div>

<footer class="footer main_wrapper">
    <a href="javascript:void(0);" onclick="submit()" class="save">保存</a>
</footer>