 
 @{
     Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
     ViewBag.Title = "个人中心--积分互转";
     YSWL.MALL.Model.Members.UsersExpModel UserInfo = ViewBag.UserInfo;
 }
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
}

<link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
<script src="/Areas/MShop/Themes/MC01/Content/Scripts/sendPoint.js"></script>
<div class="main_wrapper" id="mainPage">
    <!--START HEADER-->
    <header>
        <div class="top_navbar fixed_header">
            @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_Back.cshtml")
            <p class="header_title">积分互转</p>
        </div>
    </header>
    <!-- END HEADER -->
    <div class="top"></div>
    <!--START 主体-->

    <div class="menu_list">
        <div class="yy"></div>
        <div class="index_h1">只有成为商家后，才可以下发积分</div>
        <div class="index_h1">您当前的商城积分:<span class="integral_a1">@UserInfo.Points</span> &nbsp;&nbsp;&nbsp;&nbsp;<a href="@(ViewBag.BasePath)Store/Apply" class="usercenterbtn">申请成为商家</a></div>
        <div class="input_item"></div>
        <div class="input_item" >
            <input id="txtNickName" name="txtNickName" type="text" placeholder="填写积分接收的用户名" class="spec_ipt">
            <div id="nciknameTip" class="txterror tipClass"></div>
        </div>
        <div class="input_item">
            <input id="txtTitle" name="txtTitle" type="text"   placeholder="商城积分数量" class="spec_ipt">
            <div id="titleTip" class="txterror tipClass"></div>
        </div>

        <div class="zhuce_wrap">
            <div class="big_btn btn_green">
                <input class="btn btn-important-large" style="line-height: 30px; background-position: 100% -78px;
                    padding-right: 10px; font-weight: bold;" type="button" value="发送积分" id="btnUpdatepersonal"
                       onclick="submit();" />
            </div>
        </div>
    </div>
    <!-- END 主体 -->
    <!-- ################-->
</div>
