 @{
    Layout = "~/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
}

<div class="main_wrapper">
    <!--START HEADER-->
    <header>
        <div class="top_navbar fixed_header">
            <p class="header_title">链接失效</p>
        </div>
    </header>
    <!-- END HEADER -->
    <div class="top"></div>
    <div class="pay_result_wrapper">
        <div class="con">
            <div class="pic_wrap">
                <div class="txt green f20">
                    对不起，该链接已过有效期，请在微信重新获取
                </div>
            </div>
            <div class="result_txt">
                <div class="info">
                    如果有疑问，请联系网站管理员
                </div>
            </div>
        </div>
    </div>
    <!-- ################-->
    <!-- END TOP MENU -->
    <!-- ################-->

</div>

