@{
    Layout = "~/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
}
  <div class="main_wrapper">
    <!--START HEADER-->
    <header>
        <div class="top_navbar fixed_header">
            <a href="javascript:;" class="si icon_goback"  id="c_back">
            </a>
            <p class="header_title">支付成功</p>

        </div>
    </header>
    <!-- END HEADER -->
    <div class="top"></div>
    <div class="pay_result_wrapper">
        <div class="con">
            <div class="pic_wrap">
                <img src="/Areas/MShop/Themes/MC01/Content/images/success.png" >
                <div class="txt green f20">
                    @(ViewBag.HasPay ? "您已成功支付，" : "")我们将安排发货，请注意查收。
                </div>
            </div>
            <div class="result_txt">
            </div>
        </div>
        <div class="btn_wrapper">
            <a  href="@(ViewBag.BasePath)UserCenter/Orders">
                <input type="button" class="b_btn btn_green" value="查看订单">
            </a>
        </div>
    </div>
    <!-- ################-->
    <!-- END TOP MENU -->
    <!-- ################-->

</div>
 
<input type="hidden" value="@ViewBag.OrderId" id="OrderId"/>
<script type="text/javascript">
    $(function () {
        //返回按钮
        $('#c_back').click(function () {
            window.location.replace($YSWL.BasePath + "O/oi/@ViewBag.OrderId");
        });
    });
</script>