 @{
     Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_BaseLayout.cshtml";
 }
<script type="text/javascript">
    $(function () {
        $("#btnSend").click(function () {
            $.ajax({
                url: $YSWL.BasePath + "Account/SendEmail",
                type: 'post', dataType: 'text', timeout: 10000,
                data: { Action: "post", Email: '@ViewBag.Email', Type: 0 },
                success: function (resultData) {
                    if (resultData == "success") {
                        ShowSuccessTip("重新发送邮件成功！");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowFailTip("发送邮件失败：" + errorThrown);
                }
            });
        });
        $("#guide_2").mouseover(function () { $("#category").show(); }).mouseout(function () { $("#category").hide(); });

    });
</script>

<div class="contentWrap" >
        <div class="box box-pwd">
                <h2 class="from-sm-title">
                    注册成功</h2>
            <div class="bd" style="border:0px;">
                <div id="tab_regi">
                    <div class="J_tab_panel">
                     <div class="login_k">
      	<div class="xxts ">
            <span style="font-size: 16px; color: #999;font-family: '微软雅黑';line-height: 30px;">已成功发送邮件，请登录邮箱进行处理</span>
            <p style="font-family: '微软雅黑';line-height: 30px;">我们已将注册验证邮件发送到您的邮箱 @ViewBag.Email，请点击邮件中的“激活帐号链接”来完成帐号激活。</p>
            <div>
                
                <p><a href="@ViewBag.EmailUrl" ><img src="/Areas/Shop/Themes/PC01/Content/images/dlyx.gif" width="100" height="50" /></a></p>
                <p class="l" style="font-family: '微软雅黑';line-height: 30px;">没收到激活帐号邮件？请稍等……<br />
                      若仍未收到激活帐号邮件，请<a  href="javascript:void(0)" id="btnSend" style="color: red;">点击这里</a>重新发送</p>
                <span class="cl2"></span>
            </div>
        </div><br class="cl" />
    </div>

                    </div>
            
                </div>
            </div>
        </div>
    </div>
