<?xml version="1.0"?>
<!--混合渠道: https://doc.open.alipay.com/doc2/detail.htm?spm=0.0.0.0.Nz80L8&treeId=63&articleId=103763&docType=1 -->
<banks>
  <bank code="BOCB2C"  name="中国银行"  enabled="true" />
  <bank code="ICBCB2C"  name="中国工商银行"  enabled="true" />
  <bank code="CMB"  name="招商银行"  enabled="true" />
  <bank code="CCB"  name="中国建设银行"  enabled="true" />
  <bank code="ABC"  name="中国农业银行"  enabled="true" />
  <bank code="SPDB"  name="上海浦东发展银行"  enabled="true" />
  <bank code="CIB"  name="兴业银行"  enabled="true" />
  <bank code="GDB"  name="广发银行"  enabled="true" />
  <bank code="FDB"  name="富滇银行"  enabled="true" />
  <bank code="HZCBB2C"  name="杭州银行"  enabled="true" />
  <bank code="SHBANK"  name="上海银行"  enabled="true" />
  <bank code="NBBANK"  name="宁波银行"  enabled="true" />
  <bank code="SPABANK"  name="平安银行"  enabled="true" />
  <bank code="POSTGC"  name="中国邮政储蓄银行"  enabled="true" />

</banks>
