<?xml version="1.0"?>
<expresses>
  <express code="aae"  name="AAE全球专递"  enabled="true" />
  <express code="anjiekuaidi"  name="安捷快递"  enabled="true" />
  <express code="anxindakuaixi"  name="安信达快递"  enabled="true" />
  <express code="baifudongfang"  name="百福东方"  enabled="true" />
  <express code="biaojikuaidi"  name="彪记快递"  enabled="true" />
  <express code="bht"  name="BHT"  enabled="true" />
  <express code="cces"  name="希伊艾斯快递"  enabled="true" />
  <express code="Coe"  name="中国东方"  enabled="true" />
  <express code="changyuwuliu"  name="长宇物流"  enabled="true" />
  <express code="datianwuliu"  name="大田物流"  enabled="true" />
  <express code="debangwuliu"  name="德邦物流"  enabled="true" />
  <express code="dpex"  name="DPEX"  enabled="true" />
  <express code="dhl"  name="DHL"  enabled="true" />
  <express code="dsukuaidi"  name="D速快递"  enabled="true" />
  <express code="fedex"  name="fedex"  enabled="true" />
  <express code="feikangda"  name="飞康达物流"  enabled="true" />
  <express code="fenghuangkuaidi"  name="凤凰快递"  enabled="true" />
  <express code="ganzhongnengda"  name="港中能达物流"  enabled="true" />
  <express code="guangdongyouzhengwuliu"  name="广东邮政物流"  enabled="true" />
  <express code="huitongkuaidi"  name="汇通快运"  enabled="true" />
  <express code="hengluwuliu"  name="恒路物流"  enabled="true" />
  <express code="huaxialongwuliu"  name="华夏龙物流"  enabled="true" />
  <express code="jiayiwuliu"  name="佳怡物流"  enabled="true" />
  <express code="jinguangsudikuaijian"  name="京广速递"  enabled="true" />
  <express code="jixianda"  name="急先达"  enabled="true" />
  <express code="jiajiwuliu"  name="佳吉物流"  enabled="true" />
  <express code="jiayunmeiwuliu"  name="加运美"  enabled="true" />
  <express code="kuaijiesudi"  name="快捷速递"  enabled="true" />
  <express code="lianhaowuliu"  name="联昊通物流"  enabled="true" />
  <express code="longbanwuliu"  name="龙邦物流"  enabled="true" />
  <express code="minghangkuaidi"  name="民航快递"  enabled="true" />
  <express code="peisihuoyunkuaidi"  name="配思货运"  enabled="true" />
  <express code="quanchenkuaidi"  name="全晨快递"  enabled="true" />
  <express code="quanjitong"  name="全际通物流"  enabled="true" />
  <express code="quanritongkuaidi"  name="全日通快递"  enabled="true" />
  <express code="quanyikuaidi"  name="全一快递"  enabled="true" />
  <express code="shenghuiwuliu"  name="盛辉物流"  enabled="true" />
  <express code="suer"  name="速尔物流"  enabled="true" />
  <express code="shengfengwuliu"  name="盛丰物流"  enabled="true" />
  <express code="tiandihuayu"  name="天地华宇"  enabled="true" />
  <express code="tiantian"  name="天天快递"  enabled="true" />
  <express code="tnt"  name="TNT"  enabled="true" />
  <express code="ups"  name="UPS"  enabled="true" />
  <express code="wanjiawuliu"  name="万家物流"  enabled="true" />
  <express code="wenjiesudi"  name="文捷航空速递"  enabled="true" />
  <express code="wuyuansudi"  name="伍圆速递"  enabled="true" />
  <express code="wanxiangwuliu"  name="万象物流"  enabled="true" />
  <express code="xinbangwuliu"  name="新邦物流"  enabled="true" />
  <express code="xinfengwuliu"  name="信丰物流"  enabled="true" />
  <express code="xingchengjibian"  name="星晨急便"  enabled="true" />
  <express code="xinhongyukuaidi"  name="鑫飞鸿物流"  enabled="true" />
  <express code="yafengsudi"  name="亚风速递"  enabled="true" />
  <express code="yibangwuliu"  name="一邦速递"  enabled="true" />
  <express code="youshuwuliu"  name="优速物流"  enabled="true" />
  <express code="yuanchengwuliu"  name="远成物流"  enabled="true" />
  <express code="yuantong"  name="圆通速递"  enabled="true" />
  <express code="yuanweifeng"  name="源伟丰快递"  enabled="true" />
  <express code="yuanzhijiecheng"  name="元智捷诚快递"  enabled="true" />
  <express code="yuefengwuliu"  name="越丰物流"  enabled="true" />
  <express code="yunda"  name="韵达快递"  enabled="true" />
  <express code="yuananda"  name="源安达"  enabled="true" />
  <express code="yuntongkuaidi"  name="运通快递"  enabled="true" />
  <express code="zhaijisong"  name="宅急送"  enabled="true" />
  <express code="zhongtiewuliu"  name="中铁快运"  enabled="true" />
  <express code="zhongtong"  name="中通速递"  enabled="true" />
  <express code="zhongyouwuliu"  name="中邮物流"  enabled="true" />
</expresses>
