<?xml version="1.0" encoding="utf-8"?>
<menus>
  <!--订货管理，从1-4000开始-->
  <!--商品管理-->
  <menu NodeID="100" TreeText="商品上下架" OrderID="1" ParentID="0" PermissionID="100" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="true" />
  <menu NodeID="101" TreeText="在售商品" OrderID="1" ParentID="100" PermissionID="101" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Products/ProductsList.aspx?SaleStatus=1" Enabled="true" />
  <menu NodeID="102" TreeText="下架商品" OrderID="2" ParentID="100" PermissionID="102" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="shop/Products/ProductsInStock.aspx?SaleStatus=0" Enabled="true" />
  <menu NodeID="103" TreeText="分仓库存" OrderID="3" ParentID="100" PermissionID="103" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Depot/ProductList.aspx" Enabled="true" />
  <menu NodeID="105" TreeText="导出商品" OrderID="5" ParentID="100" PermissionID="105" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Products/ProductsExport.aspx" Enabled="false" />
  
  <!--<menu NodeID="104" TreeText="商品收藏" OrderID="4" ParentID="100" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/FavoriteList.aspx" Enabled="true" />-->
  <!--<menu NodeID="106" TreeText="商品推荐" OrderID="6" ParentID="100" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="shop/Products/ProductsStationModes.aspx?type=0" Enabled="true" />
  <menu NodeID="107" TreeText="商品咨询" OrderID="7" ParentID="100" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Consultations/list.aspx" Enabled="false" />
  <menu NodeID="108" TreeText="商品评论" OrderID="7" ParentID="100" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="shop/ProductReview/list.aspx" Enabled="true" />-->
  <!--微信商城-->
    <menu NodeID="200" TreeText="微信商城" OrderID="2" ParentID="0" PermissionID="200" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="true" />
  <menu NodeID="201" TreeText="公众号设置" OrderID="1" ParentID="200" PermissionID="201" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/Setting/Config.aspx" Enabled="true" />
  <menu NodeID="202" TreeText="微信菜单" OrderID="2" ParentID="200" PermissionID="202" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/Menu/MenuList.aspx" Enabled="true" />
  <menu NodeID="203" TreeText="指令菜单" OrderID="3" ParentID="200" PermissionID="203" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/Command/CommandList.aspx" Enabled="true" />
  <menu NodeID="204" TreeText="微商城模板" OrderID="4" ParentID="200" PermissionID="204" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Ms/Themes/MShopList.aspx" Enabled="true" />
  <menu NodeID="205" TreeText="默认回复消息" OrderID="5" ParentID="200" PermissionID="205" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/SysMsg/MsgList.aspx" Enabled="true" />
  <menu NodeID="206" TreeText="用户消息记录" OrderID="6" ParentID="200" PermissionID="206" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/User/RequestMsg.aspx" Enabled="true" />
  <menu NodeID="207" TreeText="智能回复设置" OrderID="4" ParentID="200" PermissionID="207" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/PostMsg/RuleList.aspx" Enabled="false" />
  <menu NodeID="208" TreeText="群发消息管理" OrderID="10" ParentID="200" PermissionID="208" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="WeChat/CustomerMsg/MsgList.aspx" Enabled="false" />
 
  <!--促销管理-->
    
 <menu NodeID="300" TreeText="促销管理" OrderID="4" ParentID="0" PermissionID="300" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="true" />
  <menu NodeID="301" TreeText="批发规则" OrderID="1" ParentID="300" PermissionID="301" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/WholeSale/SalesRule.aspx" Enabled="true" />
  <menu NodeID="302" TreeText="批发商品管理" OrderID="2" ParentID="300" PermissionID="302" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/WholeSale/SalesProductList.aspx" Enabled="true" />
 
  <!--促销管理-->
   <menu NodeID="400" TreeText="成长值管理" OrderID="5" ParentID="0" PermissionID="400" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="true" />
  <menu NodeID="401" TreeText="等级规则" OrderID="1" ParentID="400" PermissionID="401" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/UserRank/RankRule.aspx" Enabled="true" />
  <menu NodeID="402" TreeText="等级限制" OrderID="2" ParentID="400" PermissionID="402" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/UserRank/RankLimit.aspx" Enabled="true" />
  <menu NodeID="403" TreeText="等级明细" OrderID="3" ParentID="400" PermissionID="403" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/UserRank/DetailList.aspx" Enabled="true" />
  
  <!--配置管理-->
  <menu NodeID="500" TreeText="配置管理" OrderID="6" ParentID="0" PermissionID="500" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="true" />
  <menu NodeID="501" TreeText="配送方式" OrderID="1" ParentID="500" PermissionID="501" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Shipping/ShippingType.aspx" Enabled="true" />
  <menu NodeID="502" TreeText="支付方式" OrderID="2" ParentID="500" PermissionID="502" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Payment/PaymentModes.aspx" Enabled="true" />
  <menu NodeID="503" TreeText="广告管理" OrderID="3" ParentID="500" PermissionID="503" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Settings/AdvertisePosition/List.aspx" Enabled="true" />
  <menu NodeID="504" TreeText="缩略图生成" OrderID="4" ParentID="500" PermissionID="504" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Products/ImageReGen.aspx" Enabled="false" />
 
  <!--<menu NodeID="879" TreeText="会员价格设置" OrderID="3" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/WholeSale/RanksRule.aspx" Enabled="true" />
  <menu NodeID="880" TreeText="会员商品设置" OrderID="4" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/WholeSale/SalesProductList.aspx?id=1" Enabled="true" />
  <menu NodeID="1009" TreeText="限时抢购" OrderID="5" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/PromoteSales/CountDownList.aspx" Enabled="true" />
  <menu NodeID="1010" TreeText="团购管理" OrderID="6" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/PromoteSales/GroupBuyList.aspx" Enabled="true" />
  <menu NodeID="1011" TreeText="促销规则" OrderID="7" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/ActivityRule/list.aspx" Enabled="true" />
  <menu NodeID="1012" TreeText="促销活动" OrderID="8" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/ActivityInfo/list.aspx" Enabled="true" />
  <menu NodeID="1013" TreeText="优惠券分类" OrderID="9" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/ClassList.aspx" Enabled="true" />
  <menu NodeID="1014" TreeText="优惠券活动" OrderID="10" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/RuleList.aspx" Enabled="true" />
  <menu NodeID="1015" TreeText="优惠券管理" OrderID="11" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/CouponList.aspx" Enabled="true" />
  <menu NodeID="1016" TreeText="过期优惠券" OrderID="12" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/CouponHistorys.aspx" Enabled="true" />
  <menu NodeID="1017" TreeText="优惠券使用" OrderID="13" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/CouponUsed.aspx" Enabled="false" />
  <menu NodeID="1018" TreeText="导入优惠券" OrderID="14" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Coupon/ImportCoupon.aspx" Enabled="true" />
  <menu NodeID="1019" TreeText="积分换券" OrderID="15" ParentID="630" PermissionID="-1" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Gift/PointExchange.aspx" Enabled="false" />-->
  <!--运营统计-->
   <menu NodeID="600" TreeText="运营统计" OrderID="5" ParentID="0" PermissionID="600" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="false" />
  <menu NodeID="601" TreeText="订单统计" OrderID="1" ParentID="600" PermissionID="601" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/OrderCount.aspx" Enabled="true" />
  <menu NodeID="602" TreeText="销售量统计" OrderID="2" ParentID="600" PermissionID="602" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/SalesLine.aspx" Enabled="true" />
  <menu NodeID="603" TreeText="用户注册统计" OrderID="3" ParentID="600" PermissionID="603" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/UserRegCount.aspx" Enabled="true" />
  <menu NodeID="604" TreeText="客户活跃数" OrderID="4" ParentID="600" PermissionID="604" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/ActiveCus.aspx" Enabled="true" />
  <menu NodeID="605" TreeText="商品统计" OrderID="5" ParentID="600" PermissionID="605" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/ProductCategory.aspx" Enabled="true" />
  <menu NodeID="606" TreeText="商品销量排行" OrderID="6" ParentID="600" PermissionID="606" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/ProductSales.aspx" Enabled="true" />
  <menu NodeID="607" TreeText="品牌销售排行" OrderID="7" ParentID="600" PermissionID="607" ImageUrl="Images/MenuImg/folder16.gif" TreeType="0" Url="Statistics/BrandSales.aspx" Enabled="true" />
  
  <!--商家管理-->
  <menu NodeID="700" TreeText="多商家管理" OrderID="6" ParentID="0" PermissionID="700" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="" Enabled="false" />
  <menu NodeID="701" TreeText="商品审核" OrderID="1" ParentID="700" PermissionID="701" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="shop/Products/ProductsInStock.aspx?SaleStatus=-1" Enabled="true" />
  <menu NodeID="702" TreeText="商家管理" OrderID="2" ParentID="700" PermissionID="702" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Supplier/SupplierInfo/list.aspx" Enabled="true" />
  <menu NodeID="703" TreeText="店铺管理" OrderID="3" ParentID="700" PermissionID="703" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Shop/Supplier/SupplierStore/list.aspx" Enabled="true" />
  <menu NodeID="704" TreeText="商家结算" OrderID="4" ParentID="700" PermissionID="704" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Pay/BalanceDrawRequest/ListSupplier.aspx" Enabled="false" />
 
  <!--系统设置-->
  <!--<menu NodeID="1021" TreeText="发件箱" OrderID="6" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="members/SiteMessages/list.aspx" Enabled="true" />
  <menu NodeID="1022" TreeText="发消息" OrderID="6" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/SiteMessages/add.aspx" Enabled="true" />-->
  <!--<menu NodeID="1004" TreeText="充值管理" OrderID="7" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Pay/RechargeRequest/List.aspx" Enabled="false" />
  <menu NodeID="1005" TreeText="热门关键词" OrderID="7" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="shop/Products/HotKeyword.aspx" Enabled="true" />
  <menu NodeID="1023" TreeText="积分规则" OrderID="7" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/Points/PointsRule.aspx" Enabled="false" />
  <menu NodeID="1024" TreeText="积分限制" OrderID="7" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/Points/PointsLimit.aspx" Enabled="false" />
  <menu NodeID="1025" TreeText="积分明细" OrderID="7" ParentID="352" PermissionID="-1" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="0" Url="Members/Points/DetailList.aspx" Enabled="false" />-->
  <!--商家菜单-->
  
  <menu NodeID="4000" TreeText="基本设置" OrderID="0" ParentID="0" PermissionID="4000" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4001" TreeText="我的店铺" OrderID="2" ParentID="4000" PermissionID="4001" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4002" TreeText="店铺设置" OrderID="1" ParentID="4001" PermissionID="4002" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="4" Url="Home/ShopInfo" Enabled="true" />
  <menu NodeID="4003" TreeText="网站店铺菜单" OrderID="2" ParentID="4001" PermissionID="4003" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/SupplierMenu" Enabled="true" />
  <menu NodeID="4004" TreeText="配送设置" OrderID="3" ParentID="4001" PermissionID="4004" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="4" Url="Home/ShopShip" Enabled="true" />
  <menu NodeID="4005" TreeText="广告管理" OrderID="4" ParentID="4001" PermissionID="4005" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/AdvPositionList" Enabled="true" />
  <menu NodeID="4006" TreeText="商品分类" OrderID="5" ParentID="4001" PermissionID="4006" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/ProCategory" Enabled="true" />
  <menu NodeID="4100" TreeText="帐号管理" OrderID="1" ParentID="4000" PermissionID="4100" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4101" TreeText="登录信息" OrderID="1" ParentID="4100" PermissionID="4101" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/UserModify" Enabled="true" />
  <menu NodeID="4102" TreeText="修改密码" OrderID="2" ParentID="4100" PermissionID="4102" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/UserPass" Enabled="true" />
  <menu NodeID="4103" TreeText="商家设置" OrderID="3" ParentID="4100" PermissionID="4103" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/Modify" Enabled="true" />
  <menu NodeID="4104" TreeText="商家信息" OrderID="4" ParentID="4100" PermissionID="4104" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/Show" Enabled="true" />
  <menu NodeID="4200" TreeText="商品管理" OrderID="1" ParentID="0" PermissionID="4200" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4201" TreeText="商品管理" OrderID="1" ParentID="4200" PermissionID="4201" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4500" TreeText="添加新商品" OrderID="1" ParentID="4201" PermissionID="4500" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/ProductAdd" Enabled="true" />
  <menu NodeID="4501" TreeText="未审核商品" OrderID="2" ParentID="4201" PermissionID="4501" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/InStock/-1" Enabled="true" />
  <menu NodeID="4502" TreeText="仓库中的商品" OrderID="3" ParentID="4201" PermissionID="4502" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/InStock/0" Enabled="true" />
  <menu NodeID="4503" TreeText="出售中的商品" OrderID="4" ParentID="4201" PermissionID="4503" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/InStock/1" Enabled="true" />
  <menu NodeID="4504" TreeText="商品推荐" OrderID="5" ParentID="4201" PermissionID="4504" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Product/ProductsStationMode" Enabled="true" />
  <menu NodeID="4202" TreeText="交易管理" OrderID="2" ParentID="0" PermissionID="4202" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4203" TreeText="交易管理" OrderID="2" ParentID="4202" PermissionID="4203" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4204" TreeText="未处理订单" OrderID="1" ParentID="4203" PermissionID="4204" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="4" Url="Order/Orders?os=1" Enabled="true" />
  <menu NodeID="4205" TreeText="订单管理" OrderID="2" ParentID="4203" PermissionID="4205" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Order/Orders?os=2" Enabled="true" />
  <menu NodeID="4206" TreeText="历史订单" OrderID="3" ParentID="4203" PermissionID="4206" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Order/Orders?os=3" Enabled="true" />
  <menu NodeID="4207" TreeText="订单导出" OrderID="4" ParentID="4203" PermissionID="4207" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="4" Url="Order/Orders?os=-1" Enabled="true" />
  <menu NodeID="4208" TreeText="退单管理" OrderID="5" ParentID="4203" PermissionID="4208" ImageUrl="/admin/Images/MenuImg/folder16.gif" TreeType="4" Url="ReturnOrder/Index" Enabled="true" />
  <menu NodeID="4350" TreeText="数据统计" OrderID="3" ParentID="0" PermissionID="4350" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4351" TreeText="数据统计" OrderID="3" ParentID="4350" PermissionID="4351" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4352" TreeText="供货统计" OrderID="1" ParentID="4351" PermissionID="4352" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/Supply" Enabled="true" />
  <menu NodeID="4353" TreeText="销量统计" OrderID="2" ParentID="4351" PermissionID="4353" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/SalesLine" Enabled="true" />
  <menu NodeID="4354" TreeText="业绩走势" OrderID="3" ParentID="4351" PermissionID="4354" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/SalesLine?SalesType=2" Enabled="true" />
  <menu NodeID="4355" TreeText="商品销量排行" OrderID="5" ParentID="4351" PermissionID="4355" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Home/ProductSales" Enabled="true" />
  <menu NodeID="4400" TreeText="结算中心" OrderID="5" ParentID="0" PermissionID="4400" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4401" TreeText="结算中心" OrderID="1" ParentID="4400" PermissionID="4401" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="" Enabled="true" />
  <menu NodeID="4402" TreeText="商家结算" OrderID="1" ParentID="4401" PermissionID="4402" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Account/Balance" Enabled="true" />
  <menu NodeID="4403" TreeText="收支明细" OrderID="2" ParentID="4401" PermissionID="4403" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Account/BalanceDetail" Enabled="true" />
  <menu NodeID="4404" TreeText="结算明细" OrderID="4" ParentID="4401" PermissionID="4404" ImageUrl="Images/MenuImg/folder16.gif" TreeType="4" Url="Account/DrawDetail" Enabled="true" />
</menus>