<?xml version="1.0"?>
<AdvPositions>
  <AdvPosition  advpositionId="1"  name="微信端店铺首页头部轮播图"    />
  <AdvPosition  advpositionId="2"  name="微信端店铺首页商品广告图"   />
  <AdvPosition  advpositionId="3"  name="微信端店铺首页中间轮播图"    />
  <AdvPosition  advpositionId="4"  name="微信端店铺首页中间分类广告图"   />
  <AdvPosition  advpositionId="5"  name="微信端店铺首页广告图"/>
  <AdvPosition  advpositionId="6"  name="微信端店铺头部大图"   />
  <AdvPosition  advpositionId="7"  name="PC端店铺头部轮播图"   />
</AdvPositions>
