<?xml version="1.0" encoding="utf-8"?>
<rewriter>
  <rewrite Fixed="True" url="^/pay/certification(.*)/(.*)(\?)(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1&amp;Area=$2&amp;$4" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/certification(.*)/(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1&amp;Area=$2" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/certification(.*)$" to="~/pay/sendpayment.aspx?OrderIds=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/return_url(.aspx\?|.aspx)(.*)$" to="~/pay/payment/return_url.aspx?YSWLGW=$1&amp;$3" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/notify_url.aspx$" to="~/pay/payment/notify_url.aspx?YSWLGW=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/payment/(.*)/notify_url(.aspx\?|.aspx)(.*)$" to="~/pay/payment/notify_url.aspx?YSWLGW=$1&amp;$3" processing="stop"/>

  <rewrite Fixed="True" url="^/pay/bank/(.*)/(.*)$" to="~/pay/bank.aspx?orderid=$1&amp;data=$2" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/cod/(.*)/(.*)$" to="~/pay/cod.aspx?orderid=$1&amp;data=$2" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/balance/(.*)/(.*)$" to="~/pay/balance.aspx?orderid=$1&amp;data=$2" processing="stop"/>
  
  <rewrite Fixed="True" url="^/pay/account(.*)$" to="~/pay/sendrecharge.aspx?RechargeId=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/return_url(.aspx\?|.aspx)(.*)$" to="~/pay/recharge/return_url.aspx?YSWLGW=$1&amp;$3" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/notify_url.aspx$" to="~/pay/recharge/notify_url.aspx?YSWLGW=$1" processing="stop"/>
  <rewrite Fixed="True" url="^/pay/recharge/(.*)/notify_url(.aspx\?|.aspx)(.*)$" to="~/pay/recharge/notify_url.aspx?YSWLGW=$1&amp;$3" processing="stop"/>

  <rewrite Fixed="True" url="^/Admin/Storage/flex/(.*)" to="~/Upload/ExpressTemplate/$1" processing="stop"/>
  <rewrite Fixed="True" url="^/API/(.*)/return_sina(.aspx\?)(.*)$" to="~/API/SinaReturnUrl.aspx?userid=$1&amp;$3" processing="stop" />
  <rewrite Fixed="True" url="^/index.html$" to="~/" processing="stop" />
  <rewrite Fixed="True" url="^/spread/(.*)/(.*)$" to="~/Spread.aspx?s=$1&amp;area=$2" processing="stop" />
  
</rewriter>