<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <rewriter configSource="UrlRewriter.config"/>
  <dataConfiguration defaultDatabase="YSWLSqlServer"/>
  <connectionStrings>
    <add name="YSWLSqlServer" connectionString="server=.;uid=sa;pwd=1;database=xxShopdb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/> 
    <add key="ConnectionString" value="server=.;uid=sa;pwd=1;database=xxShopdb"/>
    <add key="DAL" value="YSWL.MALL.SQLServerDAL"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="RouteDebugger:Enabled" value="false"/>
    <add key="LocalTest" value="false"/>
    <add key="RechargeTest" value="false"/>
    <add key="PaymentTest" value="false"/>
    <add key="UploadFolder" value="Upload"/>
    <add key="ffmpeg" value="/Tools/ffmpeg/ffmpeg.exe"/>
    <add key="CacheTime" value="30"/>
    <add key="API_Security" value="false"/>
    <add key="API_TimeInterval" value="20"/>
    <add key="API_Key" value=""/>
    <add key="SystemFlag" value="MALLB"/>
    <add key="zjbAPI" value="http://admin.scbiyan.com"/><!--1会员接口 -->

    <add key="VipUrl" value="http://vip.scbiyan.com"/>
    <!--1会员接口 -->
    <!--1会员升级 级别及费用 -->
    <!--<add key="yinka" value="2000"/>
    <add key="jinka" value="5000"/>
    <add key="zuanka" value="10000"/>
    <add key="feicun" value="20000"/>-->
    <!--所在服务中心 提成比例-->
    <add key="fwzxTC" value="0.05"/>
    <!--所在生活馆 提成比例-->
    <add key="shenghuoguanTC" value="0.02"/>
  
    <add key="zhicheng" value="经理、高级经理、总监、高级总监、董事、荣誉董事"/>
  <add key="ZjbToQb" value="1"/><!--1表示转，0表示不转 -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Newtonsoft.Json, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
    <!--IIS6 使用, 但不支持部分虚拟主机 等待解决方案 -->
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
      <controls>
        <add tagPrefix="YSWL" tagName="ImageTransitionEffects" src="~/Controls/ImageTransitionEffects.ascx"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="GiftImgUpload.aspx" type="YSWL.MALL.Web.Ajax_Handle.GiftImageUploadHandler, YSWL.MALL.Web"/>
      <add verb="*" path="EditPhotoHandle.aspx" type="YSWL.MALL.Web.Ajax_Handle.EditPhotoHandle, YSWL.MALL.Web"/>
      <add verb="*" path="CMSContent.aspx" type="YSWL.MALL.Web.Ajax_Handle.CMSContentHandle"/>
      <add verb="*" path="RegisterValidate.aspx" type="YSWL.MALL.Web.AjaxHandle.RegisterValidateHandler"/>
      <add verb="*" path="CheckNetworkVideo.aspx" type="YSWL.MALL.Web.Ajax_Handle.CheckNetworkVideoHandler"/>
      <add verb="*" path="NodeHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.NodeHandle"/>
      <add verb="*" path="NodeProdCategory.aspx" type="YSWL.MALL.Web.Ajax_Handle.NodeProdCategory"/>
      <add verb="*" path="MapHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.MapHandle"/>
      <add verb="*" path="MapMarkImgHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.MapMarkImgHandle"/>
      <add verb="*" path="UploadImageDemo.aspx" type="YSWL.MALL.Web.AjaxHandle.UploadImageDemo"/>
      <add verb="*" path="ProductUploadImg.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductUploadImgHandler, YSWL.MALL.Web"/>
      <add verb="*" path="UploadNormalImg.aspx" type="YSWL.MALL.Web.Handlers.UploadNormalImgHandler, YSWL.MALL.Web"/>
      <add verb="*" path="CMSUploadImg.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadArticleImgHandler, YSWL.MALL.Web"/>
      <add verb="*" path="CMSUploadFile.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadFileHandler, YSWL.MALL.Web"/>
      <add verb="*" path="UploadPhotoHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadPhotoHandler, YSWL.MALL.Web"/>
      <add verb="*" path="UploadWeiboImg.aspx" type="YSWL.MALL.Web.Handlers.UploadWeiboImgHandler, YSWL.MALL.Web"/>
      <add verb="*" path="ProductSkuImg.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductSkuImgHandler, YSWL.MALL.Web"/>
      <add verb="*" path="RegionHandle.aspx" type="YSWL.MALL.Web.Handlers.RegionHandle"/>
      <add verb="*" path="SNSProduct.aspx" type="YSWL.MALL.Web.Handlers.SNS.ProductHandler, YSWL.MALL.Web"/>
      <add verb="*" path="SNSPhotos.aspx" type="YSWL.MALL.Web.Handlers.SNS.PhotosHandler, YSWL.MALL.Web"/>
      <add verb="*" path="SNSPGroupUser.aspx" type="YSWL.MALL.Web.Handlers.SNS.GroupUserHandler, YSWL.MALL.Web"/>
      <add verb="*" path="ShopManage.aspx" type="YSWL.MALL.Web.Handlers.Shop.ShopHandler"/>
      <add verb="*" path="UploadGravatar.aspx" type="YSWL.MALL.Web.Handlers.UploadGravatarHandler, YSWL.MALL.Web"/>
      <add verb="*" path="WebLogo.aspx" type="YSWL.MALL.Web.Handlers.UploadLogoHandler, YSWL.MALL.Web"/>
      <add verb="*" path="SNSCategories.aspx" type="YSWL.MALL.Web.Handlers.SNS.CategoriesHandler"/>
      <!-- 静态化-->
      <add verb="*" path="HttpToStatic.aspx" type="YSWL.MALL.Web.Handlers.CMS.HttpToStaticHandler"/>
      <!-- SNS缩略图重新生成-->
      <add verb="*" path="ImageReGenHandler.aspx" type="YSWL.MALL.Web.Handlers.ImageReGenHandler"/>
      <!-- CMS缩略图重新生成-->
      <add verb="*" path="PhotoReGenHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.PhotoReGenHandler"/>
      <!-- SNS静态生成-->
      <add verb="*" path="SNSToStaticHandler.aspx" type="YSWL.MALL.Web.Handlers.SNS.SNSToStaticHandler"/>
      <!--商品静态化-->
      <add verb="*" path="HttpToProStatic.aspx" type="YSWL.MALL.Web.Handlers.Shop.HttpToStaticHandler"/>
      <add verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="YSWL.MALL.Web.Handlers.SNS.UploadImageHandler"/>
      <add verb="*" path="/Upload/UploadApproveImage.aspx" type="YSWL.MALL.Web.Handlers.SNS.UploadApproveImageHandler"/>
      <add verb="*" path="/ProductHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductHandler"/>
      <add verb="*" path="/Pay/OrderHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.OrderHandler"/>
      <add verb="*" path="/pay/sendpayment.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.SendPaymentHandler"/>
      <add verb="*" path="/pay/payment/return_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.PaymentReturnHandler"/>
      <add verb="*" path="/pay/payment/notify_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.PaymentNotifyHandler"/>
      <add verb="*" path="/Pay/RechargeHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.RechargeHandler"/>
      <add verb="*" path="/pay/sendrecharge.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.SendRechargeHandler"/>
      <add verb="*" path="/pay/recharge/return_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.RechargeReturnHandler"/>
      <add verb="*" path="/pay/recharge/notify_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.RechargeNotifyHandler"/>
      <add verb="*" path="/pay/bank.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.BankHandler"/>
      <add verb="*" path="/pay/cod.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.CodHandler"/>
      <add verb="*" path="/pay/balance.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.BalanceHandler"/>
      <add verb="*" path="/pay/wechat.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler"/>
      <add verb="*" path="/wechat/feedback.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler"/>
      <add verb="*" path="/wechat/alarmnotice.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler"/>
      <add verb="*" path="UploadVideoHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadVideoHandler"/>
      <add verb="*" path="/tools/qr/gen.aspx" type="YSWL.MALL.Web.Handlers.Tools.QRHandler"/>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <!--多文件上传-->
      <add verb="*" path="UploadMultipleFileHandler.aspx" type="YSWL.MALL.Web.Handlers.UploadMultipleFileHandler"/>
      <!--商家上传logo-->
      <add verb="*" path="SupplierUploadLogo.aspx" type="YSWL.MALL.Web.Handlers.Shop.SupplierUploadLogoHandler, YSWL.MALL.Web"/>
      <!--微信API-->
      <add verb="*" path="wcapi.aspx" type="YSWL.MALL.Web.Handlers.WeChatAPIHandler,YSWL.MALL.Web"/>
      <add verb="*" path="wcreturn.aspx" type="YSWL.MALL.Web.Handlers.WeChatReturnHandler,YSWL.MALL.Web"/>
      <!--微信部分上传图片-->
      <add verb="*" path="WeChatImg.aspx" type="YSWL.MALL.Web.Handlers.UploadWeChatImgHandler,YSWL.MALL.Web"/>
      <add verb="*" path="WeChatFile.aspx" type="YSWL.MALL.Web.Handlers.UploadWeChatFileHandler,YSWL.MALL.Web"/>
      <!-- 商品二维码重新生成-->
      <add verb="*" path="CodeGenHandler.aspx" type="YSWL.MALL.Web.Handlers.CodeGenHandler"/>
      <!-- 订单一维码生成-->
      <add verb="*" path="BarCodeHandler.aspx" type="YSWL.MALL.Web.Handlers.Tools.BarCodeHandler"/>
      <!-- 商城API-->
      <add verb="*" path="/api/v1/shop.aspx" type="YSWL.MALL.API.Shop.v1.ShopHandler"/>
      <add verb="*" path="/api/v2/shop.aspx" type="YSWL.MALL.API.Shop.v2.ShopHandler"/>
      <add verb="*" path="/api/v2.5/shop.aspx" type="YSWL.MALL.API.Shop.v2_5.ShopHandler"/>

      <add verb="*" path="/Pay/V2/OrderHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.V2.OrderHandler" />
      <!-- 用户信息-->
      <add verb="*" path="/UserInfo.aspx" type="YSWL.MALL.Web.Handlers.UserInfoHandler"/>
      <!-- 推广地址处理-->
      <add verb="*" path="/Spread.aspx" type="YSWL.MALL.Web.Handlers.Shop.SpreadHandler"/>
      <!-- 用户Handler-->
      <add verb="*" path="/User.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.UserHandler"/>
      <!-- 购物车Handler-->
      <add verb="*" path="/ShoppingCart.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.ShoppingCartHandler"/>
      <!--提交订单-->
      <add verb="*" path="/AOrderHandler.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.OrderHandler"/>
      <!-- Shop - Product -->
      <add verb="*" path="/AProductHandler.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.ProductHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="2147483" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Index" duration="1000" enabled="true" location="ServerAndClient" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="GiftImgUpload" verb="*" path="GiftImgUpload.aspx" type="YSWL.MALL.Web.Ajax_Handle.GiftImageUploadHandler, YSWL.MALL.Web"/>
      <add name="SNSCategories" verb="*" path="SNSCategories.aspx" type="YSWL.MALL.Web.Handlers.SNS.CategoriesHandler" allowPathInfo="true"/>
      <add name="EditPhotoHandle" verb="*" path="EditPhotoHandle.aspx" type="YSWL.MALL.Web.Ajax_Handle.EditPhotoHandle, YSWL.MALL.Web"/>
      <add name="CMSContent" verb="*" path="CMSContent.aspx" type="YSWL.MALL.Web.Ajax_Handle.CMSContentHandle"/>
      <add name="RegisterValidate" verb="*" path="RegisterValidate.aspx" type="YSWL.MALL.Web.AjaxHandle.RegisterValidateHandler"/>
      <add name="CheckNetworkVideo" verb="*" path="CheckNetworkVideo.aspx" type="YSWL.MALL.Web.Ajax_Handle.CheckNetworkVideoHandler"/>
      <add name="NodeHandle" verb="*" path="NodeHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.NodeHandle"/>
      <add name="NodeProdCategory" verb="*" path="NodeProdCategory.aspx" type="YSWL.MALL.Web.Ajax_Handle.NodeProdCategory"/>
      <add name="MapHandle" verb="*" path="MapHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.MapHandle"/>
      <add name="MapMarkImgHandle" verb="*" path="MapMarkImgHandle.aspx" type="YSWL.MALL.Web.AjaxHandle.MapMarkImgHandle"/>
      <add name="PageHandlerFactory" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add name="UploadImageDemo" verb="*" path="UploadImageDemo.aspx" type="YSWL.MALL.Web.AjaxHandle.UploadImageDemo"/>
      <add name="ProductUploadImg" verb="*" path="ProductUploadImg.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductUploadImgHandler, YSWL.MALL.Web"/>
      <add name="UploadNormalImg" verb="*" path="UploadNormalImg.aspx" type="YSWL.MALL.Web.Handlers.UploadNormalImgHandler, YSWL.MALL.Web"/>
      <add name="CMSUploadImg" verb="*" path="CMSUploadImg.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadArticleImgHandler, YSWL.MALL.Web"/>
      <add name="CMSUploadFile" verb="*" path="CMSUploadFile.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadFileHandler, YSWL.MALL.Web"/>
      <add name="UploadPhotoHandler" verb="*" path="UploadPhotoHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadPhotoHandler, YSWL.MALL.Web"/>
      <add name="UploadWeiboImg" verb="*" path="UploadWeiboImg.aspx" type="YSWL.MALL.Web.Handlers.UploadWeiboImgHandler, YSWL.MALL.Web"/>
      <add name="RegionHandle" verb="*" path="RegionHandle.aspx" type="YSWL.MALL.Web.Handlers.RegionHandle"/>
      <add name="SNSProduct" verb="*" path="SNSProduct.aspx" type="YSWL.MALL.Web.Handlers.SNS.ProductHandler" allowPathInfo="true"/>
      <add name="SNSPhotos" verb="*" path="SNSPhotos.aspx" type="YSWL.MALL.Web.Handlers.SNS.PhotosHandler" allowPathInfo="true"/>
      <add name="SNSPGroupUser" verb="*" path="SNSPGroupUser.aspx" type="YSWL.MALL.Web.Handlers.SNS.GroupUserHandler, YSWL.MALL.Web"/>
      <add name="SNSUploadTmpImg" verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="YSWL.MALL.Web.Handlers.SNS.UploadImageHandler"/>
      <add name="UploadApproveImage" verb="*" path="/Upload/UploadApproveImage.aspx" type="YSWL.MALL.Web.Handlers.SNS.UploadApproveImageHandler"/>
      <add name="UploadGravatar" verb="*" path="/Upload/UploadGravatar.aspx" type="YSWL.MALL.Web.Handlers.UploadGravatarHandler, YSWL.MALL.Web"/>
      <add name="ShopManage" verb="*" path="ShopManage.aspx" type="YSWL.MALL.Web.Handlers.Shop.ShopHandler" allowPathInfo="true"/>
      <add name="TaoCategory" verb="*" path="TaoCategory.aspx" type="YSWL.MALL.Web.Handlers.Tao.CategoryHandler, YSWL.MALL.Web"/>
      <add name="ProductSkuImg" verb="*" path="ProductSkuImg.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductSkuImgHandler, YSWL.MALL.Web"/>
      <add name="WebLogo" verb="*" path="WebLogo.aspx" type="YSWL.MALL.Web.Handlers.UploadLogoHandler"/>
      <!-- 静态化-->
      <add name="HttpToStatic" verb="*" path="HttpToStatic.aspx" type="YSWL.MALL.Web.Handlers.CMS.HttpToStaticHandler, YSWL.MALL.Web"/>
      <!-- SNS缩略图重新生成-->
      <add name="ImageReGenHandler" verb="*" path="ImageReGenHandler.aspx" type="YSWL.MALL.Web.Handlers.ImageReGenHandler, YSWL.MALL.Web"/>
      <!--CMS缩略图重新生成-->
      <add name="PhotoReGenHandler" verb="*" path="PhotoReGenHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.PhotoReGenHandler, YSWL.MALL.Web"/>
      <!--SNS静态生成-->
      <add name="SNSToStaticHandler" verb="*" path="SNSToStaticHandler.aspx" type="YSWL.MALL.Web.Handlers.SNS.SNSToStaticHandler, YSWL.MALL.Web"/>
      <!-- Shop - Order -->
      <add name="OrderHandler" verb="*" path="/Pay/OrderHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.OrderHandler"/>
      <!-- Shop - Product -->
      <add name="ProductHandler" verb="*" path="/ProductHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.ProductHandler"/>
      <!-- 商品静态化-->
      <add name="HttpToProStatic" verb="*" path="HttpToProStatic.aspx" type="YSWL.MALL.Web.Handlers.Shop.HttpToStaticHandler, YSWL.MALL.Web"/>
      <add name="SendPayment" verb="*" path="/pay/sendpayment.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.SendPaymentHandler"/>
      <add name="PaymentReturn" verb="*" path="/pay/payment/return_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.PaymentReturnHandler"/>
      <add name="PaymentNotify" verb="*" path="/pay/payment/notify_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.PaymentNotifyHandler"/>
      <add name="RechargeHandler" verb="*" path="/Pay/RechargeHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.RechargeHandler"/>
      <add name="SendRecharge" verb="*" path="/pay/sendrecharge.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.SendRechargeHandler"/>
      <add name="RechargeReturn" verb="*" path="/pay/recharge/return_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.RechargeReturnHandler"/>
      <add name="RechargeNotify" verb="*" path="/pay/recharge/notify_url.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.RechargeNotifyHandler"/>
      <add name="BankHandler" verb="*" path="/pay/bank.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.BankHandler"/>
      <add name="CodHandler" verb="*" path="/pay/cod.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.CodHandler"/>
      <add name="BalanceHandler" verb="*" path="/pay/balance.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.BalanceHandler"/>
      <add name="WeChatSendPaymentHandler" verb="*" path="/pay/wechat.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler"/>
      <add name="WeChatFeedBackHandler" verb="*" path="/wechat/feedback.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler"/>
      <add name="WeChatAlarmNoticeHandler" verb="*" path="/wechat/alarmnotice.aspx" type="YSWL.MALL.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler"/>
      <add name="Tools_QR" verb="*" path="/tools/qr/gen.aspx" type="YSWL.MALL.Web.Handlers.Tools.QRHandler"/>
      <add name="UploadVideoHandler" verb="*" path="UploadVideoHandler.aspx" type="YSWL.MALL.Web.Handlers.CMS.UploadVideoHandler, YSWL.MALL.Web"/>
      <!--多文件上传-->
      <add name="UploadMultipleFileHandler" verb="*" path="UploadMultipleFileHandler.aspx" type="YSWL.MALL.Web.Handlers.UploadMultipleFileHandler,YSWL.MALL.Web"/>
      <!--商家上传logo-->
      <add name="SupplierUploadLogo" verb="*" path="SupplierUploadLogo.aspx" type="YSWL.MALL.Web.Handlers.Shop.SupplierUploadLogoHandler, YSWL.MALL.Web"/>
      <!--微信API-->
      <add name="wcapi" verb="*" path="wcapi.aspx" type="YSWL.MALL.Web.Handlers.WeChatAPIHandler,YSWL.MALL.Web"/>
      <add name="wcreturn" verb="*" path="wcreturn.aspx" type="YSWL.MALL.Web.Handlers.WeChatReturnHandler,YSWL.MALL.Web"/>
      <!--微信部分上传图片-->
      <add name="WeChatImg" verb="*" path="WeChatImg.aspx" type="YSWL.MALL.Web.Handlers.UploadWeChatImgHandler,YSWL.MALL.Web"/>
      <add name="WeChatFile" verb="*" path="WeChatFile.aspx" type="YSWL.MALL.Web.Handlers.UploadWeChatFileHandler,YSWL.MALL.Web"/>
      <!-- 商品二维码重新生成-->
      <add name="CodeGenHandler" verb="*" path="CodeGenHandler.aspx" type="YSWL.MALL.Web.Handlers.CodeGenHandler, YSWL.MALL.Web"/>
      <!-- 订单一维码-->
      <add name="BarCodeHandler" verb="*" path="BarCodeHandler.aspx" type="YSWL.MALL.Web.Handlers.Tools.BarCodeHandler, YSWL.MALL.Web"/>
      <add name="ShopHandlerV1" verb="*" path="/api/v1/shop.aspx" type="YSWL.MALL.API.Shop.v1.ShopHandler"/>
      <add name="ShopHandlerV2" verb="*" path="/api/v2/shop.aspx" type="YSWL.MALL.API.Shop.v2.ShopHandler"/>
      <add name="ShopHandlerV2.5" verb="*" path="/api/v2.5/shop.aspx" type="YSWL.MALL.API.Shop.v2_5.ShopHandler"/>
      <add name="OrderHandlerV2" verb="*" path="/Pay/V2/OrderHandler.aspx" type="YSWL.MALL.Web.Handlers.Shop.V2.OrderHandler" />

      <!-- 用户信息-->
      <add name="UserInfoHandler" verb="*" path="/UserInfo.aspx" type="YSWL.MALL.Web.Handlers.UserInfoHandler, YSWL.MALL.Web"/>
      <!-- 推广地址处理-->
      <add name="SpreadHandler" verb="*" path="/Spread.aspx" type="YSWL.MALL.Web.Handlers.Shop.SpreadHandler, YSWL.MALL.Web"/>
      <!-- 用户Handler-->
      <add name="User" verb="*" path="/User.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.UserHandler, YSWL.MALL.Web"/>
      <!-- 购物车Handler-->
      <add name="ShoppingCart" verb="*" path="/ShoppingCart.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.ShoppingCartHandler, YSWL.MALL.Web"/>
      <!-- 提交订单 -->
      <add name="AOrderHandler" verb="*" path="/AOrderHandler.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.OrderHandler"/>
      <!-- Shop - Product -->
      <add name="AProductHandler" verb="*" path="/AProductHandler.aspx" type="YSWL.MALL.Web.Handlers.AdminOrder.ProductHandler"/>
    </handlers>
    <staticContent>
      <!-- 静态内容缓存一周 BEN ADD 2012-10-29 -->
      <clientCache cacheControlMaxAge="168.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--maxBufferSize="2147483647"  maxReceivedMessageSize="65536"-->
        <binding name="SDKServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
     <client>
      <endpoint address="http://sdkhttp.eucp.b2m.cn/sdk/SDKService?wsdl" binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding" contract="SMSService.SDKClient" name="SDKService"/>
     </client>
  </system.serviceModel>
</configuration>
