<?xml version="1.0" encoding="utf-8"?>
<YSWL>
  <Core
     defaultLanguage="zh-CN"
     smtpServerConnectionLimit="-1"
     ssl = "Ignore"
     wwwStatus = "Ignore"
       >
    <providers>
      <clear/>

      <!--<add name = "EmailQueueProvider" type = "YSWL.Email.EmailJob.EmailJobSevice, YSWL.Email" />-->
    </providers>
  </Core>
  <Jobs minutes = "1" singleThread = "true">
    <job name = "Emails" singleThread = "false" minutes = "1" type = "YSWL.Email.EmailJob.EmailJob" enabled = "true" enableShutDown = "false" failureInterval = "1" numberOfTries = "10" />
  </Jobs>
</YSWL>
