@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
<script src="/Admin/js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<link href="/Admin/js/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<link href="/Scripts/jqueryui/jquery-ui-1.8.19.custom.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jqueryui/jquery-ui-1.8.19.custom.min.js" type="text/javascript"></script>
<script src="/Admin/js/jqueryui/JqueryDataPicker4CN.js" type="text/javascript"></script>
<link href="/Admin/js/select2-2.1/select2.css" rel="stylesheet" type="text/css" />
<script src="/Admin/js/select2-2.1/select2.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        $("#LoadContentList").load("@(ViewBag.BasePath)WeChat/LoadCusContent", { viewName: "_WCCusMsgList" });
        $(".iframe").colorbox({ iframe: true, width: "780", height: "630", overlayclose: false });
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        $("#txtFrom").prop("readonly", true).datepicker({
           
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#txtTo").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#txtTo").prop("readonly", true).datepicker({
           
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            onClose: function (selectedDate) {
                $("#txtFrom").datepicker("option", "maxDate", selectedDate);
                $("#txtTo").val($(this).val());
            }
        });
        //搜索
        $('#btnSearch').click(function () {
            var txtFrom = $("#txtFrom").val();
            var txtTo = $("#txtTo").val();
            var ddStatus = $("#ddStatus").val();
            $("#LoadContentList").load("@(ViewBag.BasePath)WeChat/LoadCusContent", { txtFrom: txtFrom, txtTo: txtTo, ddStatus: ddStatus });

        });
    })
</script>
<div class="newslistabout">
    <div class="newslist_title">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
            <tr>
                <td bgcolor="#FFFFFF" class="newstitle">
                    客服发送消息记录管理
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" class="newstitlebody">
                    客服发送消息记录管理
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
        <tr>
            <td width="1%" height="30" bgcolor="#FFFFFF" class="newstitlebody">
                <img src="/Areas/Shop/Themes/M1/Content/images/Supplier/icon-1.gif" width="19" height="19" />
            </td>
            <td width="280px">
                关注时间： @*<asp:TextBox ID="txtFrom"   runat="server" Width="90" ></asp:TextBox>*@
                <input type="text" name="txtFrom" id="txtFrom" style="width: 90px" />
                --
                <input type="text" name="txtTo" id="txtTo" style="width: 90px" />
            </td>
            <td height="35" bgcolor="#FFFFFF" class="newstitlebody">
                公众号：
                <select id="ddStatus" name="ddStatus">
                    @{
                        YSWL.WeChat.BLL.Core.CustomerMsg msgBll = new YSWL.WeChat.BLL.Core.CustomerMsg();
                        List<YSWL.WeChat.Model.Core.Config> openIds = YSWL.WeChat.BLL.Core.Config.GetOpenIds();
                        foreach (var item in openIds)
                        {
                             <option value="@item.Value">@item.Value</option>
                        }
                       
                    }
                </select>
                <input type="button" id="btnSearch" name="name" value="搜索" class="adminsubmit_short" />
            </td>
        </tr>
    </table>
    <br />
    <div style="background-color: #ffffff; border: 1px solid #CCC;">
        <div id="LoadContentList">
        </div>
    </div>
    <table border="0" cellpadding="0" cellspacing="1" style="width: 100%; height: 100%;">
        <tr>
            <td height="10px;">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td style="width: 1px;">
            </td>
            <td>
                <input type="button" id="btnDelete" value="批量删除" class="adminsubmit" />
            </td>
        </tr>
    </table>
</div>
