@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@model YSWL.WeChat.Model.Core.Action
 

    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link href="/Scripts/msgbox/css/msgbox.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/msgbox/js/msgbox.js" type="text/javascript"></script>
    <script src="/Areas/Supplier/Themes/M1/Content/Scripts/UpdateAction.helper.js"
        type="text/javascript"></script>
 

    <form action="" method="post" id="updateAction">
    <div class="newslistabout">
        <div class="newslist_title">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitle">
                        编辑微信指令操作
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitlebody">
                        您可以进行编辑微信指令操作
                    </td>
                </tr>
            </table>
        </div>
        @if (Model != null)
        { 
            <input id="ActionId" type="hidden" value="@Model.ActionId" name="ActionId"/>
            <table style="width: 100%;" cellpadding="2" cellspacing="1" class="border">
                <tr>
                    <td class="tdbg">
                        <table cellspacing="0" cellpadding="3" width="100%" border="0">
                            <tr>
                                <td class="td_class">
                                    指令操作名称：
                                </td>
                                <td height="25">
                                    <input type="text" id="tName" name="tName" value="@Model.Name" style="width: 250px" maxlength="20"/>
                                    @* <asp:textbox id="tName" tabindex="1" runat="server" width="250px" maxlength="20"></asp:textbox>
                                <asp:requiredfieldvalidator id="RequiredFieldValidator1" runat="server" errormessage="<%$ Resources:Site, ErrorNotNull%>"
                                    display="Dynamic" controltovalidate="tName"></asp:requiredfieldvalidator>*@
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    操作描述：
                                </td>
                                <td height="25">
                                    <textarea id="tDesc" name="tDesc" style="width: 250px" maxlength="50" rows="5" cols="3">@Model.Remark</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                </td>
                                <td height="25">
                                    <input type="button" name="name" onclick="ModifySave()" value="保存" class="adminsubmit_short" />
                                    &nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label id="lblMsg" style="color: Red">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
        <br />
    </div>
    </form>
 

