@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
<script src="/Admin/js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<link href="/Admin/js/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<link href="/Scripts/jqueryui/jquery-ui-1.8.19.custom.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jqueryui/jquery-ui-1.8.19.custom.min.js" type="text/javascript"></script>
<link href="/Admin/js/select2-2.1/select2.css" rel="stylesheet" type="text/css" />
<script src="/Admin/js/select2-2.1/select2.min.js" type="text/javascript" charset="utf-8"></script>
<div class="newslistabout">
    <div class="newslist_title">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
            <tr>
                <td bgcolor="#FFFFFF" class="newstitle">
                    客户消息用户列表
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" class="newstitlebody">
                    客服消息用户列表
                </td>
            </tr>
        </table>
    </div>
    <br />
    @using Webdiyer.WebControls.Mvc
    @model YSWL.WeChat.Model.Core.CustUserMsg
<table cellspacing="0" cellpadding="0" rules="all" border="0px" class="GridView"
    style="border-color: #CCCCCC; border-width: 1px; border-style: solid; width: 100%;
    border-collapse: collapse;">
    <tbody>
        <tr class="trclass">
            <th scope="col" style="border: 1px solid #dae2e8; border-left: 0px; border-right: 0px;
                text-align: center; height: 34px;">
                <span style="color: #666666;">微信用户</span>
            </th>
        </tr>
        @if (Model != null)
        {
           
            <tr>
                <td>
                    @Model.UserName
                </td>
            </tr> 
        }
    </tbody>
    </table>
    <script type="text/javascript">
        $(function () {
            $(".GridView tr:odd").addClass("eventrcolor");
            $(".GridView tr:even").addClass("oddtrcolor");
            $("table.GridView tr").hover(
            function () {
                $(this).addClass("tylehover");
            },
            function () {
                $(this).removeClass("tylehover");
            }
        );
        });
    </script>
</div>
