@model List<YSWL.MALL.Model.CMS.Content>
@if (Model != null && Model.Count > 0)
{    <ul>
           @foreach (var item in Model)
           {
               <li>
                   <a href="@(ViewBag.BasePath)Article/Details/@item.ContentID" arget="_blank">@item.Title</a>
               </li>
              
           }
       </ul>
}
else
{
    <ul>
        <li>
        <span style="margin-left: 25px; color: gray;">暂无内容</span>
        </li>
    </ul>
}
