<?xml version="1.0" encoding="utf-8"?>
<permissions>
  <!--基础资料的菜单权限，从5000开始-->
  <!--基础资料的菜单权限-->
  <application ApplicationID="4" Description="基础资料">
    <permission PermissionID="5000" Description="商品资料" ParentID="0"/>
    <permission PermissionID="5001" Description="商品品牌" ParentID="5000"/>
    <permission PermissionID="5002" Description="商品分类" ParentID="5000"/>
    <permission PermissionID="5003" Description="商品规格" ParentID="5000"/>
    <permission PermissionID="5004" Description="商品列表" ParentID="5000"/>
    <permission PermissionID="5005" Description="商品导入" ParentID="5000"/>
    <permission PermissionID="5006" Description="商品导出" ParentID="5000"/>

    <permission PermissionID="5100" Description="仓储资料" ParentID="0"/>
    <permission PermissionID="5101" Description="仓库管理" ParentID="5100"/>
    <permission PermissionID="5102" Description="仓库地区关联" ParentID="5100"/>
    <permission PermissionID="5103" Description="供应商管理" ParentID="5100"/>   

    <permission PermissionID="5200" Description="员工资料" ParentID="0"/>
    <permission PermissionID="5201" Description="员工管理" ParentID="5200" />
    <permission PermissionID="5202" Description="员工管理" ParentID="5200" />  
    
    <permission PermissionID="5300" Description="配置管理" ParentID="0" />
    <permission PermissionID="5301" Description="配置中心" ParentID="5300" />
  </application>

  <!--订货商城-->
  <application ApplicationID="5" Description="订货商城">
    <permission PermissionID="100" Description="商品上下架" ParentID="0" />
    <permission PermissionID="101" Description="在售商品" ParentID="100" />
    <permission PermissionID="102" Description="下架商品" ParentID="100" />
    <permission PermissionID="103" Description="分仓库存" ParentID="100" />
    <permission PermissionID="105" Description="导出商品" ParentID="100" />
    
    <permission PermissionID="200" Description="微信商城" ParentID="0" />
    <permission PermissionID="201" Description="公众号设置" ParentID="200" />
    <permission PermissionID="202" Description="微信菜单" ParentID="200" />
    <permission PermissionID="203" Description="指令菜单" ParentID="200" />
    <permission PermissionID="204" Description="微商城模板" ParentID="200" />
    <permission PermissionID="205" Description="默认回复消息" ParentID="200" />
    <permission PermissionID="206" Description="用户消息记录" ParentID="200" />
    <permission PermissionID="207" Description="智能回复设置" ParentID="200" />
    <permission PermissionID="208" Description="群发消息管理" ParentID="200" />
    <permission PermissionID="300" Description="促销管理" ParentID="0" />
    <permission PermissionID="301" Description="批发规则" ParentID="300" />
    <permission PermissionID="302" Description="批发商品管理" ParentID="300" />
    <permission PermissionID="400" Description="成长值管理" ParentID="0" />
    <permission PermissionID="401" Description="等级规则" ParentID="400" />
    <permission PermissionID="402" Description="等级限制" ParentID="400" />
    <permission PermissionID="403" Description="等级明细" ParentID="400" />
    <permission PermissionID="500" Description="配置管理" ParentID="0" />
    <permission PermissionID="501" Description="配送方式" ParentID="500" />
    <permission PermissionID="502" Description="支付方式" ParentID="500" />
    <permission PermissionID="503" Description="广告管理" ParentID="500" />
    <permission PermissionID="504" Description="缩略图生成" ParentID="500" />
    <permission PermissionID="600" Description="运营统计" ParentID="0" />
    <permission PermissionID="601" Description="订单统计" ParentID="600" />
    <permission PermissionID="602" Description="销售量统计" ParentID="600" />
    <permission PermissionID="603" Description="用户注册统计" ParentID="600" />
    <permission PermissionID="604" Description="客户活跃数" ParentID="600" />
    <permission PermissionID="605" Description="商品统计" ParentID="600" />
    <permission PermissionID="606" Description="商品销量排行" ParentID="600" />
    <permission PermissionID="607" Description="品牌销售排行" ParentID="600" />
    <permission PermissionID="700" Description="多商家管理" ParentID="0" />
    <permission PermissionID="701" Description="商品审核" ParentID="700" />
    <permission PermissionID="702" Description="商家管理" ParentID="700" />
    <permission PermissionID="703" Description="店铺管理" ParentID="700" />
    <permission PermissionID="704" Description="商家结算" ParentID="700" />
  </application>

  <!--仓储管理-->
  <application ApplicationID="1" Description="仓储管理">
    <permission PermissionID="6000" Description="采购管理" ParentID="0" />
    <permission PermissionID="6001" Description="新增采购单" ParentID="6000" />
    <permission PermissionID="6002" Description="采购单管理" ParentID="6000" />
    <permission PermissionID="6003" Description="采购单审核" ParentID="6000" />
    <permission PermissionID="6004" Description="异常采购单" ParentID="6000" />
    <permission PermissionID="6005" Description="采购单财务审核" ParentID="6000" />
    <permission PermissionID="6006" Description="对账单财务审核" ParentID="6000" />
    <permission PermissionID="6007" Description="对账单管理" ParentID="6000" />
    <permission PermissionID="6008" Description="对账单审核" ParentID="6000" />
    <permission PermissionID="6009" Description="结算单管理" ParentID="6000" />
    <permission PermissionID="6100" Description="退货管理" ParentID="0" />
    <permission PermissionID="6101" Description="添加退货单" ParentID="6100" />
    <permission PermissionID="6102" Description="退货单管理" ParentID="6100" />
    <permission PermissionID="6103" Description="退货单审核" ParentID="6100" />
    <permission PermissionID="6104" Description="退货出库单" ParentID="6100" />
    <permission PermissionID="6200" Description="收货管理" ParentID="0" />
    <permission PermissionID="6201" Description="收货入库" ParentID="6200" />
    <permission PermissionID="6202" Description="上架管理" ParentID="6200" />
    <permission PermissionID="6300" Description="库存管理" ParentID="0" />
    <permission PermissionID="6301" Description="库存查询" ParentID="6300" />
    <permission PermissionID="6302" Description="库存交易查询" ParentID="6300" />
    <permission PermissionID="6303" Description="批次管理" ParentID="6300" />
    <permission PermissionID="6400" Description="调拨管理" ParentID="0" />
    <permission PermissionID="6401" Description="调拨出库" ParentID="6400" />
    <permission PermissionID="6402" Description="调拨出库审核" ParentID="6400" />
    <permission PermissionID="6403" Description="调拨入库" ParentID="6400" />
    <permission PermissionID="6500" Description="盘点管理" ParentID="0" />
    <permission PermissionID="6501" Description="盘点任务" ParentID="6500" />
    <permission PermissionID="6502" Description="盘点差异单" ParentID="6500" />
    <permission PermissionID="6503" Description="盘点调整单" ParentID="6500" />
    <permission PermissionID="6504" Description="调整单审核" ParentID="6500" />
    
    <permission PermissionID="6600" Description="波次管理" ParentID="0" />
    <permission PermissionID="6601" Description="订单状态查询" ParentID="6600" />
    <permission PermissionID="6602" Description="波次计划" ParentID="6600" />
    <permission PermissionID="6603" Description="波次管理" ParentID="6600" />
    <permission PermissionID="6604" Description="拣货任务管理" ParentID="6600" />
    <permission PermissionID="6700" Description="出库管理" ParentID="0" />
    <permission PermissionID="6701" Description="订单分拣" ParentID="6700" />
    <permission PermissionID="6702" Description="订单复核" ParentID="6700" />
    <permission PermissionID="6703" Description="订单复核记录" ParentID="6700" />
    <permission PermissionID="6704" Description="发货扫描" ParentID="6700" />
    <permission PermissionID="6705" Description="发货管理" ParentID="6700" />
    <permission PermissionID="6800" Description="异常处理" ParentID="0" />
    <permission PermissionID="6801" Description="异常订单处理" ParentID="6800" />
    <permission PermissionID="6802" Description="异常订单查询" ParentID="6800" />
    <permission PermissionID="6900" Description="供应商平台" ParentID="0" />
    <permission PermissionID="6901" Description="接单" ParentID="6900" />
    <permission PermissionID="6902" Description="发货" ParentID="6900" />
    <permission PermissionID="6903" Description="发货单查询" ParentID="6900" />
    <permission PermissionID="6904" Description="退货管理" ParentID="6900" />
    <permission PermissionID="6905" Description="账期对账" ParentID="6900" />
    <permission PermissionID="7000" Description="基础管理" ParentID="0" />
    <permission PermissionID="7001" Description="供应商管理" ParentID="7000" />
    <permission PermissionID="7002" Description="仓库管理" ParentID="7000" />
    <permission PermissionID="7003" Description="库房管理" ParentID="7000" />
    <permission PermissionID="7004" Description="货位管理" ParentID="7000" />
    <permission PermissionID="7005" Description="单号规则管理" ParentID="7000" />
    <permission PermissionID="7006" Description="用户信息" ParentID="7000" />
    <permission PermissionID="7007" Description="容器管理" ParentID="7000" />
    <permission PermissionID="7008" Description="司机管理" ParentID="7000" />
    <permission PermissionID="7009" Description="容器类型" ParentID="7000" />
    <permission PermissionID="7010" Description="车辆管理" ParentID="7000" />
    <permission PermissionID="7011" Description="打印模板管理" ParentID="7000" />
    <permission PermissionID="7012" Description="条码打印" ParentID="7000" />
  </application>

  <!--订单中心-->
  <application ApplicationID="2" Description="订单中心">
    <permission PermissionID="8000" Description="订单管理" ParentID="0" />
    <permission PermissionID="8001" Description="订单管理" ParentID="8000" />
    <permission PermissionID="8002" Description="代客户下单" ParentID="8000" />
  </application>

  <!--数据统计-->
  <application ApplicationID="7" Description="报表中心">
    <permission PermissionID="9000" Description="销售分析" ParentID="0" />
    <permission PermissionID="9001" Description="销售走势图" ParentID="9000" />
    <permission PermissionID="9002" Description="销售分类图" ParentID="9000" />
    <permission PermissionID="9003" Description="商品售罄率" ParentID="9000" />
    <permission PermissionID="9100" Description="库存分析" ParentID="0" />
    <permission PermissionID="9101" Description="库存周转率" ParentID="9100" />
    <permission PermissionID="9102" Description="进销存分布" ParentID="9100" />
    <permission PermissionID="9103" Description="存货趋势" ParentID="9100" />
    <permission PermissionID="9200" Description="客户分析" ParentID="0" />
    <permission PermissionID="9201" Description="购买行为" ParentID="9200" />
  </application>

  <!--客户管理-->
  <application ApplicationID="8" Description="客户管理">
    <permission PermissionID="10000" Description="客户信息" ParentID="0" />
    <permission PermissionID="10001" Description="新增客户" ParentID="10000" />
    <permission PermissionID="10002" Description="客户管理" ParentID="10000" />
    <permission PermissionID="10003" Description="停用客户" ParentID="10000" />
    <permission PermissionID="10100" Description="客户设置" ParentID="0" />
    <permission PermissionID="10101" Description="客户标签" ParentID="10100" />
    <permission PermissionID="10102" Description="客户等级" ParentID="10100" />
    <permission PermissionID="10103" Description="跟踪状态" ParentID="10100" />
  </application>

  <!--ERP管理-->
  <application ApplicationID="6" Description="进销存">
    <permission PermissionID="20000" Description="出入库管理" ParentID="0" />
    <permission PermissionID="20001" Description="采购入库" ParentID="20000" />
    <permission PermissionID="20002" Description="销售出库" ParentID="20000" />
    <permission PermissionID="20003" Description="库存查询" ParentID="20000" />
    <permission PermissionID="20004" Description="调拨管理" ParentID="20000" />
    <permission PermissionID="20005" Description="采购退货" ParentID="20000" />
    <permission PermissionID="20100" Description="财务管理" ParentID="0" />
    <permission PermissionID="20101" Description="生成应收" ParentID="20100" />
    <permission PermissionID="20102" Description="应收账单" ParentID="20100" />
    <permission PermissionID="20103" Description="生成应付" ParentID="20100" />
    <permission PermissionID="20104" Description="应付账单" ParentID="20100" />
    <permission PermissionID="20200" Description="配置管理" ParentID="0" />
    <permission PermissionID="20201" Description="打印模板" ParentID="20200" />
  </application>

  <!--访销管理-->
  <application ApplicationID="9" Description="访销管理">
    <permission PermissionID="11000" Description="拜访管理" ParentID="0" />
    <permission PermissionID="11001" Description="拜访计划" ParentID="11000" />
    <permission PermissionID="11002" Description="拜访记录" ParentID="11000" />
    <permission PermissionID="11100" Description="客户跟踪" ParentID="0" />
    <permission PermissionID="11101" Description="销售跟踪" ParentID="11100" />
    <permission PermissionID="11102" Description="客户跟踪" ParentID="11100" />
    <permission PermissionID="11200" Description="任务管理" ParentID="0" />
    <permission PermissionID="11201" Description="外勤签到" ParentID="11200" />
    <permission PermissionID="11202" Description="工作日报" ParentID="11200" />
    <permission PermissionID="11300" Description="目标绩效" ParentID="0" />
    <permission PermissionID="11301" Description="目标管理" ParentID="11300" />
    <permission PermissionID="11302" Description="绩效考核" ParentID="11300" />
  </application>
</permissions>