@model List<YSWL.MALL.Model.Shop.Products.BrandInfo>
<ul class="brand-list">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
        <li><a href="@(ViewBag.BasePath)product/@ViewBag.Cid/@item.BrandId" target="_blank">
            <img width="70" height="30" data-lazy-img="done" alt="@item.BrandName" src="@item.Logo"
                class="loading-style2"></a> </li>
        }

    }
</ul>
