@model List<YSWL.MALL.Model.Shop.Coupon.CouponRule>

@if (Model != null && Model.Count > 0)
{
    <div class="form search-01" style="margin-bottom: 20px">
    
        <ul class="list-h">
            @foreach (var item in Model)
            {
                    <li>
                <input type="radio" class="radExc radio" name="RadioGroup1" value="@item.CouponPrice" ruleId="@item.RuleId" point="@item.NeedPoint"  >@(item.Name)(需@(item.NeedPoint)积分)</li>
            }
        
            <li id="liDo">
                <input type="button" value="兑换"  id="btnExchange" class="btn-jifen usercenterbtn"></li>
        </ul>
</div>
}           

