 @{
    Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayout.cshtml";
  }
  @model YSWL.MALL.ViewModel.Shop.ChangePasswordModel 
<!--表单验证开始-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/maticsoft.jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Areas/Shop/Themes/PC01/Content/scripts/updatepassword.js")"></script>
<!--表单验证结束-->
<input type="hidden" id="currentpage" value="password"/>

<div class="col-main">   
    <!-- 用户信息 E -->
        <div class="user_dingdantitle">修改密码</div>

       <div class="J_tab_panel">           
        <div class="material_con">
        <input type="hidden" id="currentpage" value="span_3"/>
        <div class="material_con_c" style="width: 100%;">
            <div class="f-box" style="margin-top: 20px;">
                                    <label class="f-label">
                                        原密码：</label>
                                    <div class="f-input">
                                        <input type="password" id="txtPwd" name="txtPwd"  maxlength="40"  class="f-txt-b f-txt">    
                                    </div>
                                    <div class="f-msg">
                                        <div id="pwdTip">
                                     
                                        </div>
                                    </div>
            </div>      
               <div class="f-box"  >
                                    <label class="f-label">
                                        新密码：</label>
                                    <div class="f-input">
                                        <input type="password" id="txtNewPwd" name="txtNewPwd" maxlength="40"   class="f-txt-b f-txt">    
                                    </div>
                                    <div class="f-msg">
                                        <div id="newpwdTip">
                                     
                                        </div>
                                    </div>
               </div>        
                <div class="f-box"  >
                                    <label class="f-label">
                                        确认密码：</label>
                                    <div class="f-input">
                                        <input  type="password" id="txtConfirmPwd" name="txtConfirmPwd" maxlength="40"   class="f-txt-b f-txt">    
                                    </div>
                                    <div class="f-msg">
                                        <div id="confirmpwdTip">
                                     
                                        </div>
                                    </div>
                </div>                                                     
        <div class="fb f-act">
                                    <div class="f-input"> 
                                        <input class="btn btn-important-large" type="button" value="确认修改" id="btnUpdatepersonal" onclick="submit();"/> 
                                    </div>
                                    <div class="f-msg">
                                        <div id="divRegTip">
                                        </div>
                                    </div>
                                </div>  
        </div>
    </div>               
                </div>
    </div>
 
    

    
    
    
  