@using YSWL.Common
 @{
    ViewBag.Title = "邀请有奖";
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayOut.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#txtUserUrl").text('http://' + $('#hiddomain').val() + $YSWL.BasePath + $('#hidurl').val());
        $("#yaoqing").click(function () {
            if (-[1, ]) { //处理非IE浏览器
                alert("您使用的浏览器不支持此复制功能，请使用Ctrl+C或鼠标右键。");
//                $("#txtUserUrl").setSelectionRange(0, $("#txtUserUrl").text().length);
//                $("#txtUserUrl").focus();
            } else {
                var flag = window.clipboardData.setData("text", $("#txtUserUrl").text());
                if (flag == true) {
                    alert("复制成功。现在您可以粘贴（Ctrl+v）到Blog或BBS中了。");
                } else {
                    alert("复制失败。");
                }
//                var range = obj.createTextRange();
//                range.moveEnd("character", end);
//                range.moveStart("character", 0);
//                range.select();
            }
        });
       

    })
      
 
</script>
<script>
	  (function() {
	    var qr = window.qr = new QRious({
	      element: document.getElementById('qrious'),
	      size: 250,
	      value: 'http://www.baidu.com/'
	    })
	  })()
</script>

<!----内容部分----->
<input type="hidden" value="@(Globals.DomainFullName)" id="hiddomain"/>
<input type="hidden" id="currentpage" value="invite"/>
<div class="col-main">  
    <div class="user_dingdantitle">我的盟友</div>   
   
        <div class="user_right">       
            <div class="guize">
              邀请送积分！
            </div> 
        </div> 
 
       <div class="user_right" >
                <h1> 专用邀请链接</h1>
                <p class="user_right_a">
                    这是你的专用邀请链接，可通过任何方式发送给好友</p>
                <div class="user_right_b">
                    <div class="user_right_b1">
                        <input type="hidden" value="@ViewBag.Url" id="hidurl"/>
                        快去邀请好友来@(ViewBag.WebName)享受购物拿返利的乐趣吧！<span id="txtUserUrl"></span>
                    </div>
                    <div class="user_right_b2">
                        <a href="javascript:;" id="yaoqing" class="usercenterbtn">复制链接</a>
                        111111<img id="qrious">1
                    </div>
                </div>

           <div class="clear">
           </div>
          
       </div> 

    111111<img id="qrious">1

    <div id="divlist">
            @Html.Action("InviteList", "UserCenter")
     </div>
</div>


<script src="/scripts/MvcPager-1.8.js" type="text/javascript"></script>
<script src="~/Scripts/jserweima.js"></script>
 
<!----内容结束----->

