@{
    Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayout.cshtml";
}
<script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<link href="/Scripts/jqueryui/base/jquery-ui-1.9.2.min.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jqueryui/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#LoadOrderList").load($YSWL.BasePath + "UserCenter/OrderList/_OrderList", function () {
            $("[data-pagerid='Webdiyer.MvcPager']").initMvcPagers();//调用ajax分页方法
        });
        $(".btnPayOrder").die("click").live("click", function () {
            var id = $(this).attr("itemid");
            if ($(this).attr("payGateway") == 'alipaybank') {
                $("html").css("overflow", "hidden");
                $("#divbankList").attr('orderId', id).dialog(dialogOpts); //弹出‘用户协议’层  
                return;
            }
            if (id) {
                window.location = '/pay/certification' + id + '/' + $YSWL.CurrentArea;
            }
        });
        $(".btnOrderCancel").die("click").live("click", function () {
            var _self = $(this);
            var orderId = _self.attr("itemid");
            var r = confirm("您确认取消订单吗？");
            if (r == true) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    timeout: 0,
                    url: "@(ViewBag.BasePath)UserCenter/CancelOrder",
                    data: { OrderId: orderId },
                    success: function (data) {
                        if (data == "True") {
                            _self.parent().prev().text("取消订单");
                            _self.parent().find('.btnPayOrder').remove();
                            _self.remove();
                        } else {
                            ShowFailTip("取消失败，请您刷新一下再试！");
                        }
                    }
                });
            }
        });
        $(".btnOrderComplete").die("click").live("click", function () {
            var _self = $(this);
            var orderId = _self.attr("itemid");  
            if (confirm("您确认完成订单吗？")) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    timeout: 0,
                    url: "@(ViewBag.BasePath)UserCenter/CompleteOrder",
                    data: { OrderId: orderId  },
                    success: function (data) {
                        if (data == "True") {
                            _self.parent().prev().text("已完成");
                            _self.parent().append('<a href="'+ $YSWL.BasePath +'UserCenter/PReview/'+orderId+'" >评论</a>  <br /> ');
                            _self.remove();
                        } else {
                            ShowFailTip("操作失败，请您刷新一下再试！");
                        }
                    }
                });
            }
        });
         
        //选择银行
        $("#ebankPaymentListDiv .pl-item").die('click').live('click', function () {
            var bankCode = $(this).attr("code"); //用户选择的银行编码
            var orderId = $('#divbankList').attr('orderId');
            if (!orderId || !bankCode) {
                return;
            }
            window.location = '/pay/certification' + orderId + '/' + $YSWL.CurrentArea + '?BankCode=' + bankCode;
            return;
        });

        $('#normalPayCardDiv').css('padding-left','10px');
    })

    //dialog层中项的设置
    var dialogOpts = {
        resizable: false,
        title: "选择银行",
        width: 840,
        height: 320,
        modal: true,
        close: function (event, ui) {
            $("html").css("overflow", "auto");
            $(this).dialog("close"); //关闭层
        },
        //buttons: {
        //    "取消": function () {
        //        $("html").css("overflow", "auto");
        //        $(this).dialog("close"); //关闭层
        //    }
        //}
    };
</script>

<input type="hidden" id="currentpage" value="order"/>

    <div class="col-main">
        <!-- 用户信息 E -->
       <div class="user_dingdantitle">我的订单</div>
        <div id="LoadOrderList">
        
        </div> 
<!----选择银行-->
        <div  id="divbankList" style="display: none;"  >
        @Html.Action("BankList", "Order")
        </div>
    </div>
@section foot{
<script src="/scripts/MvcPager-1.8.js"  type="text/javascript" ></script>
}
