@{
     Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@model  Webdiyer.WebControls.Mvc.PagedList<YSWL.MALL.Model.VPage.Article>
<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnAddtwo").click(function () {
            window.location = $YSWL.BasePath + "Home/AddMenu";
        });
    });
</script>
    <script type="text/javascript">
        function GetDeleteM() {
            $("[id$='btnDelete']").click();
        }

        function GetAdd() {
            window.location = 'add.aspx';
        }

        
    </script>


<div class="newslistabout">
    <!--Title -->
    <div class="newslist_title">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
            <tr>
                <td bgcolor="#FFFFFF" class="newstitle">
                    <span>文章管理</span>
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" class="newstitlebody">
                    <span>您可以添加、编辑和删除文章。</span>
                </td>
            </tr>
        </table>
    </div>
    <!--Title end -->
    <!--Add  -->
    <!--Add end -->
    <!--Search -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
        <tr>
            <td width="1%" height="30" bgcolor="#FFFFFF" class="newstitlebody">
                <img src="/Areas/Supplier/Themes/M1/Content/images/list.gif"  />
            </td>
            <td height="35" bgcolor="#FFFFFF" class="newstitlebody">
                <span>关键字</span>
                <input type="text" id="txtKeyword" class="admininput_1"/>
                <input type="button" id="btnSearch" value="搜索" class="adminsubmit_short"/>
            </td>
        </tr>
    </table>
    <!--Search end-->
    <br />
    <!--Toolbar -->
            <div class="newslist">
        <div class="newsicon">
            <ul>
                <li style="background: url(/images/icon8.gif) no-repeat 5px 3px">
                    <a href="javascript:;" id="addAd">添加</a> <b>|</b> 
                </li>
                <li style="background: url(/Areas/Supplier/Themes/M1/Content/images/delete.gif) no-repeat">
                    <a href="javascript:;" id="btnDeletetwo">删除</a><b>|</b>
                </li>
            </ul>
        </div>
    </div>
    <!--Toolbar end -->
    <div id="LoadArticleList">
        @{Html.RenderPartial("_ArticleList", Model);}
    </div> 
</div>
<script type="text/javascript">
    $(function () {
        var idlist = "";
        $("#btnDeletetwo").click(function () {
            var $checkBoxList = $(".itemcheck:checked"); //$("input[type='checkbox']:checked");
            if ($checkBoxList.length == 0) {
                ShowFailTip("请选择要删除的菜单！");
                return false;
            } else {
                if (!confirm('您确定要删除吗？')) {
                    return false;
                }
                $checkBoxList.each(function () {
                    idlist += $(this).attr("menuId") + ",";
                });
                $.post($YSWL.BasePath + "Home/DeleteMenus", { idList: idlist }, function (data) {
                    if (data == "ok") {
                        ShowSuccessTip("删除成功");
                        window.location = $YSWL.BasePath + "Home/SupplierMenu";
                    } else {
                        ShowFailTip("删除失败！");
                    }
                });
            }
        });
        $(".deleteThisMenu").die('click').live('click', function () {
            if (!confirm("您确定要删除吗？")) {
                return false;
            }
            $.post($YSWL.BasePath + "Home/DeleteAMenu", { menuId: $(this).attr("menuid") }, function (data) {
                if (data == "ok") {
                    ShowSuccessTip("删除成功");
                    window.location = $YSWL.BasePath + "Home/SupplierMenu";
                } else {
                    ShowFailTip("删除失败！");
                }
            });
        });
        $(".editThisMenu").die('click').live('click', function () {
            window.location = $YSWL.BasePath + "Home/EditMenu/" + $(this).attr("menuid");
        });
        $("#btnSearch").click(function () {
            if ($("#txtKeyword").val().length == 0) {
                ShowFailTip("请输入关键字！");
                return false;
            }
            $("#LoadMenuList").load($YSWL.BasePath + "Home/SearchMenu", { keyword: $("#txtKeyword").val() });
            //window.location = "@(ViewBag.BasePath)SellerCenter/SearchMenu/" + $("#txtKeyword").val();
            //$.post("@(ViewBag.BasePath)SellerCenter/SearchMenu", { keyword: $("#txtKeyword").val() });
        });
        //        $(".checkAll").click(function () {
        //            var thisState = state(this); //$(this).prop("checked", !$(this).attr("checked"));
        //            $(".itemcheck").prop("checked", thisState);
        //        });
    });
</script>


