.m18_body {
	width:950px;
	height:500px;
	margin:10px auto 0 auto;
	text-align:center;
}
[class].m18_body {
	height:auto;
}
#shopc_msg {
	width:930px;
	height:28px;
	margin:0 auto;
}
#shopc_msg ul,#shopc_msg2 ul {
	margin:0;
	padding:0;
}
#shopc_msg ul li,#shopc_msg2 ul li {
	float:left;
	height:28px;
}
#msg_margin {
	margin-right:15px;
}
.msn_lineheight {
	line-height:28px;
	margin-top:2px;
	font-size:14px;
	color:#993300;
}
.msn_lineheight span {
	color:#c00;
	font-size:16px;
	font-weight:bold;
}
#shopc_list_title {
	height:26px;
	margin:-1px auto 0 auto;
	background-image:url(../images/list_titile_bk.gif);
}
#shopc_list_title ul li {
	line-height:26px;
	float:left;
	height:26px;
	font-size:14px;
	color:#999;
	text-align:center;
	padding:0 10px 0 10px;
	color:#999;
}
.title_width1 {
	width:448px;
}
.title_width2 {
	width:100px;
}
.list_big_body {
	border:1px solid #E4E4E4;
	border-bottom: none;
	margin:5px auto 0 auto;
}
[class].list_big_body {
	height:auto;
}
.list_shop {
	width:930px;
	float:left;
	height:90px;
}
.list_shop ul li {
	line-height:90px;
	float:left;
	height:90px;
	padding:0 10px 0 10px;
}
.vi_pic {
	padding:3px;
	float:left;
	border:1px solid #CCC;
	font-size:0;
	margin:5px 0 5px 10px;
}
.vi_inf {
	line-height:18px;
	text-align:left;
}
.vi_inf span {
	padding:0 5px 0 0
}
a.btn-oper2:hover {
	text-decoration:none;
}
.vi_inf_color {
	color:#666;
}
.vi_inf_h1_color {
	color:#1859A5;
}
a:hover .vi_inf_h1_color {
	color:#c00;
}
.vi_inf_input {
	width:25px;
	height:15px;
	border:1px solid #ccc;
	margin:0 3px 0 3px;
	text-align:center;
	color:#333;
}
.vi_inf_suprise {
	font-size:14px;
	color:#ff3300;
}
#count_all {
	width:930px;
	height:23px;
	margin:10px auto 10px auto;
}
#count_all ul {
	float:right;
}
#count_all ul li {
	padding:0 10px 0 10px;
	float:left;
	text-align:center;
}
#count_all span {
	color:#c00;
	font-weight:bold;
	height:23px;
	line-height:23px;
}
.count_solid {
	border-right:1px dashed #999;
	border-left:1px dashed #999;
}
#check_buy {
	width:930px;
	margin:10px auto 10px auto;
}
.check_bt {
	width:530px;
	float:left;
	background-color:#f5f5f5;
	text-align:center;
}
.check_coupon {
	width:390px;
	height:50px;
	line-height:50px;
	float:left;
	margin-right:10px;
	background-color:#f5f5f5;
	text-align:center;
}
.check_coupon input {
	width:85px;
	height:20px;
	margin-top:15px;
}
.check_coupon .t1a {
	padding:2px;
	border:1px solid #999;
	background:#A39883;
}
.text_msg {
	width:415px;
	float:left;
	font-size:14px;
	color:#FF6600;
}
.text_msg a {
	color:#FF6600;
	text-decoration:underline;
}
.bt_check {
	float:left;
	margin-top:7px;
}
#goon_buy {
	width:930px;
	height:30px;
	margin:10px auto 10px auto;
	text-align:right;
}
#goon_buy img {
	width:120px;
	height:29px;
}
.zengpin {
	text-align:left;
	margin:10px auto;
	padding-bottom:10px;
	width:950px;
	background:url(../images/bg-title.png) repeat-x 0 0;
}
.zengpin .title {
	text-align:left;
	margin:5px 0 0px 10px;
	color:#c00;
	font-weight:600;
	font-size:24px;
	font-family:"Microsoft YaHei";
	line-height:30px;
}
.zengpin .title span {
	font-size:18px;
	margin-left:5px;
}
.zengpin1_1 {
	display:inline;
	float:left;
	margin:15px 10px 0 10px;
}
.zengpin2_2 {
	width:450px;
	height:340px;
	float:right;
}
.zengpin_h1 {
	width:450px;
	height:25px;
	float:left;
	text-align:left;
	font-size:14px;
}
.zengpin1 {
	width:452px;
	float:left;
	border:1px dashed #999;
}
.zengpin1 .ttitel {
	font-size:14px;
	font-weight:600;
	line-height:26px;
	text-indent:1em;
}
.zengpin1.canget {
	border:1px solid #c00;
}
.zengpin1.canget .ttitel {
	background:#c00;
	color:#fff;
}
.zengpin1.noget .ttitel {
	background:#EEEEEE;
}
.zengpin1.noget .ttitel a {
	font-size:12px;
	font-weight:400;
	margin-left:5px;
}
.zengpin2 {
	width:460px;
	height:280px;
	float:right;
	border:1px dashed #999;
}
.zengpin1_h1,.zengpin2_h1 {
	width:450px;
	height:22px;
	text-align:left;
	font-size:14px;
}
.zengpin1_border,.zengpin2_border {
	width:450px;
	height:340px;
	border:1px dashed #999;
}
.zp_pic {
	width:175px;
	float:left;
	font-size:14px;
	text-align:left;
	padding:5px;
}
.zp_pic img {
	width:175px;
	height:228px;
}
.zp_pic a {
	color:#4E5C89;
}
.zp_text {
	width:230px;
	float:left;
	padding:5px;
}
.zp_text div {
	width:220px;
	text-align:left;
	float:left;
}
.zp_text_red_size {
	border:1px solid #C98181;
	background-color:#FFF7F7;
	height:135px;
	padding:5px;
}
.zp_text_red_size span {
	color:#900;
}
.zp_text_red_size ul li {
	float:left;
	margin-right:5px;
}
.zp_text_red_size a img {
	border:1px solid #333;
}
.zp_text_img {
	border:1px solid #333;
}
.zp_text_red_size input {
	width:35px;
	height:16px;
}
.zp_text_red_size div {
	margin:3px 0 3px 0
}
.zp_img_border {
	border:1px solid #333;
	font-size:0px;
}
.zp_size a {
	display:block;
	border:1px solid #333;
	background-color:#FFF;
	padding:0px 5px 0px 5px;
}
.zp_size_2 a {
	border:2px solid #333;
}
.zp_msg {
	padding:5px;
	border:1px solid #F60;
	background-color:#FFC;
}
.zp_msg span {
	color:#c00;
	font-size:14px;
	font-weight:bold;
}
.clearboth {
	clear:both;
	font-size:0px;
}
.tiptable {
	width:935px;
	margin:0 auto;
}
.tiptable td {
	background:#F5F5F5;
	padding:5px;
}
.tiptable .t1 {
	border-right:5px solid #FFF;
	width:365px;
}
.tiptable .t2 {
	padding:10px;
}
.tiptable .t2 a {
	text-decoration:underline;
}
.tiptable .t3 {
	width:110px;
	text-align:center;
}
.list_big_body .t1 {
	width:90px;
	padding:5px 0;
}
#login-pop .overlay {
	width:420px;
	height:290px;
	margin:-145px 0 0 -210px;
}
#login-pop .overlaymain {
	width:400px;
	height:270px;
	margin:-135px 0 0 -200px;
}
#login-pop .clew {
	padding:10px 15px;
	border-bottom:1px solid #666;
	background:#FFFFCC;
}
#login-pop fieldset {
	padding:20px 0 0 80px;
}
#login-pop legend {
	position:absolute;
	left:-999em;
	font-size:0;
}
#login-pop fieldset div {
	height:40px;
	text-align:left;
}
#login-pop fieldset label {
	vertical-align:middle;
}
#login-pop fieldset .text {
	height:20px;
}
#login-pop .handle {
	overflow:hidden;
	width:200px;
	margin:10px auto 0;
}
#login-pop .handle a {
	float:right;
	margin-top:5px;
	text-decoration:underline;
}
#login-pop .handle input {
	float:left;
	width:112px;
	height:32px;
	background:url(../images/btn-login.png) no-repeat 0 0;
	border:none;
	text-indent:-99em;
	cursor:pointer;
}
.tips {
	display:none;
	padding:10px;
	background:#FFF7F7;
	border:1px solid #C98181;
}
.tips td {
	padding:5px 10px;
	text-align:left;
}
.zengpin1 .handle {
	cursor:pointer;
}
.zengpin1 .disable {
	cursor:not-allowed;
}
.vi_inf_input {
	width:25px;
	height:15px;
	border:1px solid #ccc;
	margin:0 3px 0 3px;
	text-align:center;
	color:#333;
}
/*gift CSS STYLE*/
.no-goods {
	margin-left:-330px;
	border:2px solid #861327;
	padding-bottom:15px;
	position:absolute;
	width:650px;
	background:#fff;
	top:260px;
	left:50%;
	z-index:9
}
.errormessage {
	margin:15px 0;
	padding:10px 30px 20px 68px;
	background:url(../images/error.png) no-repeat 8px 0;
	font-size:14px;
}
.no-goods .title {
	padding-left:1em;
	line-height:30px;
	background:#861327;
	font-size:14px;
	font-weight:600;
	color:#fff;
}
.no-goodslist {
	margin:0 auto;
	width:600px;
	border:1px solid #D8B98F;
	border-collapse:collapse;
}
.no-goodslist caption {
	line-height:28px;
	font-size:14px;
	font-weight:600;
}
.no-goodslist th {
	padding:2px 10px;
	color:#999;
	background:url(../images/tbg.jpg) repeat-x 0 0;
	font-size:14px;
}
.no-goodslist td {
	padding:8px 10px;
	background-color:#FFFFE6;
	border-top:1px dashed #999;
}
.no-goodslist .tline td {
	border-top:1px solid #D9D9D9;
}
.btn-back {
	margin:10px 0 50px;
}
.btn-back a {
	margin:0 auto;
}
.btn-back a,a.btn-gobuy {
	display:block;
	width:122px;
	height:34px;
	background:url(../images/btn-backcart.png) no-repeat 0 0;
	text-indent:-9em;
	overflow:hidden;
}
a.btn-gobuy,a.btn-abandon {
	float:left;
	margin:0 40px;
}
a.btn-abandon {
	display:block;
	width:164px;
	height:34px;
	background:url(../images/btn-cart-gift.jpg) no-repeat 0 0;
	text-indent:-9em;
	overflow:hidden;
}
.no-goodslist.no-goodscart {
	margin:10px auto;
	width:950px;
}
.no-goodslist.no-goodscart th,.no-goodslist.no-goodscart td {
	text-align:center;
}
.no-goodslist.no-goodscart caption {
	color:#333;
}
.no-goodslist.no-goodscart caption a {
	margin-left:10px;
	font-size:12px;
	font-weight:400;
}
.no-goodslist td .imgshow {
	float:left;
	margin:0 20px 0 10px;
}
.no-goodslist td .tl {
	text-align:left;
}
.w1 {
	width:380px;
}
.w2 {
	width:400px;
}
.w3 {
	width:200px;
}
.no-goodslist .w1 {
	width:300px
}
.no-goodslist .w2 {
	width:160px
}
.iteminfo {
	margin-right:10px;
	padding:5px 0;
	width:245px;
}
.iteminfo h2,.bottom-buy h2 {
	font-size:13px;
}
.iteminfo .brand,.bottom-buy .brand {
	font:14px "Microsoft YaHei";
	color:#CCC;
	font-weight:bold;
}
.iteminfo .price,.bottom-buy .price {
	font-size:16px;
	color:#A71F24;
	font-weight:bold;
}
.iteminfo .error {
	}.outline {
	padding:10px 0 10px 10px;
	border:1px solid #FFCFCF;
	background:#FFF7F7;
}
.outline.c-hover,.outline:hover {
	background:#FFECE6;
	border:1px solid #FF3300;
}
.choice li {
	float:left;
	margin-right:3px;
	padding:2px;
}
.choice ul a {
	float:left;
	background-color:#FFF;
}
.choice ul li.cur {
	position:relative;
}
.choice ul li.cur a {
	cursor:default;
}
.choice ul a:hover,.choice ul li.cur a {
	margin:-2px;
	border:3px solid #F60;
}
.choice .size-select a:hover,.choice .size-select li.cur a {
	border:3px solid #F60;
}
.choice .color-select img {
	width:20px;
	height:20px;
	border:1px solid #FFF;
}
.choice .color-select a {
	overflow:hidden;
	width:22px;
	height:22px;
	border:1px solid #333;
}
.choice .size-select a {
	line-height:14px;
	padding:2px 6px;
	border:1px solid #999;
	color:#333;
	text-decoration:none;
}
.choice .text {
	width:50px;
	margin:0 5px;
	vertical-align:middle;
}
.choice li span {
	display:none;
}
.choice li.cur span {
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:1px;
	right:1px;
	width:10px;
	height:10px;
	background:url(h../images/bg-selected.png) no-repeat 0 0;
	text-indent:-9em;
}
.iteminfo .notify {
	padding:2px 0 5px 22px;
	color:#E57212;
}
a.btn-get,a.btn-noget {
	display:block;
	margin:10px 0;
	width:100px;
	height:28px;
	font-size:14px;
	font-weight:600;
	line-height:28px;
	text-align:center;
}
a.btn-get,a.btn-get:visited,a.btn-get:hover {
	color:#fff;
	background:url(../images/btn-get.gif) no-repeat 0 0;
}
a.btn-noget,a.btn-noget:active,a.btn-noget:hover {
	color:#C4C4B3;
	background:url(../images/btn-noget.gif) no-repeat 0 0;
	text-decoration:none;
	cursor:not-allowed;
}
.goods-detail {
	float:left;
	margin:5px 0;
	width:91px;
	height:21px;
	background:url(../images/goods-detail.gif) no-repeat 0 0;
	text-indent:-9em;
	overflow:hidden;
}
a.all-gifts {
	float:left;
	padding-left:10px;
	margin-left:10px;
	padding-bottom:10px;
	white-space:nowrap;
	background:url(../images/ico-blue.gif) no-repeat 0 5px;
}
a.all-gifts {
	float:left;
	padding-left:10px;
	margin-left:10px;
	padding-bottom:10px;
	white-space:nowrap;
	background:url(../images/ico-blue.gif) no-repeat 0 5px;
}
.close {
	position:absolute;
	top:4px;
	right:15px;
	width:20px;
	height:20px;
	text-indent:-9em;
	overflow:hidden;
	background:url(../images/ico-close1.png) no-repeat 50% 6px;
}
.gift-warn {
	padding:20px 40px 20px 70px;
	background:url(../images/ico-info.gif) no-repeat 35px 22px;
	color:#FE3232;
	font-weight:600;
	line-height:24px;
	font-size:14px;
}
.gifts {
	width:480px;
	border:3px solid #AB0000;
	background:#FEFCE4 url(../images/crossbg.jpg) repeat-x 0 0;
	padding:30px 0 15px;
	position:absolute;
	top:260px;
	left:50%;
	margin-left:-243px;
	z-index:10;
}
.gifts p {
	padding:0 40px 0 70px;
	background:url(../images/ico-info.gif) no-repeat 35px 2px;
	color:#FE3232;
	font-weight:600;
	line-height:24px;
	font-size:14px;
}
.btn-gif {
	margin:10px 20px 30px 70px;
}
.btn-gif2 {
	margin:10px 20px 10px 25px;
}
.btn-gif2 .btn-gobuy {
	margin-left:0;
}
.btn-gif.mleft2 a {
	margin-right:20px;
}
.btn-gif .hl {
	color:#FF0100;
}
.gifts p.t2 {
	color:#000
}
.g-red {
	color:#c00;
}
.stepwarn {
	padding-left:6px;
	color:#9B0101;
	font-size:14px;
	font-weight:600;
}
.w30 {
	width:50px;
}
/*.error {
	display:inline-block;
	background:#FFCEE7 url(../images/ico-error.png) no-repeat 10px 6px;
	border:1px solid #FFACAC;
	color:#993333;
	font-family:Tahoma;
	line-height:14px;
	padding:5px 20px;
}*/
.bor-red {
	border:1px solid #ff0000
}
a.linkhl {
	font-size:12px;
	font-weight:400;
	color:#EF6600;
}
.w350 {
	width:350px;
}
#SettleErrorInfo {
	text-align:left;
}
#SettleErrorInfo.tr {
	text-align:right;
}
/**specal price*
.zengpin .title {
	background:url(../images/spe-price.gif) no-repeat 190px 15px;
}
*/
/** add goods margin**/
#FreeShipInfo.addgoods {
	margin-left:25px;
}
/*--gobuy revised--*/
#btn-gobuy {
	margin:20px 0 20px 0;
}
#btn-gobuy .btn-gobuy {
	margin:0 auto;
	float:none;
}
/*--ipad banner--*/
.ipadBan {
	background:url(../images/ipadBanner.gif) no-repeat;
	height:40px;
	padding:24px 0 0 330px;
}
.joinIpad {
	width:107px;
	height:30px;
	text-indent:-99em;
	overflow:hidden;
	margin-right:25px;
}
.ipadBan ul {
	margin-top:3px;
	width:300px;
	overflow:hidden;
}
.deadline {
	padding-top:8px;
	width:178px;
}
.ipadBan ul li {
	float:left;
}
.time {
	background:url(../images/time1-bg.gif) no-repeat;
	float:left;
	width:30px;
	height:30px;
	color:#FFF;
	text-align:center;
	font:normal 28px/30px Arial,Helvetica,sans-serif;
	vertical-align:middle;
}
.time2 {
	background:url(../images/time2-bg.gif) no-repeat;
	float:left;
	width:61px;
	padding-left:6px;
	*padding-left:1px;
	height:30px;
	color:#FFF;
	letter-spacing:14px;
	font:normal 28px/30px Arial,Helvetica,sans-serif;
	vertical-align:middle;
}
.time2-box {
	width:85px;
}
.f30 {
	font:normal 30px/30px "黑体";
}
/*--split store tips--*/
.splitTips {
	background:#FFF8E1;
	padding:3px !important;
}
.splitTips2 {
	background:#FBF2CE;
	padding:8px !important;
}
.splitTips2 span {
	background:url(../images/ico-warning.png) no-repeat 0 0;
	padding-left:20px;
}
/*--btn display inline-block style--*/
.btnredInline {
	display:-moz-inline-stack;
	display:inline-block;
	padding:0 6px 0 0;
	background:url(../images/btnRed-inline.gif) no-repeat 100% 0;
	*display:inline;
}
.btnredInline a,.btnredInline input {
	display:-moz-inline-stack;
	display:inline-block;
	height:34px;
	line-height:30px;
	padding:0 18px 0 20px;
	background:url(../images/btnRed-inline.gif) no-repeat 0 0;
	color:#FFFFFF;
}
.btnredInline a:hover {
	color:#FFFFFF;
	text-decoration:none;
}
/*----*/
.color-pink {
	color:#F82452;
	font-family:tahoma,arial,宋体,sans-serif;
}
#shopc_msg2 {
	height:28px;
}
.list-square li {
	overflow:hidden;
	padding:4px 0 4px 10px;
	background:url(../images/ico2.gif) no-repeat 2px 50%;
}
#shopc_msg2 .couponInfo li {
	height:18px;
	margin-left:10px;
	_display:inline;
}
.couponInfo {
	border:1px solid #FFD2A2;
	background:#FDFAE9;
}
.couponInfo ul {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.tiptable .vm {
	vertical-align:middle;
}
/*--succeed and error tips--*/
.tips-succeed {
	background:#F2FBEA url(../images/ico-suc2.gif) no-repeat 5px 6px;
	display:none;
	padding:4px 10px 4px 25px;
	border:1px solid #70B14B;
	width:90px;
}
.tips-error {
	background:#EEFBFF url(../images/iconTips.gif) no-repeat 5px 3px;
	display:none;
	padding:4px 10px 4px 30px;
	border:1px solid #91CCFD;
	width:90px;
}
.hand {
	cursor:pointer;
}
/*----------Start message -----------------------------------------------------------------------------*/
/*==msg-ico style==*/
.msg-ico {
	background-image:url(../images/msg.png);
	background-repeat:no-repeat;
	font-size:0px;
	line-height:0px;
	overflow:hidden;
	position:absolute;
}
.msg .msg-ico {
	width:16px;
	height:16px;
	top:5px;
	left:5px;
}
.msg-m .msg-ico {
	width:32px;
	height:32px;
	top:0px;
	left:0px;
}
.msg-b .msg-ico {
	width:48px;
	height:48px;
	top:0px;
	left:0px;
}
.msg-ok .msg-ico {
	background-position:0px 0px;
}
.msg-warn .msg-ico {
	background-position:-50px 0px;
}
.msg-info .msg-ico {
	background-position:-100px 0px;
}
.msg-err .msg-ico {
	background-position:-150px 0px;
}
.msg-notice .msg-ico {
	background-position:-200px -50px;
	top:7px;
}
.msg-ok-m .msg-ico {
	background-position:0px -50px;
}
.msg-warn-m .msg-ico {
	background-position:-50px -50px;
}
.msg-info-m .msg-ico {
	background-position:-100px -50px;
}
.msg-ask-m .msg-ico {
	background-position:-150px -50px;
}
.msg-ok-b .msg-ico {
	background-position:0px -100px;
}
.msg-warn-b .msg-ico {
	background-position:-50px -100px;
}
.msg-info-b .msg-ico {
	background-position:-100px -100px;
}
.msg-ask-b .msg-ico {
	background-position:-150px -100px;
}
/*==msg,msg-m,msg-b style==*/
.msg,.msg-m,.msg-b {
	font-family:\5B8B\4F53;
	position:relative;
	zoom:1;
	overflow:visible;
	height:auto;
	line-height:1.506;
}
.msg {
	font-size:12px;
	border-width:1px;
	border-style:solid;
	padding:4px 5px 4px 25px;
	_padding:5px 5px 3px 25px;
	color:#666666;
	display:inline-block;
	*display:inline;
	letter-spacing:0;
}
.msg-m {
	padding:0 5px 10px 42px;
	font-size:14px;
	color:#333333;
}
.msg-b {
	padding:0 5px 15px 73px;
	font-size:14px;
	color:#333333;
}
.msg-ok {
	border-color:#70b14b;
	background-color:#f2fbea;
}
.msg-warn {
	border-color:#ff7314;
	background-color:#ffffdd;
}
.msg-info {
	border-color:#42b4ff;
	background-color:#f2faff;
}
.msg-err {
	border-color:#cc0000;
	background-color:#ffe6e6;
}
.msg-low {
	border-color:#fccc8c;
	background-color:#fffff4;
	padding-left:5px;
}
.msg-notice {
	padding-left:20px;
	border:none 0;
}
.msg-naked {
	border:none 0;
	background:none;
}
/*----------End message -------------------------------------------------------------------------------*/

/*-- id --*/
#spanAmount1,#spanAmount2,#spanAmount3,#spanAmount4,#spanAmount5,#spanAmount6,#spanAmount7,#spanAmount8,#spanAmount9,#spanAmount10 {
	color:#c00!important;
}



/*购物流程 Start Ben Add 20130618*/

.loading ,.checkout-state{background: #fff}
.loading b ,.checkout-state b{width:28px; height:28px; float:left; background:url(../images/loading_shop.gif) no-repeat center center;}
.loading-1 ,.checkout-state{height:28px; border:1px solid #edd28b; padding:0 10px; float:left; line-height:28px;}
.loading-1 b ,.checkout-state b {margin-right:5px;}

.cart-empty {
	height: 298px;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
}
.cart-empty .message {
height: 198px;
padding-left: 42%;
margin-top: 9%;
background: #f3f3f3 url(/Areas/Shop/Themes/M1/Content/images/cart-empty-bg.png) no-repeat 35% 22px;
}
.cart-empty .message p {
	line-height: 98px;
}
.cart-empty .message ul {
	padding-top: 23px;
}  
.cart-empty .message li {
	line-height: 26px;
}
.cart-empty a,.cart-empty a:visited,.cart-empty a:hover {
	color: #005ea7
}

.gouwuchelist{ padding: 10px 40px; height:70px;}
 .gouwuchelist label span{ text-indent:-99999px;}
 .wupin{ width:468px; float:left;}
 .wupin img{ float:left; margin-right:15px;}
 .wupin h2{ line-height:18px; color:#333333; margin-top:10px;text-align: left;}
 .wupin h3{ line-height:18px; color:#2b9a18;}
 .hengxian{ border-bottom:1px #cfcfcf solid; height:1px; line-height:1px; overflow:hidden; margin:15px 0px; clear:both;}
 
 .jiage{ width:100px; float:left;}
 .p12_1{ line-height:18px; text-decoration:line-through;}
 .p12_2{ line-height:18px; font-weight:bold; color:#c00;}
 .p12_3{ line-height:18px;}
 
 .shuliang{ width:120px; float:left; position:relative;}
 .jiaoshao a{ background:url(../images/jjj.jpg) no-repeat; height:13px; width:13px; display:block; float:left; margin-right:5px; margin-top:2px; }
 .zhengjia a{ background:url(../images/jiahao.jpg) no-repeat; height:13px; width:13px; display:block; float:left; margin-left:5px; margin-top:2px; }
 
 .xiaoji{ float:left; width:120px; line-height:18px; font-weight:bold; color:#c00;}
 .caozuo{ float:right; width:40px; line-height:18px;}
 .caozuo a{ text-decoration:underline; color:#004b91;}
 
#headers{/*margin-bottom:10px;*/padding:20px 5px 5px;}
#headers #shd2{ background: none;}
#headers .step{ float: right;/*margin-top: -20px;*/margin-top: 38px;}

 /*step*/
#headers .step{overflow:hidden;background:#ededed;color:#999999;font-weight:bold;/*margin:0 auto 10px;*/zoom:1}
#headers .step li{float:left;position:relative;padding-left:22px;padding-right:35px;line-height:25px;height:25px;overflow:hidden;}
.step li b{position:absolute;width:22px;height:25px;background:url(../images/flow.gif) no-repeat;top:0;right:-1px;}
#step1 .fore1,#step2 .fore2,#step3 .fore3,#step4 .fore4{background:#ffe6bc;color:#ff6600;}
#step1 .fore1 b,#step2 .fore2 b,#step3 .fore3 b{background-position:0 -26px;}
#step2 .fore1,#step3 .fore1,#step3 .fore2,#step4 .fore1,#step4 .fore2,#step4 .fore3{background:#bbbbbb;color:#ffffff;}
#step2 .fore1 b,#step3 .fore2 b,#step4 .fore3 b{background-position:0 -78px;}
#step3 .fore1 b,#step4 .fore2 b,#step4 .fore1 b{background-position:0 -52px;}

 #payRemark_8 tr{line-height:20px;}
#payRemark_8 td{padding:2px;}
#payRemark_8 .tsbox div{padding:3px;}
#payRemark_8 input{margin:6px 5px 0 8px; *margin:1px 2px 0 5px;}
#payRemark_8 td div {height:26px; overflow:hidden; zoom:1; line-height:26px;}
#reserve-time{margin-right:5px;}
#payment-ship .way-category-label-a{color:#005ea7 ;display:block;position:relative;z-index:3;cursor:default;}
.payment-installment-content{border:1px solid #FFF4D3;margin-top:10px;}
#coupons .tip a{color:#005EA7;margin-left:20px;}
.step-right{padding-right:24px;
    height: 20px;
    line-height: 20px;
    padding: 10px 10px 0 0;
    position:absolute;
    top:2px;
    left:133px;
}
.save-consignee-payship{
	background-color: #FFFDEE;
    border: 1px solid #EDD28B;
    padding:0 1px 0 3px;
}
.step-right span {
    color: #FF6600;
    float: left;
    margin-right: 5px;
}
.step-right .tooltip-close {
    background: url("i/tooltip-close-icon-1.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 7px;
    line-height: 50px;
    margin-top: 8px;
    overflow: hidden;
    width: 7px;
}

#coupons .virtual-table-body .coupon-scope font{
	color:#333;
}

#payment_dialog_close{
	display:none;
}

.submit-error{
	position:absolute;
	right:20px;
	top:-22px;
	background:#FFE8E8;
	color:#CC0000;
	border:1px solid #DB9A9A;
	height:20px;
	line-height:20px;
	padding:0 3px;
}

#checkout .cbox .mt {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
    margin-bottom: -1px;
    overflow: visible;
    position: relative;
}

.cbox .tab {
    height: 25px;
}
.cbox .tab li {
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #DDDDDD;
    border-image: none;
    border:1px solid #DDDDDD;
    border-bottom: none;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 0 10px;
    text-align: center;
    width: 83px;
}
.cbox .tab .curr { 
    background: none repeat scroll 0 0 #EEFAFF;
    border: 1px solid #A3D1EC;
     border-bottom:none;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-top: 0;
}
.iframed { 
	width:100%; 
	height:200px; 
	position:relative; 
	margin-bottom:-200px; 
	z-index:-1; 
	filter:alpha(opacity=0);
}
#mask_maticsoft 
{ background-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.5);
}

/*.progress .progress-1{background:url(../images/step1.png) no-repeat;width:481px;padding-top:23px;overflow:hidden;height:23px;}
.progress ul {width:481px; float:right;}
.progress li {width:160px; height:23px; float:left; color:#bce8a3; line-height:23px; text-align:center;}
.progress li b {width:22px; height:25px; display:none; }
.progress li.step-1{color:#7abd54;}
.progress li.step-2{color:#aaaaaa;width:161px;}
.progress li.step-3{color:#aaaaaa;}
.progress li.complete b {background-position:0 -50px;}
 
.progress .progress-2{background:url(../images/step2.png) no-repeat;width:481px;padding-top:23px;overflow:hidden;height:23px;}
.progress li b {width:22px; height:25px; display:none; }
.progress li.s2{color:#7abd54;width:161px;}
.progress li.s3{color:#aaaaaa;}
.progress li.complete b {background-position:0 -50px;}*/

.clearfix {
display: block;
}
.btn,.btn .btn-text {
	background: url(../images/btn-bg-1.png) no-repeat
}
.btn {
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	margin-right: 5px;
	padding-right: 10px;
	line-height: normal;
	font-size: 12px;
	background-position: 100% -63px
}
.btn span {
	cursor: pointer
}
.btn .btn-icon {
	position: absolute;
	display: inline;
	overflow: hidden;
	font-size: 0;
	line-height: 0
}
.btn .btn-text {
	height: 21px;
	padding: 0 0 0 10px;
	float: left;
	display: block;
	overflow: hidden;
	line-height: 22px;
	text-align: left;
	background-position: 0 0
}
a.btn:visited,a.btn:hover {
	color: #333
}
a.btn:hover,a.btn:hover span {
	text-decoration: none
}

.cart-toolbar,.cart-total {
	clear: both
}
.cart-toolbar {
	padding: 5px 10px;
	line-height: 22px
}
.cart-toolbar .control span {
	height: 22px;
	float: left
}
.cart-toolbar .control b {
	margin-right: 4px;
	float: left;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
}
.cart-toolbar .control .delete {
	margin-right: 12px
}
.cart-toolbar .control .delete b {
	width: 9px;
	height: 9px;
	margin-top: 6px;
	background-position: 0 0
}
.cart-toolbar .control .pool b {
	width: 14px;
	height: 12px;
	margin-top: 5px;
	background-position: 0 -9px
}
.cart-toolbar .control a,.cart-toolbar .control a:visited,.cart-toolbar .control a:hover {
	color: #005ea7
}
.cart-toolbar .amout {
	padding-right: 10px
}
.cart-toolbar .amout span {
	color: #e4393c;
	font-family: Verdana,Arial
}
.cart-toolbar .total {
	width: 180px
}
.cart-toolbar .total p {
	clear: both
}
.cart-toolbar .total span {
	float: right;
	font-family: Verdana,Arial
}
.cart-total {
	padding: 10px 10px;
	height: 30px;
	background-color: #f7f7f7;
}
.cart-total a.btn:hover span {
	color: #333
}
.cart-total a.gray-btn .btn-icon {
	height: 12px;
	top: 4px;
}
.cart-total a.gray-btn .btn-text {
	padding-left: 32px
}
.cart-total a.btn:hover {
	background-position: 100% -84px
}
.cart-total a.btn:hover .btn-text {
	background-position: 0 -21px
}
.cart-total a.btn-storage .btn-icon {
	width: 19px;
	left: 7px;
	background-position: 0 0
}
.cart-total a.btn-storage:hover .btn-icon {
	background-position: 0 -12px
}
.cart-total a.btn-takeout .btn-icon {
	width: 15px;
	left: 9px;
	background-position: -20px 0
}
.cart-total a.btn-takeout:hover .btn-icon {
	background-position: -20px -12px
}
.cart-total .delivery {
	width: 106px;
	height: 28px;
	border: 1px solid #edd28b;
	padding-left: 40px;
	color: #f60;
	line-height: 28px;
	background: #fffdee url(../images/delivery-icon-1.gif) no-repeat 10px 6px
}
.cart-total .total {
	width: 250px;
	margin-left: 10px;
	line-height: 30px;
	font-weight: 700
}
.cart-total .total span {
	float: right;
	color: #e4393c;
	font-size: 20px;
	font-weight: 400;
	font-family: Verdana,Arial
}
.cart-button {
	padding: 10px 0 0
}
.cart-button a.btn span {
	color: #333
}
.cart-button a.continue {
	padding-right: 16px;
	background-position: 100% -198px
}
.cart-button a#continue{background: url(../images/btn-buynew.jpg) no-repeat 0 0;width:94px;height:36px;line-height:36px;text-align:center;padding:0;} 
.cart-button a.continue:hover {
	background-position: 100% -234px
}
.cart-button a#continue:hover{background: url(../images/btn-buynewhover.jpg) no-repeat 0 0;}
.cart-button a.continue .btn-text {
	height: 36px;
	padding: 0 0 0 16px;
	line-height: 36px;
	background-position: 0 -126px
}
.cart-button a#continue .btn-text{background:none;padding:0;text-align:center;width:94px;}
.cart-button a.continue:hover .btn-text {
	background-position: 0 -162px
}
.cart-button a#continue:hover .btn-text{background:none;}
.cart-button a.checkout {
	width: 135px;
	height: 36px;
	float: right;
	display: block;
	overflow: hidden;
	line-height: 100px;
	background: url(../images/btn-checkout201305.jpg) no-repeat
}
.cart-button a.checkout:hover{background:url(../images/btn-hover2.jpg) no-repeat;}
.cart-button .checkout-state {
	width: 356px;
	height: 28px;
	border: 1px solid #edd28b;
	float: right;
	display: block;
	overflow: hidden;
	color: #f60;
	line-height: 28px;
	text-align: center;
	background-color: #fffdee
}

#checkout {width:950px; border:1px solid #ddd; }
#checkout .mt {height:28px; background-color:#f7f7f7;padding-top:7px;}
#checkout .mt h2 {height:35px; overflow:hidden; line-height:100px; background:url(../images/checkout-title.gif) no-repeat 10px 0;}

#checkout .form-tip {color:#999;}
#invoiceConsignee #checkout .form-tip{height: 26px;padding-left: 20px;float: left;line-height: 26px;}
/*#invoiceConsignee #checkout select{width: 120px}*/

#checkout .btn-submit {height:30px; margin-right:10px; padding-left:20px; float:left; line-height:30px; font-size:14px; font-weight:700; background:url(../images/btn-save2013.png) no-repeat 0 0;}
#checkout .btn-submit span {height:30px; padding-right:20px; float:left; cursor:pointer; background:url(../images/btn-save2013.png) no-repeat 100% -30px;}
#checkout a.btn-submit, #checkout a.btn-submit:visited, #checkout a.btn-submit:hover {color:#fff; text-decoration:none;}

#checkout .btn-submit:hover {height:30px; margin-right:10px; padding-left:20px; float:left; line-height:30px; font-size:14px; font-weight:700; background:url(../images/btn-hovercom.jpg) no-repeat 0 0;}
#checkout .btn-submit:hover span {height:30px; padding-right:20px; float:left; cursor:pointer; background:url(../images/btn-hovercom.jpg) no-repeat 100% -30px;}


.checkout-steps {}
.checkout-steps .step {border-top:1px solid #ddd;}

.checkout-steps .step-current {width:946px; margin:-1px; border:3px solid #f60; position:relative; z-index: 9999}
.checkout-steps .step-title {height:45px; padding:0 20px; line-height:45px;position:relative;}
.checkout-steps .step-title strong {color:#999; font-size:14px;}
.checkout-steps .step-current .step-title strong, .checkout-steps .step-complete .step-title strong {color:#000;}
.checkout-steps .step-action {padding-left:10px; color:#005ea7; font-size:12px; font-weight:400;}
.checkout-steps .step-action a, .checkout-steps .step-action a:visited, .checkout-steps .step-action a:hover {color:#005ea7;}

.sbox-wrap {padding:0 42px;}
.sbox {width:862px; overflow:hidden;}
#checkout .sbox {padding:0px 0 20px;}
#checkout .step-complete .sbox-wrap {padding:0 44px;}
#checkout .s-content p {line-height:22px;}

strong, b {
font-weight: bold;
}

#consignee {}
/* #consignee .content {padding-bottom:15px;}
#consignee .s-content p {line-height:22px;}
#consignee .form {padding:10px 0 20px;} */
#consignee .form .form-tip {padding-left:10px; float:left;}
#consignee .item, #part-invoice .item {height:28px; margin-bottom:5px; overflow:hidden; zoom:1; line-height:28px;}
#consignee .item label b{font-weight:normal;}
#consignee .item-selected label b{font-weight:bold;}
#part-invoice .item strong{font-weight:normal;}
#part-invoice .item-selected strong{font-weight:bold;}
#consignee .item-selected, #part-invoice .item-selected {background-color:#fff4d3;}
#consignee .item .hookbox, #part-invoice .item .hookbox {margin:7px 5px 0 8px; *margin:3px 2px 0 5px;}
#consignee-list .item-action {padding-left:20px; color:#999;}
#consignee-list .item-action a, #invoice-list .item-action a {margin:0 5px; color:#005ea7;}
#consignee-list .item-action a:visited, #consignee-list .item-action a:hover,
#invoice-list .item-action a:visited, #invoice-list .item-action a:hover{color:#005ea7;}

#consignee .address-list,#part-invoice .invoice-more{height:18px; margin-bottom:1px; overflow:hidden;}
#consignee .address-list .inner {width:900px; height:17px;border-top:1px solid #ffffff; _border-top:1px solid #ccc; text-align:center;}
#consignee .address-list .inner:hover { border-top:1px solid #ccc; }
#part-invoice .invoice-more .inner {width:900px; height:17px;text-align:center;border-top:1px solid #ffffff;_border-top:1px solid #ccc;}
#part-invoice .invoice-more .inner:hover{border-top:1px solid #ccc;}
#select-more #invoice-more-btn{width:100px; height:16px; margin:-1px auto 0; border:1px solid #ccc; border-top-color:#fff; position:relative; text-align:left; cursor:pointer; background:url(../images/more-bg-1.gif) repeat-x;}
#select-more span, #select-more s,#invoice-more-btn span, #invoice-more-btn s {float:left; cursor:pointer;}
#select-more span {margin-right:5px; color:#666; line-height:16px;}
#select-more, #invoice-more-btn {width:100px; height:16px; margin:-1px auto 0; border:1px solid #ccc; border-top-color:#fff; position:relative; text-align:left; cursor:pointer; background:url(../images/more-bg-1.gif) repeat-x;}
#consignee .address-list .select-expand span, #part-invoice .invoice-more .select-expand span { padding-left: 10px;}
#select-more span, #invoice-more-btn span {color: #666666;line-height: 16px;margin-right: 5px;}
#select-more s , #invoice-more-btn s{width:5px; height:7px; margin-top:4px; overflow:hidden; line-height:0; font-size:0; background:url(../images/more-arrow-1.gif) no-repeat 0 -6px;}
#consignee .address-list .select-expand span {padding-left:13px;}
#consignee .address-list .select-collapse span {padding-left:13px;}
#consignee .address-list .select-collapse s {background-position:0 0;}

#consignee .list {padding:5px 0; overflow:hidden; zoom:1;}
#consignee .list .label {width:85px; height:26px; margin-right:5px; float:left; color:#666; line-height:26px; text-align:right;}
#consignee .list .label em, .invoice-form .list .label em {margin-right:5px; color:#f60; font-family:sans-serif;}
#consignee .list .field {height:26px; float:left; line-height:26px;}
#consignee .message, #part-invoice .message {border:1px solid #db9a9a; padding:4px 0; background-color:#ffe8e8;}
#consignee .message .error, #part-invoice .error {height:26px; padding-left:6px; float:left; color:#c00; line-height:26px;}
#consignee .message i, #part-invoice .message i {margin-right:5px; float:left; overflow:hidden; line-height:0; font-size:0;}
#consignee .message .error i, #part-invoice .message .error i {width:16px; height:15px; margin-top:5px; background:url(../images/error-icon-1.gif) no-repeat;}

#consignee .textbox {width:138px; height:16px; border:1px solid #ccc;padding:4px 3px; font-family:Arial,"\5b8b\4f53",sans-serif;}
#consignee input.focus {border:1px solid #fdd253; background-color:#ffffe6;}

#consignee .list-radio .hookbox{vertical-align: top;margin:7px 5px 0 0;}
#consignee .list-radio label{margin-right:20px;}

#consignee .select-address select {height:22px; margin:2px 5px 0 0;}

#consignee .full-address .textbox {width:308px;}

#consignee .phone {float:left;}
#consignee .phone span, #consignee .phone em {float:left;}
#consignee .phone em {padding:0 20px 0 5px; color:#999;}
#consignee .phone span {color:#666;}

#consignee .form-btn {height:30px; padding-top:4px;}


#part-invoice {}
.invoice-form .list {padding:1px 0; overflow:hidden; clear:both;}
.invoice-form .list .label {width:95px; color:#666; line-height:26px; text-align:right;}
.invoice-form .list .field {float:left;}
.invoice-form .hookbox-list, .invoice-form .hookbox-list li {float:left;}
.invoice-form .hookbox-list li {padding-right:20px; overflow:hidden; line-height:26px;}
.invoice-form .hookbox-list .hookbox {margin:6px 5px 0 8px; *margin:1px 2px 0 5px;}
.invoice-form .company-textbox {width:200px; height:16px; border:1px solid #CCC; padding:4px 3px; font-family:Arial,"\5b8b\4f53",sans-serif;}
.invoice-form .book-group {padding-top:10px; clear:both;}
.invoice-form .invoice-group {overflow:hidden; zoom:1;}
.invoice-form .invoice-group-label {float:left; line-height:26px;}
#part-invoice .invoice .remark {color:#f60; line-height:22px;}

#special-form {}
#special-form .pull-tips {padding:5px 0 5px 105px;}
#special-form .list {clear:both; zoom:1;}
#special-form .label {margin-right:10px;}
#special-form .list-last .label {margin-right:0;}
#special-form .textbox {width:308px; height:16px; border:1px solid #CCC; padding:4px 3px; font-family:Arial,"\5b8b\4f53",sans-serif;}
#special-form .invoice-types .field {width:790px;}
#special-form .invoice-types .field li {zoom:1;}
#special-form .invoice-types .field label {word-break: break-all; word-wrap: break-word;}
.invoice-tips li {line-height:18px;}
.invoice-tips li span {color:#c00;}
.invoice-tips li.fore1 {padding-bottom:10px;}
.invoice-tips li.fore2 {color:#f60;}
#part-invoice .invoice-note {padding:1px 0 5px 1px; color:#f60;}
#part-invoice .form-btn {padding-top:10px; clear:both;}


#payment-ship {}
/* #payment-ship .sbox {padding:10px 0 20px;} */
#payment-ship .form-btn {height:30px; }
#payment-ship .payment {padding-bottom:10px;}
#payment-ship .payment-message-success {color:#090;}

#payment-ship h3 {height:30px; border-bottom:1px dashed #ffe6bc; line-height:30px;}
#payment-ship .way-category h4 {height:28px; margin-top:-5px; margin-bottom:3px; border-bottom:1px dashed #ffe6bc; position:relative; line-height:28px; font-size:14px;}
#payment-ship .item {overflow:hidden; zoom:1; line-height:28px;}

#payment-ship .item-selected {background-color:#fff4d3;}
#payment-ship #shipment .item-selected{height:28px;}
#payment-ship .item-selected .field{}
#payment-ship #shipment .item-selected .field{display:block;}
#payment-ship .item-selected .sment-mark{display:block;}
#payment-ship .item .hookbox {margin:7px 5px 0 8px; *margin:3px 2px 0 5px;cursor: pointer;}
#payment-ship .item label {cursor: pointer;}
@-moz-document url-prefix() {
    #payment-ship .item .hookbox {margin-top:7px 5px 0 8px;}
}

#payment-ship .mc {/*overflow:visible;*/}
#payment-ship .sment-box {padding-bottom:5px;}
#payment-ship .item .label {width:210px;float:left;}
#payment-ship .item .label em {color:#c00;}
#payment-ship .item .field {float:left;}
#payment-ship .item .tip {
font-size: 12px;
line-height: normal;
}
#payment-ship .item .tip {padding:0 5px 0 0; color:#999;background:none;border:none;position:static;z-index:inherit;box-shadow:0;}
#payment-ship .item .tip a{color:#005EA7;}

#payment-ship a.rlink, #payment-ship a.rlink:visited, #payment-ship a.rlink:hover {color:#005ea7;}
#payment-ship .payment-selected, #payment-ship .way-list .way-item {line-height:22px;}
#payment-ship .payment-selected {padding-bottom:0px;}
#payment-ship .way-list .way-item span {color:#c00;}
#payment-ship .payment-info a, #payment-ship .payment-info a:visited, #payment-ship .payment-info a:hover {color:#005ea7; text-decoration:none;}
#payment-ship .way .way-category-label {padding:5px 0; color:#005ea7;position:relative;z-index:2;}
.payment-mark {
    width:600px;
    padding-bottom:10px;
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    border: 1px solid #FFF4D3;
    padding:0 20px 10px;
    margin:10px 0 10px 70px;
}
.payment-bank {width:900px;}
.payment-bank .tabs {height:28px; border-bottom:1px solid #edd28b; background-color:#fff;}
.payment-bank .tabs li {width:98px; height:28px; border-right:1px solid #edd28b; float:left; color:#666; line-height:28px; font-size:14px; font-weight:700; text-align:center; cursor:pointer;}
.payment-bank .tabs li.current {height:29px; margin-bottom:-1px; position:relative; color:#f60; background-color:#fffdee;}
.payment-bank .bank-content {padding:10px 40px;}
.payment-bank .list {padding:10px 0;}
.payment-bank .list h4 {font-weight:400;}
.payment-bank .list h4 span {color:#999; font-weight:400;}
.payment-bank .bank li {width:132px; height:37px; margin-right:15px; padding-top:10px; float:left; overflow:hidden;}
.payment-bank .bank .bank-selected li {width:200px;}
.bank li.b-btn {line-height:37px;}
.bank li.b-btn a, .bank li.b-btn a:visited, .bank li.b-btn a:hover {color:#005ea7;}
.bank label {height:33px; border:1px solid #ccc; padding:1px; position:relative; cursor:pointer;}
.bank li.selected label {height:33px; border:2px solid #f60; padding:0;}
.bank li .hookbox {margin:10px 5px 0 8px; *margin:6px 2px 0 5px;}
.bank label em.b-quick {width:16px; height:16px; display:block; position:absolute; right:-1px; bottom:-1px; color:#fff; line-height:16px; text-align:center; background-color:#c00;}
.bank .bank-selected label span {float:left;}
.bank .bank-selected label .b-number {width:60px; height:33px; padding-right:5px; float:left; line-height:33px; text-align:center; background-color:#fff;}
.bank label span {width:128px; height:33px; display:block; overflow:hidden; line-height:100px; background:url(../images/bank-icon.png) no-repeat;}
.bank li.selected label em.b-quick {right:-2px; bottom:-2px; _bottom:-3px;}
.bank label.bank-icbc span {background-position:0 0;}
.bank label.bank-abc span {background-position:-129px 0;}
.bank label.bank-bcom span {background-position:-258px 0;}
.bank label.bank-ccb span {background-position:-387px 0;}
.bank label.bank-cmb span {background-position:-516px 0;}
.bank label.bank-boc span {background-position:-645px 0;}
.bank label.bank-bob span {background-position:0 -34px;}
.bank label.bank-post span {background-position:-129px -34px;}
.bank label.bank-cmbc span {background-position:-258px -34px;}
.bank label.bank-hxb span {background-position:-387px -34px;}
.bank label.bank-ceb span {background-position:-516px -34px;}
.bank label.bank-spdb span {background-position:-645px -34px;}
.bank label.bank-cib span {background-position:0 -68px;}
.bank label.bank-citic span {background-position:-129px -68px;}
.bank label.bank-pab span {background-position:-258px -68px;}
.bank label.bank-cgb span {background-position:-387px -68px;}
.bank label.bank-sdb span {background-position:-516px -68px;}
.bank label.bank-srcb span {background-position:-645px -68px;}
.bank label.bank-cbhb span {background-position:0 -102px;}
.bank label.bank-hzb span {background-position:-129px -102px;}
.bank label.bank-jsb span {background-position:-258px -102px;}
.bank label.bank-njcb span {background-position:-387px -102px;}
.bank label.bank-unionpay span {background-position:0 -170px;}
.bank label.bank-tenpay span {background-position:-129px -170px;}
.bank label.bank-99bill span {background-position:-258px -170px;}
.bank label.bank-chinapnr span {background-position:-387px -170px;}
.bank label.bank-cmpay span {background-position:-516px -170px;}

.express-form {padding-top:0px;position:relative;z-index:1;}
.express-form .list {padding:2px 0; overflow:hidden; zoom:1; line-height:24px;}
.express-form .field {float:left;}
.express-form .label {width:120px; margin-right:5px; line-height:24px; text-align:right;}
.express-form .warm-prompt {color:#999;}
.express-form .delivery-time {}
.express-form .delivery-time .t-item {height:26px; overflow:hidden; zoom:1; line-height:26px;}
.express-form .hookbox {margin:6px 5px 0 8px; *margin:1px 2px 0 5px;}
.express-form .payment-type {}
.express-form .payment-type ul {float:left;}
.express-form .payment-type li {padding-right:12px; float:left; overflow:hidden; zoom:1; line-height:26px;}
.express-form .big-tick select {height:22px; margin:2px 10px 0 0;}
.express-form .tooltip {height:20px;line-height:20px; border:1px solid #edd28b; padding:0 10px; float:left; background-color:#fffdee;}
.express-form .tooltip span {margin-right:5px; float:left; color:#f60;}
.express-form .tooltip .tooltip-close {width:7px; height:7px; line-height:50px;margin-top:8px; float:left; overflow:hidden;  background:url(../images/tooltip-close-icon-1.gif) no-repeat;zoom:1;}

.sment-form {padding-top:5px;}
.sment-form .list {height:26px; padding:5px 0; overflow:hidden; zoom:1; line-height:26px;}
.sment-form .list select {height:22px; margin-top:2px;}
.sment-form .note li {float:left; color:#999; line-height:22px;}
.sment-form .note li.first {width:120px;text-align:right;}

.subway-line {padding:0 0 5px;}


#campus-sment .sment-box, #subway-sment .sment-box {width:900px; overflow:hidden; zoom:1;}
/*#campus-sment .sment-box .item, #subway-sment .sment-box .item {width:450px; float:left;}*/
#campus-sment .item .label, #subway-sment .item .label {width:170px;}


#payment-ship .sment-mark {padding-left:25px; line-height:28px;display:none;}


#part-order {}
#part-order h2 {height:30px; overflow:hidden; zoom:1; line-height:30px;}

#part-order .invoice {margin-bottom:10px; border-bottom:1px solid #ffe6bc; padding-bottom:10px;}
#part-order .invoice-content {padding-top:5px;}
#checkout .invoice-content {line-height:22px;}
#checkout .check-fq{padding-left:20px;}
#checkout .check-fq input{vertical-align: middle;width:16px;height:16px;margin-left:-20px}
#checkout .check-fq .cl999{color: #999}
#checkout a.return-edit {float:right; font-size:12px; font-weight:400;padding-right:24px;text-decoration:bottom;}
#checkout a.return-edit, #checkout a.return-edit:visited {color:#005ea7;}
#checkout a.return-edit:hover {color:#005ea7;}

#order-cart {width:862px;}
#order-cart .order-review {width:862px; padding-top:5px;}
#order-cart .review-thead {width:100%;}
#order-cart .review-thead td {height:25px; border-left:1px solid #fff; color:#666; line-height:25px; text-align:center; background-color:#eeeeee;}
#order-cart .review-thead .fore1 {border-left:0;}
#order-cart .review-thead .fore2 {width:150px;}
#order-cart .review-thead .fore3 {width:120px;}
#order-cart .review-thead .fore4 {width:100px;}
#order-cart .review-tbody {border-bottom:1px dashed #ddd; padding:10px 0;}
#order-cart .review-block .block-header {border-bottom:1px solid #ddd;}
#order-cart .review-block .block-header td {line-height:30px;}
#order-cart .review-block .block-header {background-color:#ddefff;}
#order-cart .review-suit .block-header {background-color:#e0f1ff;}
#order-cart .review-block td.p-promotion {line-height:normal;}
.review-present .block-header .fore1 b, .review-sale .block-header .fore1 b {width:34px; height:23px; margin:5px 10px 0 0; float:left; overflow:hidden; background:url(../images/iconadd.jpg) no-repeat;}
.review-present .block-header .fore1 b {background-position:0 -23px;}
#order-cart .review-gift {border-bottom:1px dashed #ddd; padding:5px 10px; color:#999;}
#order-cart .p-goods {width:406px;}
#order-cart .order-table {width:862px;}
#order-cart .order-table td {padding-left:1px;}
#order-cart .order-table .fore1 {width:499px; padding:0 10px;}
#order-cart .order-table .p-price {width:140px; padding-right:10px; text-align:right;}
#order-cart .order-table .p-promotion {width:120px; padding-top:5px;}
#order-cart .order-table .fore2 {width:100px; text-align:center;}
#order-cart .order-table .p-price strong {color:#333;}
#order-cart .p-promotion span {height:20px; margin-bottom:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; display:block; overflow:hidden; color:#fff; line-height:20px; text-align:center;}
#order-cart .p-promotion em {font-family:Verdana,Arial;}
#order-cart .p-promotion .return-now {background-color:#3b0;}
#order-cart .p-promotion .give-points {background-color:#f90;}
#order-cart .p-inventory {}
#order-cart .p-inventory strong {color:#c00;}
#order-cart .p-inventory a, #order-cart .p-inventory a:visited, #order-cart .p-inventory a:hover {color:#005ea7;}
#order-cart .review-tbody-highlight {margin:-1px 0; border:1px solid #db9a9a; position:relative; background-color:#ffe8e8;}
#order-cart .review-tbody-highlight .order-table {width:898px;}
#order-cart .review-tbody-highlight .p-goods {width:404px;}
#order-cart .p-goods {overflow:hidden; zoom:1;}
#order-cart .p-img {width:50px; height:50px; margin-right:5px; border:1px solid #ddd; padding:0; float:left; overflow:hidden;}
#order-cart .p-detail {width:346px; float:left; line-height:16px;}
#order-cart .p-detail .p-tip {width:60px; float:left; color:#c00;}
#order-cart .p-name {width:345px; height:32px; overflow:hidden; zoom:1;}
#order-cart .p-name a, #order-cart .p-name a:visited, #order-cart .p-name a:hover {color:#005ea7;}
#order-cart .p-more, #order-cart .p-extra {color:#999; line-height:20px;}
#order-cart .p-extra {padding-top:5px;}
#order-cart .safe-tip {color:#c00;}
#order-cart .safe-tip a, #order-cart .safe-tip a:visited, #order-cart .safe-tip a:hover {color:#005ea7;}
#order-cart .order-gift {padding-top:5px;}
#order-cart .order-gift td {color:#999; line-height:20px;}
#order-cart .order-gift-not td {color:#c00; border-top:1px solid #db9a9a; border-bottom:1px solid #db9a9a; background-color:#ffe8e8;}

.order-summary {padding-top:10px; overflow:hidden; zoom:1;}
.order-summary label, .order-summary input {float:left;}
.order-summary .summary-form {width:600px; overflow:hidden;}
.order-summary .hookbox {margin:7px 5px 0 8px; *margin:3px 2px 0 5px;}
@-moz-document url-prefix() {
    .order-summary .hookbox {margin:8px 5px 0 8px;}
}
.order-summary .summary-form .item {height:28px; overflow:hidden; zoom:1; line-height:28px;}
.order-summary .statistic {width:300px;}
.order-summary .statistic .list {height:24px; line-height:24px; overflow:hidden; zoom:1;}
.order-summary .statistic span {width:180px; margin-right:20px; float:left; text-align:right;}
.order-summary .statistic em {color:#e4393c;}
.order-summary .statistic .price{color:#333333;float:left;width:100px;text-align:right;}
.order-coupon {padding-top:10px;}
.order-coupon .toggle-title {height:30px; overflow:hidden; zoom:1;}
.order-coupon .toggler {height:15px; margin-top:7px; float:left; line-height:15px;}
.order-coupon .toggler b {width:15px; height:15px; margin-right:5px; float:left; overflow:hidden; line-height:0; font-size:0; background:url(../images/toggler-arrow.gif) no-repeat;}
.order-coupon .toggle-active .toggler b {background-position:0 -15px;}
.order-coupon a.toggler, .order-coupon a.toggler:visited, .order-coupon a.toggler:hover {color:#005ea7;}
.order-coupon .toggle-wrap {padding:0 20px 10px;}
.order-coupon .cbox {width:858px; background-color:#eefaff;}
.order-coupon .inner {padding:5px 18px;border:1px solid #A3D1EC;boder-top:none;}


#order-remark .group {height:26px; line-height:26px;}
#order-remark .textbox {width:250px; height:16px; margin-right:10px; border:1px solid #ddd; border-top-color:#aaa; border-left-color:#aaa; padding:4px;}

.checkout-buttons {width:950px; height:50px; background-color:#f5f5f5;position:relative;}
.checkout-steps .step-current .checkout-buttons {width:950px;}
.checkout-buttons .inner {padding-right:18px;}
.checkout-buttons .total {padding-right:18px; float:right; line-height:50px; font-size:14px; font-weight:700;}
.checkout-buttons .total strong {color:#e4393c; font-size:20px;vertical-align:bottom;font-weight:normal;}
.checkout-buttons .checkout-state {width:180px; height:34px; margin-top:8px; border:1px solid #edd28b; float:right; display:block; overflow:hidden; color:#f60; line-height:34px; text-align:center; background-color:#fffdee;}
.checkout-buttons .checkout-state b {width:30px; height:30px; margin:2px 0 0 10px; float:left; display:inline; background:url(../images/loading_shop.gif) no-repeat center center;}
.checkout-buttons .checkout-submit,
.checkout-buttons .checkout-submit2{margin-top:5px; border:0; float:right; cursor:pointer; }
.checkout-buttons .checkout-submit {width:135px; height:36px; background:url(../images/btn-updata.png) no-repeat;line-height:100px;overflow:hidden;margin-top:8px; }

.checkout-buttons .checkout-submit2 {width: 195px;height: 42px;background:url(../images/btn-order2.png) no-repeat;}
.checkout-buttons .sticky-placeholder {width:950px; height:50px; border-top:1px solid #ddd;}
* html .checkout-buttons .sticky-placeholder {
    position:absolute;
    bottom:auto;
    top:expression( ( 0 - this.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
.checkout-steps .step-current .sticky-placeholder {width:950px;}
.checkout-buttons .sticky-placeholder .sticky-wrap {width:100%; height:50px; background-color:rgba(238, 238, 238, 0.8); background-color:transparent\9; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#CCEEEEEE',endColorstr='#CCEEEEEE'); zoom:1;}
@-moz-document url-prefix() {
    .checkout-steps .sticky-placeholder {margin-left:1px;}
}
.check-code {padding-bottom:10px; float:right;}
.check-code img, .checkcode input {float:left;}
#checkCodeDiv #checkcodeTxt {width:60px!important; height:18px!important; border:1px solid #aaa; border-top-color:#666; border-left-color:#666; padding:6px 4px!important; _display:inline; line-height:18px;}


.btn-sure,.btn-sured,.btn-conti,.btn-impay{display:inline-block;*zoom:1;line-height:100px;overflow:hidden;border:none;line-height:150px;font-size:0; vertical-align:middle;;width:155px;height:38px;background-repeat:no-repeat;cursor:pointer;}
.btn-sure:hover,.btn-conti:hover,.btn-impay:hover{background-position:0 -38px;}
.btn-sure,.btn-sured{background:url(../images/btn-07.png) no-repeat}
.btn-sured{background-position:0 -76px}
.btn-sure{background-position:0 0}
.btn-conti{background:url(../images/btn-08.png) no-repeat}
.btn-impay{background:url(../images/btn-03.png) no-repeat;}

/*icon*/
.icon-info03,.icon-succ05{display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;background:url(../images/pur-icon.png) no-repeat}
.icon-succ05{background-position:-49px -235px;width:16px;height:16px}
.icon-info03{background-position:-42px 0;width:32px;height:32px}
.icon-succ02,.icon-wrong02,.icon-warn02{background-image:url(../images/icon48.png);display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;width:48px;height:48px}
.icon-wrong02{background-position:-48px 0;}
.icon-warn02{background-position:-96px 0;}
.icon-ques05,.icon-info05{background:url(../images/icon16.png);display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;width:16px;height:16px}
.icon-ques05{background-position:-48px 0}
.icon-info05{background-position:-64px 0; }
/*prompt*/
.prompt{position:relative;border:1px solid #c4c4c4;background:#ffffff;box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);zoom:1;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;width:100px}
.pb{position:absolute;}.pb b{position:absolute;left:0;font-size:0;line-height:0;overflow:hidden;border:4px dashed transparent;}.pb .b1{z-index:1;}.pb .b2{z-index:2;}.pb b.b3{border-width:6px;z-index:0;display:none\9;}
*|html[xmlns*=""] .pb b.b3 {display:none;}
.pb-t b{border-bottom-style:solid;}.pb-t .b1{top:-1px;border-bottom-color:#c4c4c4;}.pb-t .b2{top:0;border-bottom-color:#ffffff;}.pb-t .b3{top:-3px;left:-1px;border-bottom-color:rgba(0,0,0,0.08);}
*html .pb-r{right:-1px;}.pb-r b{border-left-style:solid;}.pb-r .b1{right:-11px;top:-1px;border-left-color:#EDD28B;border-width:11px;}.pb-r .b2{right:-11px;border-left-color:#FFFDEE;}.pb-r .b3{top:-2px;left:4px;border-left-color:rgba(0,0,0,0.15);}
.pb-b b{border-top-style:solid;}.pb-b .b1{bottom:-12px;border-top-color:#EDD28B;}.pb-b .b2{bottom:-11px;border-top-color:#FFFDEE;}.pb-b .b3{bottom:-19px;left:-2px;border-top-color:rgba(0,0,0,0.15);}
.pb-l b{border-right-style:solid;}.pb-l .b1{left:-1px;top:-9px;border-right-color:#c4c4c4;}.pb-l .b2{top:-9px;border-right-color:#ffffff;}.pb-l .b3{top:-11px;left:-5px;border-right-color:rgba(0,0,0,0.08);}
/*fontcolor*/
.ftx-01,a.flk-01:link,a.flk-01:visited,.flk-01 a:link,.flk-01 a:visited{color:#E4393C}.ftx-02{color:#7ABD54}.ftx-03,a.flk-03:link,a.flk-03:visited,.flk-03 a:link,.flk-03 a:visited{color:#999999;}.ftx-04,a.flk-04:link,a.flk-04:visited,.flk-04 a:link,.flk-04 a:visited{color:#ff6600;}.ftx-05,a.flk-05:link,a.flk-05:visited,.flk-05 a:link,.flk-05 a:visited{color:#005ea7;}.ftx-06{color:#666666;}

/*201305UI*/
.main .m3{padding-top:30px;padding-bottom:30px;margin-bottom:10px;margin-left:0;margin-right:0}
.m3 .icon-succ02{float:left;margin-left:40px}
.m3 .fore{margin-left:98px;overflow:hidden}
.m3 .fore .ftx-02{font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:normal;margin-bottom:15px}
.m3 .fore0 dd{padding-right:15px;margin-right:15px;border-right:1px solid #cccccc;color:#666666;}
.m3 li,.mtips li{padding-right:15px;margin-right:15px;border-right:1px solid #cccccc;}
.m3 .list-h .fore2{border-right:none}
#qpay .list-h{margin-bottom:20px}
	.list-h{overflow:hidden;zoom:1}
.list-h li{float:left};
	
.main{border:none;margin-bottom:16px}
#sp3{border-width:2px}
.o-mb{ background-color:#fff;font-size:12px;height:35px;line-height:35px;padding-left:0}
#footer{border-top:1px solid #F1F1F1;padding-top:11px}
#qpay{background:#F3FDED;border-top:2px solid #7ABD54;padding-right:20px}
.m3 .fore .list-h{margin-bottom:12px}
.m3 .fore .list-h li{color:#333}
.z-tips01 h3{font-size:12px;font-weight:normal;color:#999}
.tabs{border-bottom:none}
.tab{overflow:visible;border:solid #DDDDDD;border-width:1px 1px 0;background-color:#F7F7F7;height:30px;line-height:30px;}
.tab li{float:left;border-right:1px solid #DDDDDD;text-align:center;height:29px;padding:0 28px;position:relative;overflow:hidden;color:#666666;font:18px/29px "microsoft yahei"}
.tab li.curr{background:#fffdee;height:38px;/*-webkit-box-shadow:1px 0 0 0 rgba(7,0,2,.2);-moz-box-shadow:0px 1px 0 0 rgba(7,0,2,.2);*/box-shadow:3px -2px 2px 0 rgba(7,0,2,.1);border:solid #EDD28B;border-width:2px 2px 0 2px;margin-top:-8px;margin-bottom:-2px;margin-left:-1px;position:relative;z-index:9}
.tab li.curr,.tab li.curr a:link,.tab li.curr a:visited{color:#ff6600;}
.tab li a:link,.tab li a:visited{color:#333333;}

.mtips{padding:50px 0}
.i-mtips{padding-left:150px}
.mtips .icon-succ02,.mtips .icon-wrong02,.mtips .icon-warn02,#flex_warn .icon-warn02{float:left}
.mtips .fore{margin-left:60px}
.mtips .fore h3{font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:normal;margin-bottom:15px}
.mtips .fore h3 a{font-size:12px;margin-left:12px}#flex_warn h3{padding-top:5px;}#flex_warn .btns{text-align:center;padding-top:20px}
.icon-wrong02{background-position:-48px 0;}
.icon-warn02{background-position:-96px 0;}
.i-mtips .list-h{overflow:hidden}
.i-mtips  li{padding-right:15px;margin-right:15px;border-right:1px solid #cccccc;color:#333;float:left}
.i-mtips .list-h .fore3{border-right:none}
	
.sku-size-select {
white-space: nowrap;
}
.sizeOptions li {
float: left;
}
.colorOptions li, .sizeOptions li {
margin: 0 4px 6px 0px;
_display: inline;
}
.sizeOptions li a {
border: 1px solid #999;
padding: 2px 6px;
display: block;
_float: left;
background: #fff;
}
.colorOptions li a, .sizeOptions li a {
color: #666;
text-decoration: none;
cursor: default;
}
.order-coupon .btn-add {margin-right:3px;width:50px; height:25px; border:0; line-height:25px; text-align:center; background:url(../images/btn-upunm.png) no-repeat;color:#fff;}
.order-coupon .textbox {width:180px; height:16px; margin-right:5px; border:1px solid #ddd; border-top-color:#aaa; border-left-color:#aaa; padding:4px;}
/*购物流程 END Ben Add 20130618*/
