 @{
    Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayout.cshtml";
 }
<link href="/Areas/Shop/Themes/PC01/Content/Css/returnorder.css" rel="stylesheet" type="text/css" /> 
    <script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".cancel").die("click").live("click", function () {
            var _self = $(this);
            var rid = $(this).attr('rid');
            $.ajax({
                type: "POST",
                dataType: "text",
                timeout: 0,
                url: $YSWL.BasePath + "ReturnOrder/AjaxCancelRetu",
                data: { RId: rid },
                success: function (data) {
                    switch (data) {
                        case "True":
                            _self.parent().prev().text("已取消");
                            _self.remove();
                            ShowSuccessTip("操作成功");
                            break;
                        case "False":
                            ShowFailTip("操作失败");
                            break;
                        default:
                            break;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ShowFailTip("操作失败：" + errorThrown);
                }
            });
            ShowFailTip("");
        });
    })
</script>
 
<input type="hidden" id="currentpage" value="returnorder"/>
    <div class="col-main">
        <!-- 用户信息 E -->
       <div class="user_dingdantitle">退货</div>
        <div id="LoadList">
        @Html.Action("ReturnList","ReturnOrder")
        </div>
    </div>
<script src="/scripts/MvcPager-1.8.js" type="text/javascript"></script>

    















