body
{
    font-size: 12px;
    font-family:Verdana;  
    }
td  
{
    font-size: 12px;
    font-family:Verdana;  
     
     }
a { color: #000000; text-decoration: none 
}
a:hover { color:#E78a29; text-decoration: none}

.pre
        {
            background-color: #f5f5f5;
            padding: 5px;
            border: #d3d3d3 1px solid;
        }
        
.toptitle
        {
            font-size: medium;
            font-weight: bold;
        }
        
        .style1
        {
            color: #0066FF;
            text-decoration: underline;
            font-weight:bold;
             
        }
        .style2
        {
            color: #0066FF;
            text-decoration:none;
            font-weight:bold;
             
        }