<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MaticsoftSqlServer" connectionString="server=192.168.1.10;database=MaticsoftFK;uid=sa;pwd=1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=192.168.1.10;database=MaticsoftFK;uid=sa;pwd=1"/>
    <add key="ConnectionStringAccounts" value="server=192.168.1.10;database=MaticsoftFK;uid=sa;pwd=1"/>
    <add key="DAL" value="Maticsoft.SQLServerDAL"/>
    <add key="VirtualPath" value=""/>
    <add key="WebURL" value=""/>
    <add key="MenuExpanded" value="false"/>
    <add key="AdManager" value="Manager"/>
    <add key="CacheTime" value="30"/>
    <add key="ModelCache" value="30"/>
    <!-- BEN Login START -->
    <add key="DefaultLogin" value="/login.aspx"/>
    <add key="DefaultLoginAdmin" value="/admin/login.aspx"/>
    <add key="DefaultLoginEnterprise" value="/Enterprise/Login.aspx"/>
    <!-- BEN Login END -->
  </appSettings>
</configuration>