@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@model YSWL.Accounts.Bus.User
<div class="mar30">
    <div class="contenttitle2">
        <h3>
            用户信息</h3>
        <small class="desc">您可以查看用户信息</small>
    </div>
    <div style="background-color: #ffffff; border: 1px solid #CCC;">
        <table style="width: 100%;" cellpadding="2" cellspacing="1" class="border">
            <tr>
                <td class="tdbg">
                    <table cellspacing="0" cellpadding="3" width="100%" border="0">
                        <tr>
                            <td class="td_class">
                                用户名:
                            </td>
                            <td height="25">
                                @Model.UserName
                            </td>
                        </tr>
                        <tr>
                            <td class="td_class">
                                真实姓名:
                            </td>
                            <td height="25">
                                @Model.TrueName
                            </td>
                        </tr>
                        <tr>
                            <td class="td_class">
                                邮箱:
                            </td>
                            <td height="25">
                                @Model.Email
                            </td>
                        </tr>
                        <tr>
                            <td class="td_class">
                                用户IP:
                            </td>
                            <td height="25">
                                <label>@ViewBag.UserIP</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <asp:label id="lblMsg" runat="server" forecolor="Red"></asp:label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_class">
                            </td>
                            <td height="25">
                                <div class="form stdform">
                                    <input type="button" name="btnEdit" value="修改" id="btnSaveUserInfo" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSaveUserInfo").click(function () {
            window.location.href = $YSWL.BasePath + 'Home/UserModify';
        });
    });
</script>
