 <div class="empty">
    <div class="img_wrap">
        <img src="/Areas/MShop/Themes/MC01/Content/images/shp_cart.png" alt="">
    </div>
    <div class="txt">
        <p>您的购物车空空哒</p>
        <p>去<a href="@(ViewBag.BasePath)p" class="link">逛逛</a></p>
    </div>
</div>
