    @model List<YSWL.MALL.Model.Shop.Products.ProductInfo>

        @if (Model != null && Model.Count > 0)
        {
                <ul  >
                    @foreach (var item in Model)
                    {
                    <li>
                        <a title="@item.ProductName" href="@(ViewBag.BasePath)p/d/@item.ProductId">
                            <div class="pro_img">
                                <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T115X115_")" alt="@item.ProductName" onerror="this.onerror = ''; this.src = '/Content/themes/base/images/404/404_1.png'">
                            </div>
                            <div class="pro_info">
                                <p class="price">
                                    ￥@item.LowestSalePrice.ToString("F")
                                </p>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
        }
