@model  YSWL.MALL.Model.Settings.Advertisement
@if (Model != null)
            {
    <div class="module wrap">
        <div class="ad">
            <a href="@Model.NavigateUrl" title="@Model.AdvertisementName" target="_blank"><img src="@Model.FileUrl" alt="@Model.AdvertisementName"></a>
        </div>
    </div>
}

